<!DOCTYPE html>
<html>
<head>
	<title>首页</title>
	<meta charset="utf-8">
        {% load static %}
        
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name=renderer content=webkit>
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/avalon.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'layui/css/layui.css' %}">


</head>
<!-- 头部 -->
{% include 'header.html' %}
 
     
     <div class="curr_address">
           当前位置：百科知识 百科分类
     </div>

     <div class="artcalAll">
          <div class="leftarcallist">
                <ul>
                    <li class="curre_dh">备孕百科</li>
                    <li>怀孕百科</li>
                    <li>不孕不育</li>
                    <li>试管婴儿</li>
                    <li>育儿百科</li>
                </ul>

                <div class="child_fl">
                        <div class="fl_list">
                            <h3>子分类名称</h3>
                            <ol>
                                <li>这里我是细分的关键词</li>
                                <li>这里我是</li>
                                <li>这里我是细分的</li>
                                <li>这里我是细分的关键词</li>
                                <li>这里我是细</li>
                                <li>这里我是细分的关</li>
                                <li>这里我是</li>
                                <li>这里我是细</li>
                                <li>这里我是细分的关键</li>
                                <li>这里我是细分的关键词</li>
                                <li>这里我是细分</li>
                                <li>这里我是细分的关键词</li>
                            </ol>
                        </div>
                        <div class="fl_list">
                            <h3>子分类名称</h3>
                            <ol>
                                <li>这里我是细分的关键词</li>
                                <li>这里我是</li>
                                <li>这里我是细分的</li>
                                <li>这里我是细分的关键词</li>
                                <li>这里我是细</li>
                                <li>这里我是细分的关</li>
                                <li>这里我是</li>
                                <li>这里我是细</li>
                                <li>这里我是细分的关键</li>
                                <li>这里我是细分的关键词</li>
                                <li>这里我是细分</li>
                                <li>这里我是细分的关键词</li>
                            </ol>
                        </div>
                </div>






          </div>
         <div class="rightarclalist">

         </div>
     </div>
<!-- 底部 -->
{% include 'footer.html' %}
</body>
</html>