<!DOCTYPE html>
<html>
<head>
    <title>百科栏目列表</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name=renderer content=webkit>
    <meta name="description" content="专业的试管婴儿讨论咨讯平台，在这里可以找到各种问题情况，同时也可以找到一些志同道合的人，这里有专业的医生解决试管婴儿等不孕不育问题，是一个很好的试管婴儿和不孕不育的平台">
    <meta name="keywords" content="育儿网，专业试管婴儿">
    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/avalon.js' %}"></script>
    <script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/uitls/tool.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">


</head>
{% include 'header.html' %}

    <!-- 底部 -->
    <div style="width: 1200px; margin: 0 auto; overflow: hidden;margin-bottom: 50px;" class="footeres">
        <p style="font-size: 14px; color: #333;">友情链接:申请合作</p>
        <div class="lianjieyq" style="margin-top: 30px;">
            {% for item in friendlink %}
                <a href="{{ item.link }}">{{ item.link_name }}</a> {% endfor %}
        </div>
    </div>
    {% include 'footer.html' %}

</div>

</html>