<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>备孕交流</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="备孕交流">
    <meta name="keywords" content="备孕交流">
    <link rel="stylesheet" href="{% static 'css/coment.css' %}">
    <link rel="stylesheet" href="{% static 'css/yuerlt.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/idangerous.swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
    <script src="{% static 'js/uitls/jquery.min.js' %}"></script>
    <script src="{% static 'js/uitls/avalon.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'layui/layui.all.js' %}"></script>
    <script src="{% static 'js/uitls/idangerous.swiper2.7.6.min.js' %}"></script>
    <script src="{% static 'js/uitls/tool.js' %}"></script>
</head>

<body>
{% include 'config.html' %}
{% include 'header.html' %}
<!-- 主体部分 -->
<section class="byjlmain wid clearfix" ms-controller="luntanbox" style='margin-top:30px;'>
    <!-- 左侧部分 -->
    <div class="byjl_l fl">
        <div class="byjl_l_h">
            <span>当前位置：</span>
            <a href="javascript:;">育儿论坛</a>
            <span>></span>
            <a href="javascript:;">{navdata[Mid-1].name}</a>
        </div>
        <div class="byjl_l_main clearfix">
            <h3>{navdata[Mid-1].name}</h3>
            <div class="main_nav" ms-repeat-as="navdata[Mid-1].child">
                <div ms-attr-class="selectTid==as.id?'selectId':''">
                    <img ms-attr-src="as.thumb" ms-attr-alt="{as.name}"><a
                        ms-attr-href="/luntan/articlelist/?tid={as.id}&all=1&Mid={Mid}">{as.name}</a></div>
            </div>

        </div>
    </div>
    <!-- 文章评论主体 -->
    <div class="byjl_main fl">
        <div class="main_btn">
            <div ms-click="goChange(0)" ms-attr-class='typenum==0?"btnSelect":""'>全部</div>
            <div ms-click="goChange(1)" ms-attr-class='typenum==1?"btnSelect":""'>最新</div>
            <div ms-click="goChange(2)" ms-attr-class='typenum==2?"btnSelect":""'>热门</div>
            <div ms-click="goChange(3)" ms-attr-class='typenum==3?"btnSelect":""'>推荐</div>
        </div>
        <ul class="main_lis fl">
            <li ms-repeat-el="lisdata">
                <div class="imgbox">
                    <img ms-attr-src="/media/{el.user.head}" alt="">
                </div>
                <div class="lis_info">
                    <p>
                        <a ms-attr-href="/luntan/articles/?aid={el.id}">{el.title}</a>
                    </p>
                    <p class="desinfo">
                        <a ms-attr-href="/luntan/articles/?aid={el.id}">
                            {el.content|html}
                        </a>
                    </p>
                    <div class="byjl_userinfo clearfix">
                        <div class="byjl_info_l fl">
                            <span>{el.user.username}</span>
                            <span>{el.publish_date.replace(/\d+:.*/,'')}</span>
                        </div>
                        <div class="byjl_info_r fr">
                            <span ms-click="gothumup(el.id)"><i class='iconfont'>&#xe64c;</i>{el.thumbup}</span>
                            <a href="javascript:;"><span><i class='iconfont'>&#xe66a;</i>{el.commentnum}</span></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- 分页 -->
        <div id="test1"></div>
    </div>
    <!-- 右侧信息栏 -->
    <div class="byjl_r fl">
        <div class="pushpost">
            <h4>{navdata[Mid-1].name}</h4>
            <p>这里可以解决你的问题，快和大家一起讨论吧！</p>
            <p class='post_info clearfix'>
                <span><i class='iconfont'>&#xe60f;</i>7496 篇文章</span>
                <span><i class='iconfont'>&#xe877;</i>7496 位医生回复</span>
            </p>
            <div class="postBtn">
                {% if request.user.is_active %}
                    <a href="/luntan/postarticle">发布新帖</a>
                {% else %}
                    <a href="/login">发布新帖</a>
                {% endif %}
            </div>
        </div>
        <div class="ad">
            <a href="javascript:;">
                <img src="{% static 'images/yuerlt/greenthree_1.png' %}" alt="">
            </a>
        </div>

        {% include 'mod_tjjl.html' %}
        {#        热点标签#}
        {% include 'mod_hotbq.html' %}
    </div>
</section>
<!-- 底部轮播 -->
<section class='qndr' ms-controller="qndrbox">
    <div class="qndr-h">
        <h4>圈内达人</h4>
    </div>
    <!-- 达人轮播 -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ms-repeat-as="qndrData">
                <div class="drinfo" ms-repeat-its="as">
                    <div class="imgbox">
                        <a ms-attr-href="/users/centerhim/{its.article.id}">
                            <img ms-attr-src="/media/{its.article.user.head}" alt="">
                            <span>{its.article.user.username}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 导航按钮 -->
        <div class="leftBtn iconfont lb_btn">&#xe609;</div>
        <div class="rightBtn iconfont lb_btn">&#xe60a;</div>
        <!-- 分页器 -->
    </div>

</section>
{% include 'footer.html' %}
<script>
    (function () {
        var lb_btn = $('.lb_btn');
        var drSwiper = new Swiper('.swiper-container', {
            loop: true,
            // autoplay: 5000,
            speed: 2000,
        });
        $('.leftBtn').click(function () {
            drSwiper.swipePrev();
        });
        $('.rightBtn').click(function () {
            drSwiper.swipeNext();
        });
        $('.swiper-container').mousemove(function () {
            lb_btn.each(function () {
                $(this).addClass('yesShow');
            });
        }).mouseleave(function () {
            lb_btn.each(function () {
                $(this).removeClass('yesShow');
            });
        })
    })();
</script>
<script type="text/javascript">
    (function () {
        var api_yuming = root_Domain;
        var inturl = window.location.href.replace(/&all=1&Mid=\d.*/, '');//初始化数据请求链接
        var Mid = window.location.href.substr(window.location.href.indexOf('Mid='), 5).replace('Mid=', '');//对应主栏目id
        var selectTid = window.location.href.substr(window.location.href.indexOf('tid'), 6).replace('&', '').replace(/tid=/, '');
        var count = 1;
        var vm_ltlist = avalon.define({
            $id: 'luntanbox',
            lisdata: [],
            Mid: 0,//父id
            selectTid: 0,
            typenum: 0,//子id
            navdata: [],//父栏目数据
            count: 0,
            goChange: function (type_num) {
                location.hash = '';
                if (type_num == 0) {
                    inturl = window.location.href.replace(/&all=1&Mid=\d.*/, '');
                } else {
                    inturl = window.location.href.replace(/&all=1&Mid=\d.*/, '') + '&type=' + type_num;
                }
                vm_ltlist.typenum = type_num;
                init(inturl);
            },
            gothumup: function (id) {
                $.ajax({
                    url: root_Domain + '/luntan/thumbup/?aid=' + id,
                    type: 'get',
                    dataType: 'text',
                    success: function (ajax) {
                        if (ajax.length > 4) {
                            layer.msg(ajax);
                            return false;
                        } else {
                            layer.msg(ajax);
                            $.ajax({
                                url: inturl,
                                type: 'get',
                                dataType: 'json',
                                success: function (ajax) {
                                    var lisdata = ajax.data.curuent_page;
                                    for (let i = 0; i < lisdata.length; i++) {
                                        var constr = lisdata[i].content.match(/[\u4e00-\u9fa5]|\w/g).toString().replace(/(,|\w)/g, '').substr(0, 200);
                                        if (lisdata[i].content.match(/<img.*\/>/g)) {
                                            var snimg = lisdata[i].content.match(/<img.*\/>/g)[0];
                                            lisdata[i].content = constr + snimg
                                        } else {
                                            lisdata[i].content = constr;
                                        }
                                    }
                                    vm_ltlist.lisdata = lisdata;

                                }, error: function (error) {
                                    console.log(error)
                                }
                            })
                        }
                    }, error: function (error) {
                        console.log(error);
                    }
                })
            },

        });
        vm_ltlist.selectTid = selectTid;
        vm_ltlist.Mid = Mid;
        var vm_qndrbox = avalon.define({
            $id: 'qndrbox',
            qndrData: [],
            init: function () {
                $.ajax({
                    url: root_Domain + '/luntan/hotarticles/?num=12',
                    type: 'get',
                    dataType: 'json',
                    success: function (ajax) {
                        var userdata = [];
                        for (let i = 0; i < 3; i++) {
                            var qrdardata = ajax.data.splice(0, 4);
                            userdata.push(qrdardata);
                        }
                        vm_qndrbox.qndrData = userdata;
                    }, error: function (error) {
                        console.log(error);
                    }
                })
            },
        })
        vm_qndrbox.init();

        function pageAjax(current) {
            Toolfun.iszhezClass();
            $.ajax({
                url: inturl + '&page=' + current,
                type: 'get',
                dataType: 'json',
                success: function (ajax) {
                    var _this = vm_ltlist;
                    var lisdata = ajax.data.curuent_page;
                    for (let i = 0; i < lisdata.length; i++) {
                        var constr = lisdata[i].content.match(/[\u4e00-\u9fa5]|\w/g).toString().replace(/(,|\w)/g, '').substr(0, 200);
                        if (lisdata[i].content.match(/<img.*\/>/g)) {
                            var snimg = lisdata[i].content.match(/<img.*\/>/g)[0];
                            lisdata[i].content = constr + snimg
                        } else {
                            lisdata[i].content = constr;
                        }
                    }
                    vm_ltlist.lisdata = lisdata;
                    Toolfun.qxzheClass();
                }, error: function (error) {
                    console.log(error);
                }
            })
        }

        function render(count, limit, btnnum) {//count总条数，limit限定条数，btnnum按钮显示条数
            layui.use('laypage', function () {// 分页
                var laypage = layui.laypage;
                laypage.render({
                    elem: 'test1',
                    count: count,
                    limit: limit,
                    curr: location.hash.replace('#!page=', ''),
                    hash: 'page',
                    groups: btnnum,
                    prev: '上一页',
                    next: '下一页',
                    layout: ['prev', 'page', 'next'],
                    jump: function (obj, first) {
                        var curr = obj.curr;
                        pageAjax(curr);
                    }
                });
            });
        }

        function init(inturl) {
            Toolfun.iszhezClass();
            $.ajax({
                url: inturl,
                type: 'get',
                dataType: 'json',
                success: function (ajax) {
                    var _this = vm_ltlist;
                    var lisdata = ajax.data.curuent_page;
                    for (let i = 0; i < lisdata.length; i++) {
                        var constr = lisdata[i].content.match(/[\u4e00-\u9fa5]|\w/g).toString().replace(/(,|\w)/g, '').substr(0, 200);
                        if (lisdata[i].content.match(/<img.*\/>/g)) {
                            var snimg = lisdata[i].content.match(/<img.*\/>/g)[0];
                            lisdata[i].content = constr + snimg
                        } else {
                            lisdata[i].content = constr;
                        }
                    }
                    vm_ltlist.lisdata = lisdata;
                    _this.count = ajax.data.maxnum;
                    render(vm_ltlist.count, 10, 5);
                    Toolfun.qxzheClass();
                }, error: function (error) {
                    console.log(error);
                }
            })
        };
        init(inturl);//初始化
        $.ajax({
            url: api_yuming + '/luntan/areas/',
            type: 'get',
            dataType: 'json',
            success: function (ajax) {
                vm_ltlist.navdata = ajax.data;
                localStorage.clear();//清除localStorage中的缓存
                localStorage.setItem('Mlanm', vm_ltlist.navdata[Mid - 1].name);
                localStorage.setItem('Mid', vm_ltlist.Mid);
                var navData = JSON.stringify(ajax.data[vm_ltlist.Mid - 1].child);
                localStorage.setItem('topicNavs', navData);
            }, error: function (error) {
                console.log(error);
            }
        })
    })();
</script>
</body>

</html>