<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="备孕交流">
    <meta name="keywords" content="备孕交流">
    <link rel="stylesheet" href="{% static 'css/coment.css' %}">
    <link rel="stylesheet" href="{% static 'css/yuerlt.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/idangerous.swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
    <script src="{% static 'js/uitls/jquery.min.js' %}"></script>
    <script src="{% static 'js/uitls/avalon.js' %}"></script>
    <script src="{% static 'layui/layui.all.js' %}"></script>
    <script src="{% static 'js/uitls/idangerous.swiper2.7.6.min.js' %}"></script>
    <script src="{% static 'js/uitls/tool.js' %}"></script>
</head>

<body>
{% include 'header.html' %}
<!-- 主体部分 -->
<section class="byjlmain wid clearfix" ms-controller="luntanbox" style='margin-top:30px;'>
    {Mid}
    <!-- 左侧部分 -->
    <div class="byjl_l fl">
        <div class="byjl_l_h">
            <span>当前位置：</span>
            <a href="#">育儿论坛</a>
            <span>></span>
            <a href="#">备孕交流圈</a>
        </div>
        <div class="byjl_l_main clearfix">
            <h3>备孕交流圈</h3>
            <div class="main_nav">
                <div><img src="{% static 'images/yuerlt/00.png' %}" alt=""><a href="">孕前期变为好不是不v</a></div>
                <div><img src="{% static 'images/yuerlt/00.png' %}" alt=""><a href="">孕前期变为好不是不v</a></div>
                <div><img src="{% static 'images/yuerlt/00.png' %}" alt=""><a href="">孕前期变为好不是不v</a></div>
            </div>
            {#                <div class="main_nav">#}
            {#                    <div class="nav_tit">#}
            {#                        <a href="#">备孕饮食</a>#}
            {#                    </div>#}
            {#                    <div class="nav_as">#}
            {#                        <a href="#">孕前期</a>#}
            {#                        <a href="#">孕前期</a>#}
            {#                        <a href="#">孕前期</a>#}
            {#                        <a href="#">孕前期</a>#}
            {#                        <a href="#">孕前期</a>#}
            {#                        <a href="#">孕前期</a>#}
            {#                        <a href="#">孕前期</a>#}
            {#                        <a href="#">孕前期</a>#}
            {#                        <a href="#">孕前期</a>#}
            {#                    </div>#}
            {#                </div>#}
        </div>
    </div>
    <!-- 文章评论主体 -->
    <div class="byjl_main fl">
        <div class="main_btn">
            <div btnall='rand' class='btnSelect'>全部</div>
            <div btndata='pubdata'>{ Mid }</div>
            <div btnhot='hotinfo'>热门</div>
            <div btntj='tjinfo'>推荐</div>
        </div>
        <ul class="main_lis fl">
            <li ms-repeat-el="lisdata">
                <div class="imgbox">
                    <img src="{% static 'images/yuerlt/pexels.png' %}" alt="">
                </div>
                <div class="lis_info">
                    <p>
                        <a href="/luntan/articles/?aid={el.id}">{el.title}</a>
                    </p>
                    <p class="desinfo">
                        <a href="/luntan/articles/?aid={el.id}">{el.content}</a>
                    </p>
                    <div class="byjl_userinfo clearfix">
                        <div class="byjl_info_l fl">
                            <span>{el.user.username}</span>
                            <span>{el.publish_data.replace(/\d+:.*?/,'')}</span>
                        </div>
                        <div class="byjl_info_r fr">
                            <span><i class='iconfont'>&#xe64c;</i>{el.thumbup}</span>
                            <a href=""><span><i class='iconfont'>&#xe66a;</i>{el.commentnum}</span></a>
                        </div>
                    </div>
                </div>
            </li>
            {#                <li>#}
            {#                    <div class="imgbox">#}
            {#                        <img src="{%static 'images/yuerlt/pexels.png'%}" alt="">#}
            {#                    </div>#}
            {#                    <div class="lis_info">#}
            {#                        <p>#}
            {#                            <a href="#">我是文章标题只显示一行点击跳转至文章详情鼠标悬浮悬浮显示当前色</a>#}
            {#                        </p>#}
            {#                        <p class="desinfo">#}
            {#                            <a href="#">我是文章预览文字最多显示两行我是文章预览文字最多显示两行我是文章预我是文章预览文字最我是文章预览文字最多显示两行我是文章预览文字最多显示两行我是文章预我是文章预览文字最多显示两行我是文章预览文字最多显示两行我是文章预多显示两行我是文章预览文字最多显示两行我是文章预览文字最多显</a>#}
            {#                        </p>#}
            {#                        <div class="byjl_userinfo clearfix">#}
            {#                            <div class="byjl_info_l fl">#}
            {#                                <span>我是用户名</span>#}
            {#                                <span>2020.10.31</span>#}
            {#                            </div>#}
            {#                            <div class="byjl_info_r fr">#}
            {#                                <span><i class='iconfont'>&#xe64c;</i>8808</span>#}
            {#                                <a href=""><span><i class='iconfont'>&#xe66a;</i>8808</span></a>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </li>#}
        </ul>
        <!-- 分页 -->
        <div id="test1"></div>
    </div>
    <!-- 右侧信息栏 -->
    <div class="byjl_r fl">
        <div class="pushpost">
            <h4>备孕交流圈</h4>
            <p>我是交流圈介绍最多显示两</p>
            <p class='post_info clearfix'>
                <span><i class='iconfont'>&#xe60f;</i>7496 篇文章</span>
                <span><i class='iconfont'>&#xe877;</i>7496 位医生回复</span>
            </p>
            <div class="postBtn">
                <a href="#">发布新帖</a>
            </div>
        </div>
        <div class="ad">
            <a href="#">
                <img src="{% static 'images/yuerlt/greenthree_1.png' %}" alt="">
            </a>
        </div>
        <div class="tjjlq">
            <div class="tjjl-h">
                <h3>推荐交流圈</h3>
            </div>
            <ul class='tjjlbox'>
                <li>
                    <div>
                        <img src="{% static 'images/yuerlt/zhiliao.png' %}" alt="">
                        <span>好孕妈妈交流圈</span>
                    </div>
                    <div>749 个话题</div>
                </li>
                <li>
                    <div>
                        <img src="{% static 'images/yuerlt/zhiliao.png' %}" alt="">
                        <span>好孕妈妈交流圈</span>
                    </div>
                    <div>749 个话题</div>
                </li>
                <li>
                    <div>
                        <img src="{% static 'images/yuerlt/zhiliao.png' %}" alt="">
                        <span>好孕妈妈交流圈</span>
                    </div>
                    <div>749 个话题</div>
                </li>
                <li>
                    <div>
                        <img src="{% static 'images/yuerlt/zhiliao.png' %}" alt="">
                        <span>好孕妈妈交流圈</span>
                    </div>
                    <div>749 个话题</div>
                </li>
                <li>
                    <div>
                        <img src="{% static 'images/yuerlt/zhiliao.png' %}" alt="">
                        <span>好孕妈妈交流圈</span>
                    </div>
                    <div>749 个话题</div>
                </li>
            </ul>
        </div>
        <div class="hot_bq">
            <div class="rgt_tit">
                <h4><span>热点话题</span></h4>
            </div>
            <ul class='hot_bqbox'>
                <li><a href="#">试管婴儿</a></li>
                <li><a href="#">试管婴儿</a></li>
                <li><a href="#">试管婴儿</a></li>
                <li><a href="#">试管婴儿而非个人各</a></li>
                <li><a href="#">试管婴儿</a></li>
                <li><a href="#">试管婴儿</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- 底部轮播 -->
<section class='qndr'>
    <div class="qndr-h">
        <h4>圈内达人</h4>
    </div>
    <!-- 达人轮播 -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="drinfo">
                    <div class="imgbox">
                        <a href="#">
                            <img src="{% static 'images/yuerlt/user03.png' %}" alt="">
                            <span>我是用户名</span>
                        </a>
                    </div>
                    <div class="infolis">
                        <span><a href='#'>发帖 50</a></span>
                        <span><a href='#'>回复 50</a></span>
                        <span><a href='#'>分享 50</a></span>
                    </div>
                </div>
                <div class="drinfo">
                    <div class="imgbox">
                        <a href="#">
                            <img src="{% static 'images/yuerlt/user03.png' %}" alt="">
                            <span>我是用户名</span>
                        </a>
                    </div>
                    <div class="infolis">
                        <span><a href='#'>发帖 50</a></span>
                        <span><a href='#'>回复 50</a></span>
                        <span><a href='#'>分享 50</a></span>
                    </div>
                </div>
                <div class="drinfo">
                    <div class="imgbox">
                        <a href="#">
                            <img src="{% static 'images/yuerlt/user03.png' %}" alt="">
                            <span>我是用户名</span>
                        </a>
                    </div>
                    <div class="infolis">
                        <span><a href='#'>发帖 50</a></span>
                        <span><a href='#'>回复 50</a></span>
                        <span><a href='#'>分享 50</a></span>
                    </div>
                </div>
                <div class="drinfo">
                    <div class="imgbox">
                        <a href="#">
                            <img src="{% static 'images/yuerlt/user03.png' %}" alt="">
                            <span>我是用户名</span>
                        </a>
                    </div>
                    <div class="infolis">
                        <span><a href='#'>发帖 50</a></span>
                        <span><a href='#'>回复 50</a></span>
                        <span><a href='#'>分享 50</a></span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
        </div>
        <!-- 导航按钮 -->
        <div class="leftBtn iconfont lb_btn">&#xe609;</div>
        <div class="rightBtn iconfont lb_btn">&#xe60a;</div>
        <!-- 分页器 -->
    </div>

</section>
<footer style='width: 100%;height:388px;background-color:skyblue;margin-top:45px;'></footer>
<script>
    (function () {
        $(document).ready(function () {
            var lb_btn = $('.lb_btn');
            var drSwiper = new Swiper('.swiper-container', {
                loop: true,
                // autoplay: 5000,
                speed: 1000,
            });
            $('.leftBtn').click(function () {
                drSwiper.swipePrev();
            });
            $('.rightBtn').click(function () {
                drSwiper.swipeNext();
            });
            $('.swiper-container').mousemove(function () {
                lb_btn.each(function () {
                    $(this).addClass('yesShow');
                });
            }).mouseleave(function () {
                lb_btn.each(function () {
                    $(this).removeClass('yesShow');
                });
            })
        });
    })();
</script>
<script type="text/javascript">
    (function () {
        avalon.config({
            interpolate: ["{", "}"]
        })
        var count = 1;

        function render(count, limit, btnnum) {//count总条数，limit限定条数，btnnum按钮显示条数
            layui.use('laypage', function () {// 分页
                var laypage = layui.laypage;
                laypage.render({
                    elem: 'test1',
                    count: count,
                    limit: limit,
                    curr: location.hash.replace('#!page=', ''),
                    hash: 'page',
                    groups: btnnum,
                    prev: '上一页',
                    next: '下一页',
                    layout: ['prev', 'page', 'next']
                });
            });
        }

        var api_yuming = 'http://127.0.0.1:8000';
        var inturl = window.location.href.replace(/&all=1&Mid=\d/, '');//初始化数据请求链接
        var Mid = window.location.href.replace(/.*?&Mid=/, '');//对应主栏目id
        var vm_ltlist = avalon.define({
            $id: 'luntanbox',
            lisdata: [],
            Mid: 0,
            navdata: [],
            mainnav: [],
            count: 0,
        })
        vm_ltlist.Mid = Mid;
        $.ajax({
            url: inturl,
            type: 'get',
            dataType: 'json',
            success: function (ajax) {
                var _this = vm_ltlist;
                _this.lisdata = ajax.data.curuent_page;
                _this.count = ajax.data.maxnum;
                console.log(vm_ltlist.lisdata, 2);
                render(vm_ltlist.count, 10, 5);
            }, error: function (error) {
                console.log(error);
            }
        })
        $.ajax({
            url: api_yuming + '/luntan/areas/',
            type: 'get',
            dataType: 'json',
            success: function (ajax) {
                vm_ltlist.navdata = ajax.data;
                console.log(ajax, 22222, vm_ltlist.navdata);
            }, error: function (error) {
                console.log(error);
            }
        })
    })();
</script>
</body>

</html>