<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>消息中心-试管婴儿_育儿网</title>
    {% load static %}
    {% load notifications_tags %}
    {% notifications_unread as unread_count %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/avalon.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/coment.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'layui/css/layui.css' %}">
</head>
<body>
{% include 'header.html' %}
<div class="centers" ms-controller="centeres">
    <div class="ctops">
        {{ data.userinfo }}
        <style>
            .ctops {
                position: relative;
            }
            .thtuxiang {
                position: absolute;
                background: red;
                border-radius: 124px;
                background: rgba(0, 0, 0, 0.7);
                opacity: 0.7;
                left: 0;
                top: 0;
                display: none;
            }

            .hovser:hover .thtuxiang {
                display: block;
            }
            .centers .tjjlbox > li > div:nth-of-type(2){
                margin-left:0;
            }
            .centers .tuijianjjq{
                width: 96%;
            }
            .centers .tuijianjjq i{
                color:#777;
            }
        </style>
        <div class="tuxiang hovser">
            <img src="\media/{{ data.userinfo.user_avatar }}" width="124" height="124" style="border-radius: 124px;">
            <div class="tuxiang thtuxiang">
                <img src="{% static 'img/Vector.png' %}" alt="" style="position: absolute; left: 50%; margin-left: -9px; top: 50%; margin-top: -9px; z-index: 5;">
                <div class="eidt" id="test1"
                     style="width: 24px; height:19px; background: #fff; border-radius: 50%; position:absolute; z-index: 9; right: 5px; bottom: 5px; text-align: center; padding-top: 5px;">
                    <i class="layui-icon">&#xe642;</i>
                </div>
            </div>
        </div>
        <div class="iam_username">{{ user }}</div>
        <div class="jd_tiao">
            <div class="jdt" id="slideTest18"></div>
        </div>
        <div class="jin_pai">
            {{ data.level }}
        </div>
        <div class="czz_czz">
            成长值 {{ data.integral }}
        </div>

    </div>


    <div class="nav_list">
        <div class="nav_left">
            <div class="navs">
                <ul>
                    <li ms-class="curee_cener:aa==1" ms-click="getBox(1)">
                        全部（{{ unread_count }}）
                    </li>
                </ul>
            </div>

            <style>
                .tjjlq {
                    background: #fff;
                }

                .tjjlbox {
                    padding-left: 20px;
                    width: 95%;
                }

                .tuijianjjq ul {
                    width: 91%;
                }
                .partonecont li p span{
                    float:left;
                }
                .partonecont ul li img{
                    float:none;
                    width: 30px;
                    height:30px;
                }
            </style>
<!--<span>在{{ notification.target | safe }}</span>-->
            <div class="bott_box" ms-if="aa == 1">
                <div class="partonecont">
                    <ul>
                        {% if unread_count %}
                            {% for notification in request.user.notifications.all %}
                                <li style="overflow:hidden;">
                                    <a style="float:left;" href="/users/centerhim/{{ notification..actor.id }}"><img src="\media/{{ notification.actor.info.user_avatar }}">{{ notification.actor }}</a>
                                    <p style="margin-top: 5px;">
                                        <span>【{{ notification.timesince }}之前】</span>
                                        <span style="color:pink;display:inline-block;padding:0 6px;">{{ notification.actor }}</span>
                                        <span>在{{ notification.target | safe }}</span>
                                        <span style="float:left;padding:0 6px;color:skyblue;">{{ notification.verb |safe}}</span>
                                    </p>
                                </li>

                            {% empty %}
                                暂无消息
                            {% endfor %}

                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
        <div class="nav_right">
            <div class="tuijianjjq">
                {% include 'mod_tjjl.html' %}
                <div class="tuijianjjq">
                    <h4 style="background: #fff; height: 40px; line-height: 40px; padding-left: 20px"><abbr>热门回答</abbr>
                    </h4>
                    {% include 'mod_hotwenda.html' %}
                </div>

            </div>


        </div>


    </div>
    {% include 'footer.html' %}
    <script type="text/javascript">
        layui.use('slider', function () {
            var slider = layui.slider;
            slider.render({
                elem: '#slideTest18',
                value: {{ data.integral }},
                max: 10000,
                disabled: true, //禁用滑块
                // showstep:false,
                theme: "#FF44AD"
            });
        });
    </script>
    <script>
        if (layui) {
            layui.use('layer', function () {
                var layer = layui.layer;
            });
        }
    </script>
    <script type="text/javascript">
        avalon.config({
            interpolate: ["{", "}"]
        });
        var wvm = avalon.define({
            $id: "centeres",
            aa: 1,
            cc: 1,
            getcodewenzi: '获取验证',
            edit_passwad: {
                phone: '',
                verification_Code: '',
                new_password: ''
            },
            uploades: function () {
                layui.use('upload', function () {
                    var upload = layui.upload;
                    //执行实例
                    var uploadInst = upload.render({
                        elem: '#test1' //绑定元素
                        , url: '/users/upload' //上传接口
                        , accept: 'images'
                        , size: 500
                        , done: function (res, index, upload) {
                            //上传完毕回调
                            if (res.code == 200) {
                                window.location.reload();
                            }
                        }
                        , error: function () {
                            //请求异常回调
                        }
                    });
                });
            },
            change_edit: function (res) {
                wvm.cc = res;
            },
            getBox: function (res) {
                wvm.aa = res;
            },
            validatorTel: function (content) {
                eval("var reg = /^1[34578]\\d{9}$/;");
                return RegExp(reg).test(content);
            },
            getCode: function () { //获取验证码
                if (wvm.edit_passwad.phone == '' || !wvm.edit_passwad.phone || !wvm.validatorTel(wvm.edit_passwad.phone)) {
                    layer.msg('请填写正确的手机号');
                    return;
                }
                var time = 60;
                if (time == 60) {
                    var time1 = setInterval(function () {
                        if (time == 0) {
                            wvm.getcodewenzi = '重发'
                            $("#sendsms").removeAttr("disabled");
                            time = 60;
                            clearInterval(time1);
                        } else {
                            $("#sendsms").attr("disabled", "true");
                            wvm.getcodewenzi = "重发(" + time + ")";
                            time--;
                        }
                    }, 1000);
                }
                var phone = {
                    phone: wvm.edit_passwad.phone,
                    'csrfmiddlewaretoken': glob_csrftoken
                }
                $.ajax({
                    type: 'post',
                    url: '/users/smsvif',
                    data: phone,
                    dataType: "json",
                    // timeout: 10000,
                    success: function (data) {
                        console.log(data);
                    }
                });
            },
            okedit: function () {
                var new_password = {
                    'new_password': wvm.edit_passwad.password,
                    'csrfmiddlewaretoken': glob_csrftoken
                }
                $.ajax({
                    type: 'post',
                    url: '/users/changepwd',
                    data: new_password,
                    dataType: "json",
                    // timeout: 10000,
                    success: function (data) {
                        layer.msg(data.msg);
                    }
                });

            }
        });
        wvm.uploades();
    </script>
</body>
</html>