<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	{% load static %}
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/avalon.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'layui/css/layui.css' %}">
</head>
<body>
     {% include 'header.html' %}
         <div class="centers" ms-controller="centeres">
         	 <div class="ctops">
         	 	 <div class="tuxiang"><img src="{% static 'img/txCenter.png' %}"></div>
         	 	 <div class="iam_username">我是用户名</div>
         	 	 <div class="jd_tiao">
         	 	 	<div class="jdt" id="slideTest18"></div>
         	 	 </div>
     	 	 	<div class="jin_pai">
     	 	 		金牌
     	 	 	</div>
     	 	 	<div class="czz_czz">
     	 	 		成长值  888 / 10000
     	 	 	</div>
     	 	 	<div class="guanzhus">
     	 	 		关注他
     	 	 	</div>
         	 </div>


             <div class="nav_list">
               <div class="nav_left">
	             	<div class="navs">
	             		<ul>
	             			<li ms-class="curee_cener:aa==1" ms-click="getBox(1)">
	             				全部（999）
	             			</li>
	             			<li ms-class="curee_cener:aa==2"  ms-click="getBox(2)">
	             				通知（1）<span class="layui-badge-dot"></span>
	             			</li>
	             			<li ms-class="curee_cener:aa==3"  ms-click="getBox(3)">
	             				评论（999）<span class="layui-badge-dot"></span>
	             			</li>
	             			<li ms-class="curee_cener:aa==4"  ms-click="getBox(4)">
	             				回复（1）<span class="layui-badge-dot"></span>
	             			</li>
                            <li ms-class="curee_cener:aa==5"  ms-click="getBox(5)">
                                点赞（1）<span class="layui-badge-dot"></span>
                            </li>
	             		</ul>
	             	</div>


                    <div class="bott_box" ms-if="aa == 1">
                    	<div class="partonecont">
                    		 <ul>
                    		 	<li>
                    		 	    <img src="{% static 'img/tuxiang.jpg' %}">
                    		 	    <p style="padding-top: 10px;">我是用户名</p>
                    		 	    <p style="margin-top: 21px;">【最新评论】我是用户评论消息字段，最多显示两行，点击查看对话跳转至文章详情界面点击标注已读消息提示消失，最多显示两行，超出部分用...代替	</p>
                    		 	    <abbr class="abc" style="float: right; color: #FF44AD;"><a href="">查看</a> | <a href="">已读</a></abbr>
                    		    </li>


                    		 	<li>
                    		 	    <img src="{% static 'img/tuxiang.jpg' %}">
                    		 	    <p style="padding-top: 10px;">我是用户名</p>
                    		 	    <p style="margin-top: 21px;">【最新回复】我是用户评论消息字段，最多显示两行，点击查看对话跳转至文章详情界面点击标注已读消息提示消失，最多显示两行，超出部分用...代替	</p>
                    		 	    <abbr class="abc" style="float: right; color: #FF44AD;"><a href="">查看</a> | <a href="">已读</a></abbr>
                    		    </li>

                    		    <li>
                    		 	    <img src="{% static 'img/tuxiang.jpg' %}">
                    		 	    <p style="padding-top: 10px;">我是用户名</p>
                    		 	    <p style="margin-top: 21px;">【点赞】赞了您的评论</p>
                    		 	    <abbr class="abc" style="float: right; color: #FF44AD;"><a href="">查看</a> | <a href="">已读</a></abbr>
                    		    </li>   

                    		    <li>
                    		 	    <img src="{% static 'img/tuxiang.jpg' %}">
                    		 	    <p style="padding-top: 10px;">系统通知</p>
                    		 	    <p style="margin-top: 21px;">我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                    		 	    <abbr class="abc" style="float: right; color: #FF44AD;"><a href="">查看</a> | <a href="">已读</a></abbr>
                    		    </li>   



                    		</ul>
                    	</div>
                    </div> 

                    <div class="bott_box" ms-if="aa == 2">
                    	<div class="my_answer">
                               <ul>
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">系统通知</p>
                                    <p style="margin-top: 21px;">我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li> 
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">系统通知</p>
                                    <p style="margin-top: 21px;">我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li>
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">系统通知</p>
                                    <p style="margin-top: 21px;">我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li>
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">系统通知</p>
                                    <p style="margin-top: 21px;">我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li>
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">系统通知</p>
                                    <p style="margin-top: 21px;">我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li>
                               </ul>




                    	</div>
                    </div>
                    
                     
                     <div class="bott_box" ms-if="aa == 3">

                               <ul class="lwconts">
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">我是用户名</p>
                                    <p style="margin-top: 21px;">【最新评论】我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li> 
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">我是用户名</p>
                                    <p style="margin-top: 21px;">【最新评论】我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li>
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">我是用户名</p>
                                    <p style="margin-top: 21px;">【最新评论】我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li>
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">我是用户名</p>
                                    <p style="margin-top: 21px;">【最新评论】我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li>
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">我是用户名</p>
                                    <p style="margin-top: 21px;">【最新评论】我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li>
                               </ul>

                     </div>


                     <div class="bott_box" ms-if="aa == 4">
                     	<div class="gz_cont">

                     	
                               <ul class="lwconts">
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">我是用户名</p>
                                    <p style="margin-top: 21px;">【最新回复】我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li> 
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">我是用户名</p>
                                    <p style="margin-top: 21px;">【最新回复】我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li>
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">我是用户名</p>
                                    <p style="margin-top: 21px;">【最新回复】我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li>
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">我是用户名</p>
                                    <p style="margin-top: 21px;">【最新回复】我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li>
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">我是用户名</p>
                                    <p style="margin-top: 21px;">【最新回复】我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li>
                               </ul>

                     	</div>
                     </div>


                     <div class="bott_box" ms-if="aa == 5">
                     	<div class="gz_cont">

                     	
                               <ul class="lwconts">
                               	<li>
                    		 	    <img src="{% static 'img/tuxiang.jpg' %}">
                    		 	    <p style="padding-top: 10px;">我是用户名</p>
                    		 	    <p style="margin-top: 21px;">【点赞】赞了您的评论</p>
                    		    </li> 
                    		    <li>
                    		 	    <img src="{% static 'img/tuxiang.jpg' %}">
                    		 	    <p style="padding-top: 10px;">我是用户名</p>
                    		 	    <p style="margin-top: 21px;">【点赞】赞了您的评论</p>
                    		    </li>   
                                <!-- <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">我是用户名</p>
                                    <p style="margin-top: 21px;">【最新回复】我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li> 
                                <li>
                                    <img src="{% static 'img/tuxiang.jpg' %}">
                                    <p style="padding-top: 10px;">我是用户名</p>
                                    <p style="margin-top: 21px;">【最新回复】我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。我是通知内容，这里最多显示两行，点击查看跳转至-通知-菜单栏，显示全部内容，超出部分用...代替。</p>
                                </li> -->
                                
                               </ul>

                     	</div>
                     </div>


                </div>	
                <div class="nav_right">
                	
                    <div class="tuijianjjq">
                    	 <h4><abbr>推荐交流圈</abbr></h4>
                    	 <ul>
                    	 	<li>
                    	 		<a href=""><img src="{% static 'img/tuxiang.jpg' %}">好孕妈妈交流圈</a>
                    	 		<abbr>999 个话题</abbr>
                    	 	</li>
                    	 	<li>
                    	 		<a href=""><img src="{% static 'img/tuxiang.jpg' %}">好孕妈妈交流圈</a>
                    	 		<abbr>999 个话题</abbr>
                    	 	</li>
                    	 	<li>
                    	 		<a href=""><img src="{% static 'img/tuxiang.jpg' %}">好孕妈妈交流圈</a>
                    	 		<abbr>999 个话题</abbr>
                    	 	</li>
                    	 	<li>
                    	 		<a href=""><img src="{% static 'img/tuxiang.jpg' %}">好孕妈妈交流圈</a>
                    	 		<abbr>999 个话题</abbr>
                    	 	</li>
                    	 	<li>
                    	 		<a href=""><img src="{% static 'img/tuxiang.jpg' %}">好孕妈妈交流圈</a>
                    	 		<abbr>999 个话题</abbr>
                    	 	</li>
                    	 </ul>
                    </div>
                    


                    <div class="tuijianjjq">
                    	 <h4><abbr>热门回答</abbr></h4>
                    	 <ul>
                    	 	<li>
                    	 		<a href=""><img src="{% static 'img/tuxiang.jpg' %}">问答标题文字信息只显示一行</a>
                    	 		<abbr>999 个话题</abbr>
                    	 	</li>
                    	 	<li>
                    	 		<a href=""><img src="{% static 'img/tuxiang.jpg' %}">问答标题文字信息只显示一行</a>
                    	 		<abbr>999 个话题</abbr>
                    	 	</li>
                    	 	<li>
                    	 		<a href=""><img src="{% static 'img/tuxiang.jpg' %}">问答标题文字信息只显示一行</a>
                    	 		<abbr>999 个话题</abbr>
                    	 	</li>
                    	 	<li>
                    	 		<a href=""><img src="{% static 'img/tuxiang.jpg' %}">问答标题文字信息只显示一行</a>
                    	 		<abbr>999 个话题</abbr>
                    	 	</li>
                    	 	<li>
                    	 		<a href=""><img src="{% static 'img/tuxiang.jpg' %}">问答标题文字信息只显示一行</a>
                    	 		<abbr>999 个话题</abbr>
                    	 	</li>
                    	 </ul>
                    </div>


                </div>


             </div>




         </div>
     {% include 'footer.html' %}
     <script type="text/javascript">
		layui.use('slider', function(){
		  var slider = layui.slider;
		       slider.render({
		    		elem: '#slideTest18',
		    		value: 888,
		    		max:10000,
		    		disabled: true, //禁用滑块
		    		// showstep:false,
		    		theme:"#FF44AD"
			  });
		});
	</script>
	<script>
    if (layui) {
        layui.use('layer', function () {
            var layer = layui.layer;
        });
    }
</script>
	<script type="text/javascript">
        avalon.config({
            interpolate: ["{", "}"]
        });  
		var wvm = avalon.define({
          $id: "centeres",
          aa:1,
          cc:1,
          getcodewenzi: '获取验证',
          edit_passwad:{
          	phone:'',
          	verification_Code:'',
          	new_password:''
          },
          change_edit:function(res){
              wvm.cc = res;
          },
          getBox:function(res){
              wvm.aa = res;
          },
          validatorTel: function (content) {
            eval("var reg = /^1[34578]\\d{9}$/;");
            return RegExp(reg).test(content);
          },
            getCode: function () { //获取验证码
                if (wvm.edit_passwad.phone == '' || !wvm.edit_passwad.phone || !wvm.validatorTel(wvm.edit_passwad.phone)) {
                    layer.msg('请填写正确的手机号');
                    return;
                }
                var time = 60;
                if (time == 60) {
                    var time1 = setInterval(function () {
                        if (time == 0) {
                            wvm.getcodewenzi = '重发'
                            $("#sendsms").removeAttr("disabled");
                            time = 60;
                            clearInterval(time1);
                        } else {
                            $("#sendsms").attr("disabled", "true");
                            wvm.getcodewenzi = "重发(" + time + ")";
                            time--;
                        }
                    }, 1000);
                }
                var phone = {
                    phone: wvm.edit_passwad.phone
                }
                $.ajax({
                    type: 'post',
                    url: '/users/smsvif',
                    data: phone,
                    dataType: "json",
                    // timeout: 10000,
                    success: function (data) {
                        console.log(data);
                    }
                });
            },
            okedit:function(){
            	var new_password = {
            		new_password:wvm.edit_passwad.password
            	}
                $.ajax({
                    type: 'post',
                    url: '/users/changepwd',
                    data: new_password,
                    dataType: "json",
                    // timeout: 10000,
                    success: function (data) {
                        console.log(data,99999999999999);
                        layer.msg(data.msg);
                    }
                });

            }
        });
	</script>
</body>
</html>