<div class="mainzz">
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<script>
    avalon.config({
        interpolate: ["{", "}"],
        debug: false,
    });
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var glob_csrftoken= getCookie('csrftoken');//'csrfmiddlewaretoken':glob_csrftoken
    var root_Domain = 'http://127.0.0.1:8000';
</script>
