{% load static %}
<div class="footer" style="width: 100%; overflow: hidden; border-top: 1px solid #ff44ad; padding-top: 30px; padding-bottom: 30px;">

    <p style="text-align: center; margin-top: 30px; font-size: 12px;line-height: 25px; color: #666;">
        关于我们 | 联系我们 | 人才招聘 | 法律申明 | 网站地图<br>
        地址：湖北省武汉市洪山区<br>
        邮箱：123456@.com 招聘邮箱:123456.com<br>
        copyright @ 2000 - 2020 yuer.com ALL Rights Reserved 鄂ICP备123456号-1
        网站开通后，请在网站首页底部中间位置放置您的ICP备案号并链接至"http://beian.miit.gov.cn"。 并在开通之日起30日内登录全国互联网安全管理平台提交公安联网备案申请。获取《公安备案信息填写指南》。
    </p>
</div>



