<!DOCTYPE html>
<html>
<head>
	<title>加入问答分类-问答小组列表</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name=renderer content=webkit>
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/avalon.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'layui/css/layui.css' %}">
<!--      <style type="text/css">
      body{ background: #029EE9; }
     </style>
 -->
</head>

<body  ms-controller="bodyconts">
    <div class="header">
       <div class="headerNav">
         <div class="logos"><img src="{% static 'img/logo.jpg' %}"></div>
         <div class="headerNav-ul">
          <ul>
            <li>
              <a href="" class="nava">首页</a>
            </li>
            <li>
              <a href="" class="acolor">试管婴儿</a>
              <div class="xialabox"  style="display: none;">
                <p><a href="">海外试管</a></p>
                <p><a href="">国内试管</a></p>
              </div>
            </li>
            <li>
              <a href="" class="acolor">育儿论坛</a>
              <div class="xialabox" style="display: none;">
                <p><a href="">备孕交流圈</a></p>
                <p><a href="">妈妈交流圈</a></p>
                <p><a href="">试管婴儿交流圈</a></p>
                <p><a href="">难孕交流圈</a></p>
              </div>
            </li>
            <li>
              <a href="" class="acolor">互助问答</a>
              <div class="xialabox" style="display: none;">
                <p><a href="">试管婴儿</a></p>
                <p><a href="">不孕不育</a></p>
                <p><a href="">备孕</a></p>
                <p><a href="">怀孕</a></p>
              </div>
            </li>
            <li>
              <a href="" class="acolor">医院推荐</a>
              <div class="xialabox" style="display: none;">
                <p><a href="">海外医院</a></p>
                <p><a href="">国内医院</a></p>
              </div>
            </li>
            <li>
              <a href="" class="acolor">百科知识</a>
              <div class="xialabox" style="display: none;">
                <p><a href="">备孕</a></p>
                <p><a href="">怀孕</a></p>
                <p><a href="">育儿</a></p>
                <p><a href="">试管婴儿</a></p>
                <p><a href="">不孕不育</a></p>
              </div>
            </li>
          </ul> 
         </div>
         <div class="denglu">
          <div class="pps" style=" margin-top: 64px;position: relative; margin-bottom: 10px;">
                    <div class="yiyuansearch">
                          <div  ms-click="showxiala">{{name}}<i class="layui-icon" style="margin-left: 5px; text-align: center;">&#xe61a;</i></div>
                          <ul class="hites" style="position: absolute; left: 0; width: 55px; font-size: 14px; background:#f1f1f1; z-index: 999999;">
                              <li ms-click="changeSearch('医院')">医院</li>
                              <li ms-click="changeSearch('医生')">医生</li>
                              <li ms-click="changeSearch('问答')">问答</li>
                              <li ms-click="changeSearch('百科')">百科</li>
                          </ul>
                          <ol style="width: 212px; display: none; min-height: 50px; background:#f1f1f1; position: absolute; left: 0;font-size: 14px; z-index: 999999; margin-top: 8px; border-radius: 3px;">
                              <li>我是关键词</li> 
                              <li>我是关键词</li> 
                              <li>我是关键词</li> 
                              <li>我是关键词</li> 
                          </ol>
                    </div>
                    <input type="" name="" id="blurfs">
                    <i class="searchbox"></i>
                </div>
          <p style="position: absolute; top: 20px; right: 4px; text-decoration: none; color:#F94479;"><a href="" style="color:#F94479; text-decoration: none;">登录</a> | <a href="" style="color:#F94479; text-decoration: none;">注册</a></p>
         </div>
       </div>
     </div>
     
   
    <div class="hzwdbanner"><img src="{% static 'img/hzwdbanner.png' %}"></div>

    <div class="hzwdconts">
      <div class="hzwdleftse" style="min-height: 200px;">
           
            <ul>
              <li class="allList">全部</li>
              <li>试管婴儿</li>
              <li>不孕不育</li>
              <li>备孕</li>
              <li>怀孕</li>
            </ul>
            
            <ol>
              <li>
                 <img src="{% static 'img/0111.png' %}" style="float: left; margin-right: 20px;">
                 <h3 style="font-size: 16px;">我是分类标题</h3>
                 <p style="margin: 6px 0; font-size: 12px;">我是分类描述最多显示两行，分类小组是在后台创建的哦</p>
                 <p style=" font-size: 12px; margin-left: 80px;">999个回答</p>
                 <p style="margin-left:80px;"><abbr style=" border-radius: 8px; color: #fff; background: #ff44ad;height:30px; line-height: 30px; display: block; text-align: center; width: 100px; ">立即加入</abbr></p>
              </li>
              <li>
                 <img src="{% static 'img/0111.png' %}" style="float: left; margin-right: 20px;">
                 <h3 style="font-size: 16px;">我是分类标题</h3>
                 <p style="margin: 6px 0; font-size: 12px;">我是分类描述最多显示两行，分类小组是在后台创建的哦</p>
                 <p style=" font-size: 12px; margin-left: 80px;">999个回答</p>
                 <p style="margin-left:80px;"><abbr style=" border-radius: 8px; color: #fff; background: #ff44ad;height:30px; line-height: 30px; display: block; text-align: center; width: 100px; ">立即加入</abbr></p>
              </li>
              <li>
                 <img src="{% static 'img/0111.png' %}" style="float: left; margin-right: 20px;">
                 <h3 style="font-size: 16px;">我是分类标题</h3>
                 <p style="margin: 6px 0; font-size: 12px;">我是分类描述最多显示两行，分类小组是在后台创建的哦</p>
                 <p style=" font-size: 12px; margin-left: 80px;">999个回答</p>
                 <p style="margin-left:80px;"><abbr style=" border-radius: 8px; color: #fff; background: #ff44ad;height:30px; line-height: 30px; display: block; text-align: center; width: 100px; ">立即加入</abbr></p>
              </li>
              <li>
                 <img src="{% static 'img/0111.png' %}" style="float: left; margin-right: 20px;">
                 <h3 style="font-size: 16px;">我是分类标题</h3>
                 <p style="margin: 6px 0; font-size: 12px;">我是分类描述最多显示两行，分类小组是在后台创建的哦</p>
                 <p style=" font-size: 12px; margin-left: 80px;">999个回答</p>
                 <p style="margin-left:80px;"><abbr style=" border-radius: 8px; color: #fff; background: #ff44ad;height:30px; line-height: 30px; display: block; text-align: center; width: 100px; ">立即加入</abbr></p>
              </li>
              <li>
                 <img src="{% static 'img/0111.png' %}" style="float: left; margin-right: 20px;">
                 <h3 style="font-size: 16px;">我是分类标题</h3>
                 <p style="margin: 6px 0; font-size: 12px;">我是分类描述最多显示两行，分类小组是在后台创建的哦</p>
                 <p style=" font-size: 12px; margin-left: 80px;">999个回答</p>
                 <p style="margin-left:80px;"><abbr style=" border-radius: 8px; color: #fff; background: #ff44ad;height:30px; line-height: 30px; display: block; text-align: center; width: 100px; ">立即加入</abbr></p>
              </li>
              <li>
                 <img src="{% static 'img/0111.png' %}" style="float: left; margin-right: 20px;">
                 <h3 style="font-size: 16px;">我是分类标题</h3>
                 <p style="margin: 6px 0; font-size: 12px;">我是分类描述最多显示两行，分类小组是在后台创建的哦</p>
                 <p style=" font-size: 12px; margin-left: 80px;">999个回答</p>
                 <p style="margin-left:80px;"><abbr style=" border-radius: 8px; color: #fff; background: #ff44ad;height:30px; line-height: 30px; display: block; text-align: center; width: 100px; ">立即加入</abbr></p>
              </li>
              <li>
                 <img src="{% static 'img/0111.png' %}" style="float: left; margin-right: 20px;">
                 <h3 style="font-size: 16px;">我是分类标题</h3>
                 <p style="margin: 6px 0; font-size: 12px;">我是分类描述最多显示两行，分类小组是在后台创建的哦</p>
                 <p style=" font-size: 12px; margin-left: 80px;">999个回答</p>
                 <p style="margin-left:80px;"><abbr style=" border-radius: 8px; color: #fff; background: #ff44ad;height:30px; line-height: 30px; display: block; text-align: center; width: 100px; ">立即加入</abbr></p>
              </li>
              <li>
                 <img src="{% static 'img/0111.png' %}" style="float: left; margin-right: 20px;">
                 <h3 style="font-size: 16px;">我是分类标题</h3>
                 <p style="margin: 6px 0; font-size: 12px;">我是分类描述最多显示两行，分类小组是在后台创建的哦</p>
                 <p style=" font-size: 12px; margin-left: 80px;">999个回答</p>
                 <p style="margin-left:80px;"><abbr style=" border-radius: 8px; color: #fff; background: #ff44ad;height:30px; line-height: 30px; display: block; text-align: center; width: 100px; ">立即加入</abbr></p>
              </li>
              <li>
                 <img src="{% static 'img/0111.png' %}" style="float: left; margin-right: 20px;">
                 <h3 style="font-size: 16px;">我是分类标题</h3>
                 <p style="margin: 6px 0; font-size: 12px;">我是分类描述最多显示两行，分类小组是在后台创建的哦</p>
                 <p style=" font-size: 12px; margin-left: 80px;">999个回答</p>
                 <p style="margin-left:80px;"><abbr style=" border-radius: 8px; color: #fff; background: #ff44ad;height:30px; line-height: 30px; display: block; text-align: center; width: 100px; ">立即加入</abbr></p>
              </li>
              <li>
                 <img src="{% static 'img/0111.png' %}" style="float: left; margin-right: 20px;">
                 <h3 style="font-size: 16px;">我是分类标题</h3>
                 <p style="margin: 6px 0; font-size: 12px;">我是分类描述最多显示两行，分类小组是在后台创建的哦</p>
                 <p style=" font-size: 12px; margin-left: 80px;">999个回答</p>
                 <p style="margin-left:80px;"><abbr style=" border-radius: 8px; color: #fff; background: #ff44ad;height:30px; line-height: 30px; display: block; text-align: center; width: 100px; ">立即加入</abbr></p>
              </li>
            </ol>
            
            <div id="pagers"></div> 

      </div>
      <div class="hzwdrights">
          <div class="metry">
             <a href=""><img src="{% static 'img/340.png' %}"></a>
          </div>
          <div class="szzhuanjia">
              <h3><abbr>热门问答推荐</abbr> <a href="###">更多>></a></h3>
              <div class="hotwdtuijian">
                 <ul>
                   <li>
                     <a href="###">话题标签话题标签话题标签话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                     <a href="###">话题标签话题标签话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                     <a href="###">话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                     <a href="###">话题话题标签话题标签话题标签话题标签标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                     <a href="###">话题话题标签话题标签标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                     <a href="###">话题话题标签标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                     <a href="###">话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                     <a href="###">话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                     <a href="###">话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                     <a href="###">话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                 </ul>
              </div>
          </div>
          <div class="szzhuanjia">
              <h3><abbr>生殖医院推荐</abbr> <a href="###">更多>></a></h3>
              <div class="hotwdtuijiana">
                    <div class="qiehuanhw">
                      <p class="curraddw">国内医院</p><p>国外医院</p>
                    </div>
              </div>
              <div class="listsqiehuanwh">
                 <div class="listqha">
                    <a href="">
                      <img src="{% static 'img/hospital.png' %}">
                    <h4 style="font-size: 16px;">北京大学第三医院</h4>
                    <p>地址：我是地址名称文案信息字段</p>
                    </a>
                 </div>
                 <div class="listqha">
                    <img src="{% static 'img/hospital.png' %}">
                    <h4 style="font-size: 16px;">北京大学第三医院</h4>
                    <p>地址：我是地址名称文案信息字段</p>
                 </div>
                 <div class="listqha">
                    <img src="{% static 'img/hospital.png' %}">
                    <h4 style="font-size: 16px;">北京大学第三医院</h4>
                    <p>地址：我是地址名称文案信息字段</p>
                 </div>
                 <div class="listqha">
                    <img src="{% static 'img/hospital.png' %}">
                    <h4 style="font-size: 16px;">北京大学第三医院</h4>
                    <p>地址：我是地址名称文案信息字段</p>
                 </div>
                 <div class="listqha">
                    <img src="{% static 'img/hospital.png' %}">
                    <h4 style="font-size: 16px;">北京大学第三医院</h4>
                    <p>地址：我是地址名称文案信息字段</p>
                 </div>
              </div>
          </div>
      </div>
    </div>






     <!-- 底部 -->
     <div class="footer" style="width: 100%; overflow: hidden; border-top: 1px solid #ff44ad; padding-top: 30px; padding-bottom: 30px;" >
     	<div style="width: 1200px; margin: 0 auto; overflow: hidden;" class="footeres">
     		<p style="font-size: 14px; color: #333;">友情链接:申请合作</p>
     		<div class="lianjieyq" style="margin-top: 30px;">
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     			<a href="">网上药店</a>
     		</div>
     	</div>
     	<p style="text-align: center; margin-top: 30px; font-size: 12px;line-height: 25px; color: #666;">
     		 关于我们联系我们人才招聘法律申明网站地图<br>
     		 地址：湖北省武汉市洪山区<br>
     		 邮箱：123456@.com 招聘邮箱:123456.com<br>
     		 copyright @ 2000 - 2020 yuer.com ALL Rights Reserved 鄂ICP备123456号-1
     	</p>
     </div>
     
      <script>
    var vm = avalon.define({
        $id: "bodyconts",
        name:'医院',
        intopages:function(){
            layui.use(['laypage', 'layer'], function(){
              var laypage = layui.laypage
              ,layer = layui.layer;
              laypage.render({
                elem: 'pagers'
                ,count: 100
                ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                ,jump: function(obj){
                  console.log(obj)
                }
              });
            });
        },
        changeSearch:function(els){
            vm.name = '';
            vm.name = els;
            $(this).parent().addClass('hites');
        },
        showxiala:function(){
            var _this = $(this);
            if(_this.next('ul').hasClass('hites')){
                _this.next('ul').removeClass('hites');
            }else{
                _this.next('ul').addClass('hites');
            }
        }
    })
    vm.intopages();
</script>
</body>
</html>