<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name=renderer content=webkit>
    <script type="text/javascript" src="{% static  "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static  "layui/layui.js" %}"></script>
    <script type="text/javascript" src="{% static  "js/swiper-bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static  "js/avalon.js" %}"></script>
    <script type="text/javascript" src="{% static  "js/index.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static  "css/swiper-bundle.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static  "css/css.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static  "css/index.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hzwd.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static  "layui/css/layui.css" %}">
    <!--      <style type="text/css">
          body{ background: #029EE9; }
         </style>
     -->
</head>

<body ms-controller="bodyconts">
{% include 'config.html' %}
{% include 'header.html' %}
<div class="hzwdbanner"><img src="{% static  "img/hzwdbanner.png" %}"></div>

<div class="hzwdconts">
    <div class="hzwdlefts">
        <h3 style="font-size: 16px; padding: 15px;">试管婴儿</h3>
        <ul>
            <li class="curreswd">备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
            <li>备孕期</li>
        </ul>
        <div class="fenleiallswd">
            <p class="allcurr">全部</p>
            <p>最新</p>
            <p>热门</p>
            <p>求助</p>
            <p>发帖</p>
        </div>

        <div class="hzwdcontslist">
            <div class="partwdone">
                <img src="{% static  "img/tuxiang.jpg" %}" style="float: left; margin-right: 10px;">
                <h4>我是文章标题最多显示一行，鼠标炫富时候为当前颜色，点击标题跳转到文章详细页。</h4>
                <p>我是用户名 <i class="layui-icon">&#xe68d;</i> 2020-10-15 <abbr
                        style="float: right; margin-right: 48px;"><i class="layui-icon">&#xe6c6;</i>999</abbr></p>
            </div>
            <div class="partwdone">
                <img src="{% static  "img/tuxiang.jpg" %}" style="float: left; margin-right: 10px;">
                <h4>我是文章标题最多显示一行，鼠标炫富时候为当前颜色，点击标题跳转到文章详细页。</h4>
                <p>我是用户名 <i class="layui-icon">&#xe68d;</i> 2020-10-15 <abbr
                        style="float: right; margin-right: 48px;"><i class="layui-icon">&#xe6c6;</i>999</abbr></p>
            </div>
            <div class="partwdone">
                <img src="{% static  "img/tuxiang.jpg" %}" style="float: left; margin-right: 10px;">
                <h4>我是文章标题最多显示一行，鼠标炫富时候为当前颜色，点击标题跳转到文章详细页。</h4>
                <p>我是用户名 <i class="layui-icon">&#xe68d;</i> 2020-10-15 <abbr
                        style="float: right; margin-right: 48px;"><i class="layui-icon">&#xe6c6;</i>999</abbr></p>
            </div>
            <div class="partwdone">
                <img src="{% static  "img/tuxiang.jpg" %}" style="float: left; margin-right: 10px;">
                <h4>我是文章标题最多显示一行，鼠标炫富时候为当前颜色，点击标题跳转到文章详细页。</h4>
                <p>我是用户名 <i class="layui-icon">&#xe68d;</i> 2020-10-15 <abbr
                        style="float: right; margin-right: 48px;"><i class="layui-icon">&#xe6c6;</i>999</abbr></p>
            </div>
            <div class="partwdone">
                <img src="{% static  "img/tuxiang.jpg" %}" style="float: left; margin-right: 10px;">
                <h4>我是文章标题最多显示一行，鼠标炫富时候为当前颜色，点击标题跳转到文章详细页。</h4>
                <p>我是用户名 <i class="layui-icon">&#xe68d;</i> 2020-10-15 <abbr
                        style="float: right; margin-right: 48px;"><i class="layui-icon">&#xe6c6;</i>999</abbr></p>
            </div>
            <div class="partwdone">
                <img src="{% static  "img/tuxiang.jpg" %}" style="float: left; margin-right: 10px;">
                <h4>我是文章标题最多显示一行，鼠标炫富时候为当前颜色，点击标题跳转到文章详细页。</h4>
                <p>我是用户名 <i class="layui-icon">&#xe68d;</i> 2020-10-15 <abbr
                        style="float: right; margin-right: 48px;"><i class="layui-icon">&#xe6c6;</i>999</abbr></p>
            </div>
            <div class="partwdone">
                <img src="{% static  "img/tuxiang.jpg" %}" style="float: left; margin-right: 10px;">
                <h4>我是文章标题最多显示一行，鼠标炫富时候为当前颜色，点击标题跳转到文章详细页。</h4>
                <p>我是用户名 <i class="layui-icon">&#xe68d;</i> 2020-10-15 <abbr
                        style="float: right; margin-right: 48px;"><i class="layui-icon">&#xe6c6;</i>999</abbr></p>
            </div>
            <div class="partwdone">
                <img src="{% static  "img/tuxiang.jpg" %}" style="float: left; margin-right: 10px;">
                <h4>我是文章标题最多显示一行，鼠标炫富时候为当前颜色，点击标题跳转到文章详细页。</h4>
                <p>我是用户名 <i class="layui-icon">&#xe68d;</i> 2020-10-15 <abbr
                        style="float: right; margin-right: 48px;"><i class="layui-icon">&#xe6c6;</i>999</abbr></p>
            </div>
            <div class="partwdone">
                <img src="{% static  "img/tuxiang.jpg" %}" style="float: left; margin-right: 10px;">
                <h4>我是文章标题最多显示一行，鼠标炫富时候为当前颜色，点击标题跳转到文章详细页。</h4>
                <p>我是用户名 <i class="layui-icon">&#xe68d;</i> 2020-10-15 <abbr
                        style="float: right; margin-right: 48px;"><i class="layui-icon">&#xe6c6;</i>999</abbr></p>
            </div>
            <div class="partwdone">
                <img src="{% static  "img/tuxiang.jpg" %}" style="float: left; margin-right: 10px;">
                <h4>我是文章标题最多显示一行，鼠标炫富时候为当前颜色，点击标题跳转到文章详细页。</h4>
                <p>我是用户名 <i class="layui-icon">&#xe68d;</i> 2020-10-15 <abbr
                        style="float: right; margin-right: 48px;"><i class="layui-icon">&#xe6c6;</i>999</abbr></p>
            </div>
            <div class="partwdone">
                <img src="{% static  "img/tuxiang.jpg" %}" style="float: left; margin-right: 10px;">
                <h4>我是文章标题最多显示一行，鼠标炫富时候为当前颜色，点击标题跳转到文章详细页。</h4>
                <p>我是用户名 <i class="layui-icon">&#xe68d;</i> 2020-10-15 <abbr
                        style="float: right; margin-right: 48px;"><i class="layui-icon">&#xe6c6;</i>999</abbr></p>
            </div>
            <div id="pagers"></div>
        </div>


    </div>
    <div class="hzwdrights">
        <div class="metry">
            <a href=""><img src="{% static  "img/340.png" %}"></a>
        </div>
        <div class="szzhuanjia">
            <h3><abbr>生殖专家推荐</abbr> <a href="###">更多>></a></h3>
            <div class="doctorbox">
                <img src="{% static  "img/doctor.png" %}" style="float: left; margin: 20px 15px 0 0;">
                <h4 style="margin-top: 20px;">医生名称 <abbr>医生职位</abbr></h4>
                <p style=" font-size: 14px;">所在医院名称</p>
                <p style=" font-size: 14px; margin-top: 10px;">医院介绍文案，点击查看医生详情，只能显示二行多的...</p>
                <a href="###">向他提问</a>
            </div>
        </div>
        <div class="szzhuanjia">
            <h3><abbr>热门问答推荐</abbr> <a href="###">更多>></a></h3>
            <div class="hotwdtuijian">
                <ul>
                    <li>
                        <a href="###">话题标签话题标签话题标签话题标签</a>
                        <abbr>999个问答</abbr>
                    </li>
                    <li>
                        <a href="###">话题标签话题标签话题标签</a>
                        <abbr>999个问答</abbr>
                    </li>
                    <li>
                        <a href="###">话题标签</a>
                        <abbr>999个问答</abbr>
                    </li>
                    <li>
                        <a href="###">话题话题标签话题标签话题标签话题标签标签</a>
                        <abbr>999个问答</abbr>
                    </li>
                    <li>
                        <a href="###">话题话题标签话题标签标签</a>
                        <abbr>999个问答</abbr>
                    </li>
                    <li>
                        <a href="###">话题话题标签标签</a>
                        <abbr>999个问答</abbr>
                    </li>
                    <li>
                        <a href="###">话题标签</a>
                        <abbr>999个问答</abbr>
                    </li>
                    <li>
                        <a href="###">话题标签</a>
                        <abbr>999个问答</abbr>
                    </li>
                    <li>
                        <a href="###">话题标签</a>
                        <abbr>999个问答</abbr>
                    </li>
                    <li>
                        <a href="###">话题标签</a>
                        <abbr>999个问答</abbr>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- 底部 -->
{% include 'footer.html' %}

<script>
    var vm = avalon.define({
        $id: "bodyconts",
        intopages: function () {
            layui.use(['laypage', 'layer'], function () {
                var laypage = layui.laypage
                    , layer = layui.layer;
                laypage.render({
                    elem: 'pagers'
                    , count: 100
                    , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                    , jump: function (obj) {
                        console.log(obj)
                    }
                });
            });
        }
    })
    vm.intopages();
</script>
</body>
</html>