<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>互助问答</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name=renderer content=webkit>
    <script type="text/javascript" src="{% static  "js/jquery.min.js"  %}"></script>
    <script type="text/javascript" src="{% static  "js/swiper-bundle.min.js"  %}"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/avalon.js/1.5.5/avalon.js"></script>
    <script type="text/javascript" src="{% static  "js/index.js"  %}"></script>
    <script type="text/javascript" src="{% static  "layui/layui.js"  %}"></script>
    <link rel="stylesheet" href="{% static  "layui/css/layui.css"  %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static  "css/css.css"  %}">
    <link rel="stylesheet" type="text/css" href="{% static  "css/iconfont.css"  %}">
</head>
{% include 'config.html' %}
{% include 'header.html' %}
<div class="huzhuwenda" ms-controller="hzwda">
    <div class="huzhuconst">
        <div class="jiarutlz">
            <div class="jiarutlztitle">
                <div class="h3jrzu">
                    <h3>热门小组</h3>
                    <ul>
                        <li ms-repeat="groupsdata">
                            <img ms-attr-src="{el.img}" style="float: left; margin-right: 16px;">
                            <h4 style="font-size: 14px;">{el.name}</h4>
                            <p style="font-size: 12px;">9896位成员</p>
                            <a ms-attr-href="/taolun/topost/?aid={el.id}" style="display:block;"><abbr style="font-size: 12px; width: 56px; height: 20px; line-height: 20px; text-align: center; margin-top:12px; display: block; float: left; background: #FF44AD; color: #fff; cursor: pointer;">
                                加入小组
                            </abbr></a>
                        </li>

                    </ul>
                </div>
            </div>


            <div class="liststitleconts">
                <div class="titlestop">
                    <p class="news" style="cursor:pointer;">最新</p>
                    <p style="cursor:pointer;">热门</p>
                    <p style="cursor:pointer;">等待回复</p>
                    <a href="##">更多>></a>
                </div>
                <div class="listswenda">
                    <ul>
                        <li ms-repeat-el='datasfsa'>
                            <div class="tuxiangimgs" style="float: left;"><a href=""><img ms-attr-src='/media/{el.user.head}' width="230" height="160"></a>
                            </div>
                            <div class="floafright" style="float: left;">
                                <a ms-attr-href="/taolun/posting/?pid={el.id}" class="xuanfugh">
                                    <p style="font-size: 16px; margin-bottom: 10px;">{ el.title }</p>
                                </a>
                                <a ms-attr-href="/taolun/toposting/?pid={el.id}">
                                    <p style="font-size: 12px; line-height: 20px; margin-bottom: 15px;">{ el.content }</p>
                                </a>
                                <div class="imglists">
                                    <img ms-attr-src="el.img1" width="230" height="160">
                                    <img ms-attr-src="el.img2" width="230" height="160">
                                    <img ms-attr-src="el.img3" width="230" height="160">
                                </div>
                                <div class="infousers">
                                    <div class="userone">
                                        <i><img src="{% static  "img/user.png"  %}">{ el.user.username }</i>
                                        <i><img src="{% static  "img/time.png"  %}">{ el.publish_date.replace(/:.*/,'') }</i>
                                    </div>
                                    <div class="usertwo">
                                        <i><img src="{% static  "img/yanjin.png"  %}">{ el.read }</i>
                                        <i><img src="{% static  "img/result.png"  %}">{ el.commentnum }</i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div id="pagers"></div>
                </div>
            </div>
        </div>
        <div class="kjiarutlzright">
            <div class="fabuwenzhang">
                <p class="inlist">进入小组列表</p>
                <p class="pusharcal">文章发布</p>
            </div>

            <div class="remenhuati">
                <h3>热门话题 <a href="">更多>></a></h3>
                <ul>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">最多显示六个字</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">最多显示六个字</a>
                    </li>
                    <li>
                        <a href="">最多显示六个字</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">最多显示六个字</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">最多显示六个字</a>
                    </li>
                    <li>
                        <a href="">最多显示六个字</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">最多显示六个字</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">最多显示六个字</a>
                    </li>
                    <li>
                        <a href="">最多显示六个字</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">最多显示六个字</a>
                    </li>
                </ul>
            </div>
            <div class="remenhuati">
                <h3>精华推荐</h3>
                <ol>
                    <li>
                        <a href="">
                            <img src="{% static  "img/rwtx.png"  %}" style="float: left; margin-right: 12px;">
                            <h4>我是文章标题只显示一行</h4>
                            <div class="tubiaoousrt">
                                <i><img src="{% static  "img/ren.png"  %}"> 999</i>
                                <i><img src="{% static  "img/result.png"  %}"> 999</i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{% static  "img/rwtx.png"  %}" style="float: left; margin-right: 12px;">
                            <h4>我是文章标题只显示一行</h4>
                            <div class="tubiaoousrt">
                                <i><img src="{% static  "img/ren.png"  %}"> 999</i>
                                <i><img src="{% static  "img/result.png"  %}"> 999</i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{% static  "img/rwtx.png"  %}" style="float: left; margin-right: 12px;">
                            <h4>我是文章标题只显示一行</h4>
                            <div class="tubiaoousrt">
                                <i><img src="{% static  "img/ren.png"  %}"> 999</i>
                                <i><img src="{% static  "img/result.png"  %}"> 999</i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{% static  "img/rwtx.png"  %}" style="float: left; margin-right: 12px;">
                            <h4>我是文章标题只显示一行</h4>
                            <div class="tubiaoousrt">
                                <i><img src="{% static  "img/ren.png"  %}"> 999</i>
                                <i><img src="{% static  "img/result.png"  %}"> 999</i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{% static  "img/rwtx.png"  %}" style="float: left; margin-right: 12px;">
                            <h4>我是文章标题只显示一行</h4>
                            <div class="tubiaoousrt">
                                <i><img src="{% static  "img/ren.png"  %}"> 999</i>
                                <i><img src="{% static  "img/result.png"  %}"> 999</i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{% static  "img/rwtx.png"  %}" style="float: left; margin-right: 12px;">
                            <h4>我是文章标题只显示一行</h4>
                            <div class="tubiaoousrt">
                                <i><img src="{% static  "img/ren.png"  %}"> 999</i>
                                <i><img src="{% static  "img/result.png"  %}"> 999</i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{% static  "img/rwtx.png"  %}" style="float: left; margin-right: 12px;">
                            <h4>我是文章标题只显示一行</h4>
                            <div class="tubiaoousrt">
                                <i><img src="{% static  "img/ren.png"  %}"> 999</i>
                                <i><img src="{% static  "img/result.png"  %}"> 999</i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{% static  "img/rwtx.png"  %}" style="float: left; margin-right: 12px;">
                            <h4>我是文章标题只显示一行</h4>
                            <div class="tubiaoousrt">
                                <i><img src="{% static  "img/ren.png"  %}"> 999</i>
                                <i><img src="{% static  "img/result.png"  %}"> 999</i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{% static  "img/rwtx.png"  %}" style="float: left; margin-right: 12px;">
                            <h4>我是文章标题只显示一行</h4>
                            <div class="tubiaoousrt">
                                <i><img src="{% static  "img/ren.png"  %}"> 999</i>
                                <i><img src="{% static  "img/result.png"  %}"> 999</i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{% static  "img/rwtx.png"  %}" style="float: left; margin-right: 12px;">
                            <h4>我是文章标题只显示一行</h4>
                            <div class="tubiaoousrt">
                                <i><img src="{% static  "img/ren.png"  %}"> 999</i>
                                <i><img src="{% static  "img/result.png"  %}"> 999</i>
                            </div>
                        </a>
                    </li>
                </ol>
            </div>
            <div class="remenhuaties">
                <h3>升值医院推荐 <a href="">更多>></a></h3>
                <p style="margin:5px 0;"><img src="{% static  "img/04.jpg"  %}"></p>
                <ul>
                    <li>
                        <a href="">我是医院名称</a>
                    </li>
                    <li>
                        <a href="">武汉大学人民医院</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">武汉大学人民医院</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">武汉大学人民医院</a>
                    </li>
                    <li>
                        <a href="">我是医院名称</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                    <li>
                        <a href="">武汉大学人民医院</a>
                    </li>
                    <li>
                        <a href="">话题标签</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- 底部 -->
{% include 'footer.html' %}

<script>
    var vm_hzwda = avalon.define({
        $id: "hzwda",
        count: 0,//数据总条数
        limites: 6,//每一页显示多少条
        btnnum:5,//按钮显示个数
        groupsdata:[],
        datasfsa: [],
        showxiala: function () {
            var _this = $(this);
            if (_this.next('ul').hasClass('hites')) {
                _this.next('ul').removeClass('hites');
            } else {
                _this.next('ul').addClass('hites');
            }
        },
        intopages: function () {
            layui.use('laypage', function () {
                var laypage = layui.laypage;
                laypage.render({
                    elem: 'pagers',
                    count: vm_hzwda.count,
                    limit:vm_hzwda.limites,
                    curr:location.hash.replace('#!page=', ''),
                    hash: 'page',
                    groups: vm_hzwda.btnnum,
                    layout: ['count', 'prev', 'page', 'next', 'refresh', 'skip'],
                    jump: function (obj) {
                        {#console.log(obj)#}
                    }
                });
            });
        },
        init:function(){
            $.ajax({
                url:root_Domain+'/taolun/groups/',
                type:'get',
                dataType:'json',
                success:function(ajax){
                    var imgbox = ['/static/img/933.png','/static/img/932.png','/static/img/931.png','/static/img/930.png'];
                    for (let i = 0; i < imgbox.length; i++) {
                        ajax[i].img = imgbox[i];
                    }
                    vm_hzwda.groupsdata =  ajax.reverse();
                    console.log(vm_hzwda.groupsdata,99999999999,ajax)
                },error:function(error){
                    console.log(error);
                }
            });
            $.ajax({
                url:root_Domain+'/taolun/postinglist/?num='+vm_hzwda.limites,
                type:'get',
                dataType: 'json',
                success:function(ajax){
                    vm_hzwda.count = ajax.maxnum;

                    vm_hzwda.datasfsa = ajax.data;
                    console.log(vm_hzwda.datasfsa,44444444444444)
                    vm_hzwda.intopages();
                },error:function(error){
                    console.log(error);
                }
            })
        }
    })
    vm_hzwda.init();

</script>
<script type="text/javascript">
</script>
</body>
</html>