<!DOCTYPE html>
<html>
<head>
    <title>互助问答列表</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name=renderer content=webkit>
    <script type="text/javascript" src="{% static  "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static  "layui/layui.all.js" %}"></script>
    <script type="text/javascript" src="{% static  "js/swiper-bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static  "js/avalon.js" %}"></script>
    <script type="text/javascript" src="{% static  "js/index.js" %}"></script>
    <script type="text/javascript" src="{% static  "js/uitls/tool.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static  "css/swiper-bundle.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static  "css/css.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static  "css/index.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hzwd.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static  "layui/css/layui.css" %}">
</head>

{% include 'header.html' %}
<div class="hzwdbanner"><img src="{% static  "img/hzwdbanner.png" %}"></div>

<div class="hzwdconts" ms-controller="hzwdlist">
    <div class="hzwdlefts">
        <h3 style="font-size: 16px; padding: 15px;" ms-repeat="groupsdata">{el.name}</h3>
        <ul>
            <li ms-attr-class="tid==el.id?'curreswd':''" ms-repeat="allgroupData">
                <a ms-attr-href="/taolun/postindex/?tid={el.id}">{el.name}</a>
            </li>

        </ul>
        <div class="fenleiallswd">
            <p class="allcurr" order="">最新</p>
            <p order="1">热门</p>
            <p order="2">求助</p>
        </div>

        <div class="hzwdcontslist">
            <div class="partwdone" ms-repeat-its="lisdata">
                {% if request.user.is_active %}
                    <a ms-attr-href="'/users/centerhim/'+{its.user.id}"><img ms-attr-src="/media/{its.user.head}" style="float: left; margin-right: 10px;"></a>
                {% else %}
                    <a href="/login"><img ms-attr-src="/media/{its.user.head}" style="float: left; margin-right: 10px;"></a>
                {% endif %}

                <h4><a ms-attr-href="/taolun/toposting/?pid={its.id}">{its.title}</a></h4>
                <p>{its.user.username} <i class="layui-icon">&#xe68d;</i> {its.publish_date.replace(/:.*/,'')}
                    {% if request.user.is_active %}
                        <a href="javascript:;" ms-click="dianz(its.id,this)" ms-attr-isthumup="its.isthumbup" ms-attr-class="its.isthumbup==1?'isthumbup':''">
                            <abbr style="float: right; margin-right: 48px;">
                                <i class="layui-icon">&#xe6c6;</i>{its.thumbup}
                            </abbr>
                        </a>
                    {% else %}
                        <a href="/login">
                            <abbr style="float: right; margin-right: 48px;">
                                <i class="layui-icon">&#xe6c6;</i>
                            </abbr>
                        </a>
                    {% endif %}
                </p>
            </div>

            <div id="pagers"></div>
        </div>


    </div>
    <div class="hzwdrights">
        <div class="metry">
            {% if request.user.is_active %}
                <a href="/taolun/topost/"><img src="{% static  "img/340.png" %}"></a>
            {% else %}
                <a href="/login"><img src="{% static  "img/340.png" %}"></a>
            {% endif %}
        </div>
{#    医生推荐#}
    {% include 'mod_doctj.html' %}
{#    热门问答推荐#}
    {% include 'mod_hotask.html' %}
    </div>
</div>


<!-- 底部 -->
{% include 'footer.html' %}

<script>
    var vm_hzwdlist = avalon.define({
        $id: "hzwdlist",
        count: 0,//数据总条数
        Mid: '',
        tid: '',
        page:1,
        order: '',
        limites: 10,//每一页显示多少条
        btnnum: 5,//按钮显示个数
        groupsdata: [],
        lunboimg:[],
        lunboinfo:[],
        allgroupData: [],
        lisdata: [],
        intopages: function () {
            layui.use('laypage', function () {
                var laypage = layui.laypage;
                laypage.render({
                    elem: 'pagers',
                    count: vm_hzwdlist.count,
                    limit: vm_hzwdlist.limites,
                    curr: location.hash.replace('#!page=', ''),
                    hash: 'page',
                    groups: vm_hzwdlist.btnnum,
                    layout: ['count', 'prev', 'page', 'next', 'refresh', 'skip'],
                    jump: function (obj) {
                        vm_hzwdlist.page = obj.curr;
                        vm_hzwdlist.goPage(obj.curr);
                    }
                });
            });
        },
        menuClick: function () {
            var menuBtn = $('.fenleiallswd>p');
            var url = '';
            for (var i = 0; i < menuBtn.length; i++) {
                menuBtn.eq(i).click(function () {
                    Toolfun.clearClass("allcurr", menuBtn);
                    vm_hzwdlist.order = $(this).attr('order');
                    $(this).addClass('allcurr');
                    if (vm_hzwdlist.order) {
                        url = '/taolun/postinglist/?tid=' + vm_hzwdlist.tid + '&num=' + vm_hzwdlist.limites + '&order=' + vm_hzwdlist.order;
                    } else {
                        url =  '/taolun/postinglist/?tid=' + vm_hzwdlist.tid + '&num=' + vm_hzwdlist.limites;
                    }

                    $.ajax({
                        url: url,
                        type: 'get',
                        dataType: 'json',
                        success: function (ajax) {
                            location.hash = '';
                            vm_hzwdlist.count = ajax.maxnum;
                            vm_hzwdlist.lisdata = ajax.data;
                            vm_hzwdlist.intopages();

                        }, error: function (error) {
                            console.log(error);
                        }
                    })
                })
            }
        },
        dianz: function (id, ev) {
            var _this = ev;
            if ($(_this).attr('isthumup')==1) {
                layer.msg('请勿重复点赞！！！', {time: 1000});
                return '';
            } else {
                vm_hzwdlist.dzid = id;
                $.ajax({
                    url: '/taolun/thumbup/?type=article&id=' + id,
                    type: 'get',
                    dataType: 'text',
                    success: function (ajax) {
                        layer.msg(ajax, {time: 1000});
                        vm_hzwdlist.goPage(vm_hzwdlist.page)
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
        },
        goPage: function (page) {
            var url = '';
            if (vm_hzwdlist.order) {
                url = '/taolun/postinglist/?tid=' + vm_hzwdlist.tid + '&num=' + vm_hzwdlist.limites + '&page=' + page + '&order=' + vm_hzwdlist.order;
            } else {
                url =  '/taolun/postinglist/?tid=' + vm_hzwdlist.tid + '&num=' + vm_hzwdlist.limites + '&page=' + page;
            }

            $.ajax({
                url: url,
                type: 'get',
                dataType: 'json',
                success: function (ajax) {
                    vm_hzwdlist.lisdata = ajax.data;

                }, error: function (error) {
                    console.log(error);
                }
            })
        },
        lunboget:function(){
            $.ajax({
                url:'/luntan/getlunbo/',
                type:'get',
                dataType:'json',
                success:function(ajax){
                    vm_hzwdlist.lunboinfo = ajax.data;
                },error:function(error){
                    console.log(error);
                }
            });

        },
        init: function () {
            vm_hzwdlist.Mid = localStorage.getItem('Mid');
            var Mgroupdata = JSON.parse(localStorage.getItem('Mgroup'));
            for (var i = 0; i < Mgroupdata.length; i++) {
                if (Mgroupdata[i].id == vm_hzwdlist.Mid) {
                    vm_hzwdlist.groupsdata.push(Mgroupdata[i]);
                }
            }
            vm_hzwdlist.allgroupData = JSON.parse(localStorage.getItem('sonGroup'));
            if (location.hash) {
                location.hash = '';
                vm_hzwdlist.tid = location.href.replace(/.*tid=/, '').replace(/#/, '');
            } else {
                vm_hzwdlist.tid = location.href.replace(/.*tid=/, '').replace(/#/, '');
            }
            $.ajax({
                url: '/taolun/postinglist/?tid=' + vm_hzwdlist.tid + '&num=' + vm_hzwdlist.limites,
                type: 'get',
                dataType: 'json',
                success: function (ajax) {
                    vm_hzwdlist.count = ajax.maxnum;
                    vm_hzwdlist.lisdata = ajax.data;
                    vm_hzwdlist.intopages();
                    vm_hzwdlist.menuClick();
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }
    })
    vm_hzwdlist.init();
</script>
</body>
</html>