<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>问题帖子信息</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name=renderer content=webkit>
    <script type="text/javascript" src="{% static  "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static  "layui/layui.all.js" %}"></script>
    <script type="text/javascript" src="{% static  "js/avalon.js" %}"></script>
    <script type="text/javascript" src="{% static  "js/index.js" %}"></script>
    <script type="text/javascript" src="{% static   "js/uitls/tool.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/hzwd.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static  "css/css.css" %}">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static  "css/index.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static  "layui/css/layui.css" %}">
</head>

{% include 'config.html' %}
{% include 'header.html' %}
<div class="hzwdbanner"><img src="{% static  "img/hzwdbanner.png" %}"></div>

<div class="hzwdconts" ms-controller="hzwdinfo" id="hzwdinfo">
    <div class="hzwdleftse" style="min-height: 200px;">
        <div class="Muserinfo">
            <img ms-attr-src="/media/{askdata.user.head}"/>
            <h3>{askdata.title}</h3>
            <p style="margin-top: 15px; padding-left: 45px;">
                <i class="layui-icon">&#xe66f;</i>
                <span>{askdata.user.username}</span>
                <i class="layui-icon">&#xe68d;</i>
                <span>{askdata.publish_date.replace(/\..*/,'')}</span>
                <abbr style="float: right;" ms-attr-class="askdata.isthumbup == 1?'isthumb':''" ms-attr-tid="askdata.id"
                      ms-click="isthumbup(this)" ms-attr-thumb="askdata.isthumbup">
                    <i class="layui-icon">&#xe6c6;</i>
                    <span>{askdata.thumbup}</span>
                </abbr>
            </p>
            <p>{askdata.content|html}</p>
        </div>

        <div class="pinglunkk" style="margin-top:20px;">
            <h4 style="margin-bottom:10px;">评论</h4>
            <div class="fuwenben">
                <textarea id="demo" style="display: none;">欢迎留言评论~！</textarea>
                <p style="margin-top: 15px;">
                    <span id="qxpl">取消评论</span>
                    {% if request.user.is_active %}
                        <a href="javascript:;" ms-click="isPost(this)"><span class="same">评论</span></a>
                    {% else %}
                        <a href="/login"><span class="same">评论</span></a>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="plbox">
            <div class="plhead">
                <span class="fl">评论&nbsp;({askdata.commentnum})</span>
                <select name="dzpx" id="dzpx" class="fr" ms-click="plpaixu(this)">
                    <option value="dz" orderby="1">时间排序</option>
                    <option value="time" orderby="2">点赞排序</option>
                </select>
            </div>
            <ul class="plinfobox">
                <li ms-repeat-as="pldata" data-repeat-rendered="plisShow">
                    <img ms-attr-src="/media/{as.user.head}" alt="">
                    <div class="userinfo">
                        <p>{as.user.username}</p>
                        <p>{as.publish_date.replace(/\..*/,'')}</p>
                        <div class="plinfobox">
                            <div>
                                <p>
                                    {as.comment.replace(/(<\p>)/,'')|html}
                                </p>
                                <span ms-attr-class="as.isthumbup==1?'isthumb':''" ms-attr-commentid="as.id"
                                      ms-click="isthumbup(this)" ms-attr-thumb="as.isthumbup"><i class="layui-icon">&#xe6c6;</i>&nbsp;{as.thumbup}</span>
                            </div>
                            <p class="isShow" isShow="false">
                                <span><i class="iconfont">&#xe665;</i><span>点击显示更多</span> </span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="hzwdrights">
        <div class="metry">
            {% if request.user.is_active %}
                <a href="/taolun/topost/"><img src="{% static  "img/340.png" %}"></a>
            {% else %}
                <a href="/login"><img src="{% static  "img/340.png" %}"></a>
            {% endif %}
        </div>
        {% include "mod_hotwenda.html" %}
{#        百科栏目推荐#}
        {% include 'mod_bklm.html' %}
    </div>
</div>

<!-- 底部 -->
{% include 'footer.html' %}

<script>
    var vm_hzwdinfo = avalon.define({
        $id: 'hzwdinfo',
        pid: '',
        askdata: [],
        pldata: [],
        orderby:1,
        init: function () {
            var qxpl = $('#qxpl');
            qxpl.click(function () {
                layui.layedit.setContent(vm_hzwdinfo.ditsl, '欢迎留言评论~！');
            })
            layui.use('layedit', function () {
                var layedit = layui.layedit;
                vm_hzwdinfo.ditsl = layedit.build('demo', {
                    tool: ['face'],
                    height: 100
                }); //建立编辑器
            });
            vm_hzwdinfo.pid = JSON.stringify(location.href.match(/pid=\d+/)).match(/\d+/g)[0];
            this.tidresh();
            this.plresh();
        },
        plresh: function () {
            Toolfun.iszhezClass();
            $.ajax({
                url: root_Domain + '/taolun/comment/?pid=' + vm_hzwdinfo.pid+'&orderby=1',
                type: 'get',
                dataType: 'json',
                success: function (ajax) {
                    vm_hzwdinfo.pldata = ajax.data;
                    Toolfun.qxzheClass();
                }, error: function (error) {
                    console.log(error);
                }
            })
        },
        tidresh: function () {
            Toolfun.iszhezClass();
            $.ajax({
                url: root_Domain + '/taolun/posting/?pid=' + vm_hzwdinfo.pid,
                type: 'get',
                dataType: 'json',
                success: function (ajax) {
                    vm_hzwdinfo.askdata = ajax.data;
                    Toolfun.qxzheClass();
                }, error: function (error) {
                    console.log(error);
                }
            });
        },
        plpaixu:function(ev){
            if($('.plhead>span').html().match(/\d/g)<1){
               return false;
            }
            var _this = ev;
            var orderby = $(_this).find('option:selected').attr('orderby');
            if(vm_hzwdinfo.orderby==orderby){
                return false;
            }else{
                vm_hzwdinfo.orderby = orderby;
                Toolfun.iszhezClass();
                $.ajax({
                    url:root_Domain+'/taolun/comment/?pid='+vm_hzwdinfo.pid+'&orderby='+vm_hzwdinfo.orderby,
                    type:'get',
                    dataType:'json',
                    success:function(ajax){
                        vm_hzwdinfo.pldata = ajax.data;
                        Toolfun.qxzheClass();
                    },error:function(error){
                        console.log(error);
                    }
                })
            }
        },
        isthumbup: function (ev) {
            var _this = ev;
            var type = '';
            var id = '';
            if ($(_this).attr('thumb') == 1) {
                layer.msg("已点赞请勿重复点赞！！", {'time': 1000});
                return false;
            }
            if ($(_this).attr('tid')) {
                type = 'article';
                id = $(_this).attr('tid');
            } else {
                type = 'comment';
                id = $(_this).attr('commentid');
            }
            $.ajax({
                url: root_Domain + '/taolun/thumbup/?type=' + type + '&id=' + id,
                type: 'get',
                dataType: 'text',
                success: function (ajax) {
                    layer.msg(ajax, {'time': 1000});
                    setTimeout(function () {
                        vm_hzwdinfo.tidresh();
                        vm_hzwdinfo.plresh();
                    }, 1000)
                }, error: function (error) {
                    console.log(error);
                }
            })
        },
        isPost: function (ev) {
            var _this = ev;
            var value = layui.layedit.getContent(vm_hzwdinfo.ditsl);
            if (value != '欢迎留言评论~！') {
                Toolfun.iszhezClass();
                $.ajax({
                    url: root_Domain + '/taolun/comment/',
                    type: 'post',
                    data: {
                        'articles_id': vm_hzwdinfo.pid,
                        'comment': value
                    },
                    success: function (ajax) {
                        layer.msg(ajax, {'time': 1000});
                        setTimeout(function(){
                            layui.layedit.setContent(vm_hzwdinfo.ditsl,'欢迎留言评论~！');
                            vm_hzwdinfo.plresh();
                        },1500)
                        Toolfun.qxzheClass();
                    }, error: function (error) {
                        layer.msg(error);
                    }
                })
            } else {
                layer.msg('请输入评论内容！！', {'time': 1000});
            }
        },
        plisShow: function () {
            var allinfobox = $('.plinfobox>div>p');
            for (let i = 0; i < allinfobox.length; i++) {
                var nowLi = allinfobox.eq(i).parent().next();
                nowLi.click(function () {
                    var off = $(this).attr('isShow');
                    if (off == 'false') {
                        $(this).html('<span><i class="iconfont">&#xe65a;</i><span>收起</span> </span>');
                        allinfobox.eq(i).css({'height': '200px'});
                        $(this).attr('isShow', 'true');
                    } else {
                        $(this).html('<span><i class="iconfont">&#xe665;</i><span>点击显示更多</span> </span>');
                        allinfobox.eq(i).css({'height': '20px'});
                        $(this).attr('isShow', 'false');
                    }
                });
                if (allinfobox.eq(i).html().trim('').match(/([\u4e00-\u9fa5]|\w)/g).length > 240) {
                    nowLi.show();
                }
            }

        }
    })
    vm_hzwdinfo.init();

</script>
</body>
</html>