<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>互助问答</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name=renderer content=webkit>
    <script type="text/javascript" src="{% static  "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static  "js/swiper-bundle.min.js" %}"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/avalon.js/1.5.5/avalon.js"></script>
    <script type="text/javascript" src="{% static  "js/index.js" %}"></script>
    <script type="text/javascript" src="{% static  "layui/layui.js" %}"></script>
    <link rel="stylesheet" href="{% static  "layui/css/layui.css" %}" media="all">
    <script src="{% static 'js/uitls/tool.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static  "css/css.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hzwd.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static  "css/iconfont.css" %}">
</head>
{% include 'config.html' %}
{% include 'header.html' %}
<div class="huzhuwenda" ms-controller="hzwda">
    <div class="huzhuconst">
        <div class="jiarutlz">
            <div class="jiarutlztitle">
                <div class="h3jrzu">
                    <h3>热门小组</h3>
                    <ul>
                        <li ms-repeat="groupsdata">
                            <img ms-attr-src="{el.img}" style="float: left; margin-right: 16px;">
                            <h4 style="font-size: 14px;">{el.name}</h4>
                            <p style="font-size: 12px;">9896位成员</p>
                            <a ms-attr-href="/taolun/grouplist/?aid={el.id}" style="display:block;"><abbr
                                    style="font-size: 12px; width: 56px; height: 20px; line-height: 20px; text-align: center; margin-top:12px; display: block; float: left; background: #FF44AD; color: #fff; cursor: pointer;">
                                加入小组
                            </abbr></a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="liststitleconts">
                <div class="titlestop">
                    <p class="news" style="cursor:pointer;" order="0">最新</p>
                    <p style="cursor:pointer;" order="1">热门</p>
                    <p style="cursor:pointer;" order="2">等待回复</p>
                    <a href="/taolun/grouplist/">更多>></a>
                </div>
                <div class="listswenda">
                    <ul>

                        <li ms-repeat-el='datasfsa'>
                            <div class="tuxiangimgs" style="float: left;"><a href=""><img
                                    ms-attr-src='/media/{el.user.head}' width="230" height="160"></a>
                            </div>
                            <div class="floafright" style="float: left;">
                                <a ms-attr-href="/taolun/toposting/?pid={el.id}" class="xuanfugh">
                                    <p style="font-size: 16px; margin-bottom: 10px;">{ el.title }</p>
                                </a>
                                <a ms-attr-href="/taolun/toposting/?pid={el.id}">
{#                                    <p style="font-size: 12px; line-height: 20px; margin-bottom: 15px;">#}
                                        {el.content|html|truncate(260,'...')}
{#                                    </p>#}
                                </a>
                                <div class="infousers">
                                    <div class="userone">
                                        <i><img src="{% static  "img/user.png" %}">{ el.user.username }</i>
                                        <i><img src="{% static  "img/time.png" %}">{ el.publish_date.replace(/:.*/,'') }</i>
                                    </div>
                                    <div class="usertwo">
                                        <i><img src="{% static  "img/yanjin.png" %}">{ el.read }</i>
                                        <i><img src="{% static  "img/result.png" %}">{ el.commentnum }</i>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <div id="pagers"></div>
                </div>
            </div>
        </div>
        <div class="kjiarutlzright">
            <div class="fabuwenzhang">
                <a href="/taolun/grouplist/"><p class="inlist">进入小组列表</p></a>
                {% if request.user.is_active %}
                    <a href="/taolun/topost/"><p class="pusharcal">文章发布</p></a>
                {% else %}
                    <a href="/login"><p class="pusharcal">文章发布</p></a>
                {% endif %}
            </div>

            <div class="remenhuati">
                <h3>热门话题 <a href="/taolun/grouplist/">更多>></a></h3>
                <ul>
                    <li ms-repeat-its="bqdata">
                        <a ms-attr-href="/taolun/postindex/?tid={its.id}">{its.name}</a>
                    </li>
                </ul>
            </div>
            <div class="remenhuati">
                <h3>精华推荐</h3>
                <ol>
                    <li ms-repeat-as="jhtopicdata">
                        <a ms-attr-href="/taolun/toposting/?pid={as.id}">
                            <img ms-attr-src="/media/{as.user.head}" style="float: left; margin-right: 12px;">
                            <h4 style="margin-bottom:10px;height: 38px;overflow: hidden;">{as.title}</h4>
                            <div class="tubiaoousrt">
                                <span class="fl">
                                    <i class="iconfont">&#xe71b;</i>
                                    <span>{as.user.username}</span>
                                </span>
                                <span class="fr" style="margin-right:20px;">
                                    <i class="iconfont">&#xe6d9;</i>
                                    <span>{as.commentnum}</span>
                                </span>
                            </div>
                        </a>
                    </li>
                </ol>
            </div>
            {#  生殖医院推荐 #}
            {% include 'mod_hospital.html' %}
        </div>
    </div>
</div>

<!-- 底部 -->
{% include 'footer.html' %}

<script>
    var order = "";
    var ps = $('.titlestop>p');
    for (let i = 0; i < ps.length; i++) {
        ps.eq(i).click(function () {
            Toolfun.clearClass("news", ps);
            $(this).addClass("news");
            order = $(this).attr("order");
            vm_hzwda.flxzmenu();
        })
    }
    var vm_hzwda = avalon.define({
        $id: "hzwda",
        count: 0,//数据总条数
        url: '',//请求链接
        limites: 10,//每一页显示多少条
        bqdata: [],//话题标签
        jhtopicdata: [],//精华帖子
        btnnum: 5,//按钮显示个数
        groupsdata: [],
        datasfsa: [],
        showxiala: function () {
            var _this = $(this);
            if (_this.next('ul').hasClass('hites')) {
                _this.next('ul').removeClass('hites');
            } else {
                _this.next('ul').addClass('hites');
            }
        },
        contentcl: function (lisdata) {
            for (let i = 0; i < lisdata.length; i++) {
                var constr = lisdata[i].content.match(/[\u4e00-\u9fa5]|\w/g).toString().replace(/(,|\w)/g, '').substr(0, 200);
                if (lisdata[i].content.match(/<img.*\/>/g)) {
                    var snimg = lisdata[i].content.match(/<img.*\/>/g)[0];
                    lisdata[i].content = constr + snimg
                } else {
                    lisdata[i].content = constr;
                }
            }
            vm_hzwda.datasfsa = lisdata;
        },
        intopages: function () {
            layui.use('laypage', function () {
                var laypage = layui.laypage;
                laypage.render({
                    elem: 'pagers',
                    count: vm_hzwda.count,
                    limit: vm_hzwda.limites,
                    curr: location.hash.replace('#!page=', ''),
                    hash: 'page',
                    groups: vm_hzwda.btnnum,
                    layout: ['count', 'prev', 'page', 'next', 'refresh', 'skip'],
                    jump: function (obj) {
                        vm_hzwda.gopage(obj.curr);
                    }
                });
            });
        },
        flxzmenu: function () {
            if (order != 0) {
                vm_hzwda.url = root_Domain + '/taolun/postinglist/?num=' + vm_hzwda.limites + '&order=' + order;
            } else {
                vm_hzwda.url = root_Domain + '/taolun/postinglist/?num=' + vm_hzwda.limites;
            }
            Toolfun.iszhezClass();
            $.ajax({
                url: vm_hzwda.url,
                type: 'get',
                dataType: 'json',
                success: function (ajax) {
                    vm_hzwda.count = ajax.maxnum;
                    vm_hzwda.contentcl(ajax.data);
                    vm_hzwda.intopages();
                    Toolfun.qxzheClass();
                }, error: function (error) {
                    console.log(error);
                }
            })
        },
        gopage: function (page) {
            var url = vm_hzwda.url + '&page=' + page;
            Toolfun.iszhezClass();
            $.ajax({
                url: url,
                type: 'get',
                dataType: 'json',
                success: function (ajax) {
                    vm_hzwda.contentcl(ajax.data);
                    Toolfun.qxzheClass();
                }, error: function (error) {
                    console.log(error);
                }
            })
        },
        init: function () {
            vm_hzwda.url = root_Domain + '/taolun/postinglist/?num=' + vm_hzwda.limites;
            Toolfun.iszhezClass();
            $.ajax({
                url: root_Domain + '/taolun/groups/',
                type: 'get',
                dataType: 'json',
                success: function (ajax) {
                    var imgbox = ['/static/img/933.png', '/static/img/932.png', '/static/img/931.png', '/static/img/930.png'];
                    for (let i = 0; i < imgbox.length; i++) {
                        ajax[i].img = imgbox[i];
                    }
                    vm_hzwda.groupsdata = ajax.reverse().sort();
                    localStorage.clear();
                    localStorage.setItem('Mgroup', JSON.stringify(ajax));
                }, error: function (error) {
                    console.log(error);
                }
            });
            $.ajax({
                url: vm_hzwda.url,
                type: 'get',
                dataType: 'json',
                success: function (ajax) {
                    vm_hzwda.count = ajax.maxnum;
                    vm_hzwda.contentcl(ajax.data);
                    vm_hzwda.intopages();
                    Toolfun.qxzheClass();
                }, error: function (error) {
                    console.log(error);
                }
            });
            $.ajax({
                url: root_Domain + '/taolun/hottopics/?num=20',
                type: 'get',
                dataType: 'json',
                success: function (ajax) {
                    vm_hzwda.bqdata = ajax.data;
                }, error: function (error) {
                    console.log(error)
                }
            });
            $.ajax({
                url: root_Domain + '/taolun/hotarticles/?num=10',
                type: 'get',
                dataType: 'json',
                success: function (ajax) {
                    vm_hzwda.jhtopicdata = ajax.data;
                }, error: function (error) {
                    console.log(error);
                }
            })
        }
    })
    vm_hzwda.init();

</script>
<script type="text/javascript">
</script>
</body>
</html>