<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/coment.css' %}">
    <link rel="stylesheet" href="{% static 'css/yuerlt.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'css/hzwd.css' %}">
    <script src="{% static 'js/uitls/jquery.min.js' %}"></script>
    <script src="{% static 'ckeditor4/ckeditor.js' %}"></script>
    <script src="{% static 'js/uitls/avalon.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'layui/layui.all.js' %}"></script>
    <script src="{% static 'js/uitls/tool.js' %}"></script>
    <title>提问</title>
</head>

<body>
{% include 'config.html' %}
{% include 'header.html' %}
<section id="postMain" class='wid' style='margin-top:30px;' ms-controller="postart">
    <div class="currdis clearfix">
        <div class="dqwz">当前位置：</div>
        <div class="lmmbx">
            <a href="javascript:;">互助问答</a>
            <span>></span>
            <a href="javascript:;">提问</a>
        </div>
    </div>
    <div class="postBox">
        <form>
            <label for="newTopic">问题描述：</label>
            <input type="text" name='newTopic' placeholder="问题标题长度不得超过100个字">
        </form>
        <div class="tjTopic">
            <div ms-click="flselect(this)"><span>话题分类选择</span><i class="iconfont">&#xe665;</i></div>
            <ul class="navbox">
                <li ms-repeat="topicData" ms-attr-Mid="el.id" ms-click="getSondata(this)">
                    {el.name}
                </li>
            </ul>
            <ul class="sonbox" >
                <li ms-repeat-its="sontopicData" ms-attr-pid="{its.id}" ms-click="sonSelcet(this)">{its.name}</li>
            </ul>
        </div>
        <div id="topicSelect">
            <div class="kindeitorbox">
                <div class='fl'>内容：</div>
                <div class='editorbox fl'>
                        <textarea id="editor_id" name="editor1">
                        </textarea>
                    <div class="editor_footer clearfix">
                        <div class="yzm">
                            <input type="text" placeholder="输入右侧验证码">
                            <div class="data-yznum">
                                { yzm }
                            </div>
                        </div>
                        <div class="isFbtn fr">
                            <div id="noFbtn" class='fl'>取消发布</div>
                            <div id="yesFbtn" class='fl'>立即发布</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# 底部调用 #}
{% include 'footer.html' %}
<script>
    var editor1 = CKEDITOR.replace('editor_id');
    var yesFbtn = $('#yesFbtn'),
        noFbtn = $('#noFbtn');
    var vm_postart = avalon.define({
        $id: 'postart',
        topicId: null,
        yzm: null,
        mid: '',
        topicData: [],
        sontopicData: [],
        flselect: function (ev) {
            var _this = ev;
            $('.navbox').show();
        },
        sonSelcet:function(ev){
            var that = ev;
            vm_postart.topicId=$(that).attr('pid');
            $('.tjTopic>div>span').html($(that).html());
            $('.navbox').hide();
            $('.sonbox').hide();
        },
        ifTruePost: function () {
            var yzm = Math.floor(Math.random() * 9) + '' + Math.floor(Math.random() * 9) + '' + Math.floor(Math.random() * 9) + '' + Math.floor(Math.random() * 9);
            vm_postart.yzm = yzm;
        },
        getSondata: function (ev) {
            var _this = ev;
            $('.sonbox').show();
            vm_postart.mid = $(_this).attr('mid');
            $.ajax({
                url: root_Domain + '/taolun/topics/?gid=' + vm_postart.mid,
                type: 'get',
                dataType: 'json',
                success: function (ajax) {
                    vm_postart.sontopicData = ajax.data;
                }, error: function (error) {
                    console.log(error);
                }
            })
        },
        init: function () {
            this.topicData = JSON.parse(localStorage.getItem('Mgroup'));
            vm_postart.ifTruePost();
        }
    })
    yesFbtn.click(function () {
        var ckeData = editor1.getData();
        var title = $('input[name="newTopic"]').val();
        var yzmnow = $('.yzm input').val();
        if (!title) {
            layer.msg("请输入话题！！！");
        } else if (title.length > 100) {
            layer.msg("话题字数不能超过100！！！");
        } else {
            if (yzmnow == vm_postart.yzm) {
                if (ckeData && ckeData.length < 800 && vm_postart.topicId) {
                    Toolfun.iszhezClass();
                    $.ajax({
                        url: root_Domain + '/taolun/posting/',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            "title": title,
                            "content": ckeData,
                            "topic": vm_postart.topicId
                        },
                        success: function (ajax) {
                            Toolfun.qxzheClass();
                            layer.open({
                                content: '发布成功',
                                btn: ['继续发帖', '查看帖子'],
                                yes: function (index, layero) {
                                    window.location.reload();
                                    ifTruePost();
                                },
                                btn2: function (index, layero) {
                                    window.location.href = root_Domain + '/taolun/toposting/?pid=' + ajax.data;
                                }
                            })
                        },error:function(error){
                            layer.msg("最大内容长度为800！！！")
                        }
                    })
                }
            } else {
                layer.msg("请输入正确的验证码！！！");
            }

            if (!ckeData) {
                layer.msg("请输入内容,发布不能为空！！");
            } else if (ckeData.length > 800) {
                layer.msg("最大输入1000个字！！");
            }
            if (!vm_postart.topicId) {
                layer.msg("请选择要发帖的栏目");
            }
        }
    })
    {#    验证码函数,页面刷新时生成验证码#}
    vm_postart.init();
</script>
</body>

</html>