<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name=renderer content=webkit>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/uitls/idangerous.swiper2.7.6.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/avalon.js' %}"></script>
    <script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/uitls/tool.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'css/idangerous.swiper.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'layui/css/layui.css' %}">
</head>
{% include 'header.html' %}
<div ms-controller="indexhedes" class="bodyindex">
    <div class="banners">
        <div class="bannersBox">
            <div class="bannerboxleft">
                <div class="bannerwz bags" ms-repeat="navdata" ms-on-mouseover="navsShow(this)"
                     ms-on-mouseleave="navsHide(this)">
                    <img ms-attr-src="{el.child[0].thumb}">
                    <div class="xmlist">
                        <h3>{ el.name }</h3>
                        <p>
                            <a ms-attr-href="/luntan/articlelist/?tid={as.id}&all=1&Mid={el.id}" ms-repeat-as="el.child">{as.name}</a>
                        </p>
                    </div>
                    <div class="jticon"> ></div>

                    <!-- 隐藏 -->
                    <div class="hidebox" style="display:none">
                        <div class="hideboxlist">
                            <div class="conts" style="width: 100%; overflow: hidden;">
                                <ul style="width:90%">
                                    <li ms-repeat-it="el.allchild">
                                        <a ms-attr-href="/luntan/articlelist/?tid={it.id}&all=1&Mid={el.id}">{it.name}</a>
                                    </li>
                                </ul>
{#                                <h4><a href="/luntan">更多>></a></h4>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="qiehuanimg">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {#轮播体#}
                    </div>
                    <div class="pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="haoyunxibao" style="width: 100%; overflow: hidden; margin: 30px 0 10px 0;">
        <div class="haoyunboxos"
             style="margin: 0 auto; overflow: hidden; width: 1200px; height: 137px; background: #f9f1f5;">
            <div class="xibaobox" style="float: left; width: 302px;"><img src="{% static 'img/xibao.jpg' %}"></div>
            <div class="asdlkfj"
                 style="width: 898px; float: left; height: 137px; position: relative; overflow: hidden;">
                <ul id="baoxi_scroll_ul1"
                    style="position: absolute; top: 10px; width: 10000px; min-height: 60px; overflow: hidden; padding-left: 20px;">
                    <li style="height: 40px; float: left; overflow: hidden; border-radius: 5px;"></li>
                    <li ms-repeat-el="curuent_pagees"
                        style="height: 40px; min-width: 200px; float: left; background: #fff; overflow: hidden; border-radius: 5px;">
                        {% if request.user.is_active %}
                            <a ms-attr-href="/users/centerhim/{el.user.id}">
                                <img ms-attr-src="/media/{el.user.head}" style="float: left; margin-right: 8px; width: 30px; height: 30px; margin-top: 5px;">
                            </a>
                        {% else %}
                            <a href="/login"><img ms-attr-src="/media/{el.user.head}" style="float: left; margin-right: 8px; width: 30px; height: 30px; margin-top: 5px;"></a>
                        {% endif %}

                        <a ms-attr-href="/luntan/articles/?aid={el.id}" style="text-decoration: none; color: #666;">
                            <h3 style="font-size: 12px; margin-top: 14px;">{el.username}:<abbr style="color: #ff44ad;">{el.title}...</abbr>
                            </h3>
                        </a>
                    </li>
                    <li style="height: 40px; float: left; overflow: hidden; border-radius: 5px;"></li>
                </ul>
                <ul id="baoxi_scroll_ul2"
                    style="position: absolute; bottom: 10px; padding-top: 5px; width: 10000px; min-height: 60px; overflow: hidden; padding-left: 20px;">
                    <li style="height: 40px; float: left; overflow: hidden; border-radius: 5px;"></li>
                    <li ms-repeat-el="curuent_pagees"
                        style="height: 40px; min-width: 200px; float: left; background: #fff; overflow: hidden; border-radius: 5px;">
                        {% if request.user.is_active %}
                            <a ms-attr-href="/users/centerhim/{el.user.id}">
                                <img ms-attr-src="/media/{el.user.head}" style="float: left; margin-right: 8px; width: 30px; height: 30px; margin-top: 5px;"></a>
                        {% else %}
                            <a href="/login"><img ms-attr-src="/media/{el.user.head}" style="float: left; margin-right: 8px; width: 30px; height: 30px; margin-top: 5px;"></a>
                        {% endif %}
                        <a ms-attr-href="/luntan/articles/?aid={el.id}" style="text-decoration: none; color: #666;">
                            <h3 style="font-size: 12px; margin-top: 14px;">{el.username}:<abbr style="color: #ff44ad;">{el.title}...</abbr>
                            </h3>
                        </a>
                    </li>
                    <li style="height: 40px; float: left; overflow: hidden; border-radius: 5px;"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shiguanyiner" ms-controller="sgyercrl">
        <div class="sgyecontanather">
            <div class="sgyghhight sgyerbox">
                <div class="hhightleft">
                    <h3><abbr>试管婴儿</abbr><a href="/luntan/">试管论坛</a>|<a href="/hospital/">试管医院</a>|<a href="/shiguanbaby/">试管技术</a></h3>
                </div>
                <div class="hhgihtlefth3">
                    <div class="lefth3list">
                        <ul>
                            <li ms-repeat="sgyerdata" ms-class="currshequ:el.id == curid" isget="0" ms-click="goChange(el.id,this)">
                                {el.name}
                            </li>
                        </ul>
                    </div>
                    <div class="leftcontinfo">
                        <div class="hotinfo">
                            <div class="infoone" ms-repeat-its="imgdata">
                                <a ms-attr-href="/luntan/articles/?aid={its.id}">
                                    <img ms-attr-src="{its.snimg}">
                                    <p>{its.title.substr(0,20)}...</p>
                                </a>
                            </div>
                        </div>
                        <div class="rightinfonews">
                            <ul>
                                <li ms-repeat="lisdata">
                                    <a ms-attr-href="/luntan/articles/?aid={el.id}">
                                        {% if request.user.is_active %}
                                            <a ms-attr-href="/users/centerhim/{el.user.id}">
                                                <img ms-attr-src="/media/{el.user.head}">
                                            </a>
                                        {% else %}
                                            <a href="/login"><img ms-attr-src="/media/{el.user.head}"></a>
                                        {% endif %}

                                        <h3>{el.title.substr(0,15)}...</h3>
                                        <p>
                                            {el.content.match(/[\u4e00-\u9fa5]/g).toString().replace(/\,/g,'').substr(0,15)}...</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="moreall"><a href="/luntan/">更多</a></div>
                        </div>
                    </div>

                </div>
            </div>

            <!--  生殖医院推荐 -->
            {% include 'mod_hospital.html' %}
        </div>
    </div>
    <!-- partthree 开始-->
    <div class="shiguanyiner" ms-controller="hysqctl">
        <div class="sgyecontanather">
            <div class="sgyghhight">
                <div class="hhightleft">
                    <h3><abbr>好孕社区</abbr><a href="/luntan/">备孕交流</a>|<a href="/luntan/">难孕治疗</a>|<a
                            href="/luntan/">好孕妈妈</a></h3>
                </div>
                <div class="hhgihtlefth3 hysqbox">
                    <div class="leftcontinfoes">
                        <div class="hotinfo" style="width: 167px;">
                            <div class="infoone" ms-repeat-as="imgdata">
                                <a ms-attr-href="/luntan/articles/?aid={as.id}" style="display:block;">
                                    <img ms-attr-src="{as.snimg}" style="width:167px;height:200px;">
                                    <p>{as.title.substr(0,15)}...</p>
                                </a>
                            </div>
                        </div>
                        <div class="rightinfonewses">
                            <ul>
                                <li ms-repeat-as="lisdata">
                                    <a ms-attr-href="/luntan/articles/?aid={as.id}">
                                        {% if request.user.is_active %}
                                            <a ms-attr-href="/users/centerhim/{as.user.id}">
                                                <img ms-attr-src="/media/{as.user.head}" style="width:36px;height:36px;border-radius: 50%;">
                                            </a>
                                        {% else %}
                                            <a href="/login">
                                                <img ms-attr-src="/media/{as.user.head}" style="width:36px;height:36px;border-radius: 50%;">
                                            </a>
                                        {% endif %}

                                        <h3 style="font-weight:bold;">{as.title.substr(0,10)}...</h3>
                                        <p>
                                            {as.content.match(/[\u4e00-\u9fa5]/g).toString().replace(/\,/g,'').substr(0,13)}...
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="hotbeiyun" ms-repeat-its="hotimg">
                            <a ms-attr-href="/luntan/articles/?aid={its.id}">
                                <img ms-attr-src="its.snimg" height="409px" width="100%;">
                                <p>{its.title.substr(0,14)}...</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <!--  备孕头条 -->
            <div class="szdoctorhot">
                <div class="doctorhottitle">
                    <a href="/luntan/">备孕头条 <abbr>更多>></abbr></a>
                </div>
                <div class="cityhologe">
                    <ul>
                        <li ms-repeat-as="beiydata"><a ms-attr-href="/luntan/articles/?aid={as.article.id}">{as.article.title.substr(0,20)}</a><abbr>></abbr>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- 不孕不育 -->
    <div class="shiguanyiner" ms-controller="bybyctl">
        <div class="sgyecontanather">
            <div class="sgyghhight">
                <div class="hhightleft" style="margin-bottom: 20px;">
                    <h3>
                        <abbr>不孕不育</abbr>
                        <a href="/taolun/">女性不孕</a>|<a href="/taolun/">男性不育</a>|<a href="/taolun/">病理性不孕</a>
                        <a href="/taolun/" style="float: right; margin-right: 50px;">更多>></a>
                    </h3>
                </div>
                <div class="hhgihtlefth3">
                    <div class="leftcontinfoes">
                        <div class="lwzlist">

                            <div class="h3tgoplis">
                                <div class="tupianhost" ms-repeat-as="limgdata">
                                    <a ms-attr-href="/taolun/toposting/?pid={as.id}">
                                        <img ms-attr-src="{as.snimg}" alt="{as.title}" style="height:130px;">
                                        <p>{as.title.substr(0,14)}...</p>
                                    </a>
                                </div>
                            </div>

                            <div class="listh3hasdf" style="margin-top:26px;">
                                <ul>

                                    <li ms-repeat-its="llisdata">
                                        <a ms-attr-href="/taolun/toposting/?pid={its.id}">
                                            {% if request.user.is_active %}
                                                <a ms-attr-href="/users/centerhim/{its.user.id}">
                                                    <img ms-attr-src="/media/{its.user.head}"
                                                         ms-attr-alt="{its.user.username}"
                                                         style="width:36px;height:36px;border-radius: 50%">
                                                </a>
                                            {% else %}
                                                <a href="/login">
                                                    <img ms-attr-src="/media/{its.user.head}"
                                                         ms-attr-alt="{its.user.username}"
                                                         style="width:36px;height:36px;border-radius: 50%">
                                                </a>
                                            {% endif %}

                                            <h3>{its.title.substr(0,14)}...</h3>
                                            <p>
                                                {its.content.match(/[\u4e00-\u9fa5]/g)?its.content.match(/[\u4e00-\u9fa5]/g).toString().replace(/\,/g,'').substr(0,20) : ''}...</p>
                                        </a>
                                    </li>

                                </ul>
                            </div>

                        </div>

                        <div class="rwzlist">
                            <div class="ahfljks">
                                <div class="fsaldkjf" ms-repeat-item="rimgdata">
                                    <a ms-attr-href="/taolun/toposting/?pid={item.id}">

                                        <img ms-attr-src="{item.snimg}" ms-attr-alt="{item.title}" width="133"
                                             height="60" style="float: left; margin-right: 8px;border-radius: 8px;">

                                        <h3 style="font-weight:bold;margin-bottom:5px;color:#000;">
                                            {item.title.substr(0,14)}...</h3>
                                        <p>
                                            {item.content.match(/[\u4e00-\u9fa5]/g)?item.content.match(/[\u4e00-\u9fa5]/g).toString().replace(/\,/g,'').substr(0,20):''}...</p>
                                    </a>
                                </div>
                            </div>

                            <div class="listh3hasdf">
                                <ul>
                                    <li ms-repeat-its="rlisdata">
                                        <a ms-attr-href="/taolun/toposting/?pid={its.id}">
                                            {% if request.user.is_active %}
                                                <a ms-attr-href="/users/centerhim/{its.user.id}"><img
                                                        ms-attr-src="/media/{its.user.head}"
                                                        ms-attr-alt="{its.user.username}"
                                                        style="width:36px;height:36px;border-radius: 50%"></a>
                                            {% else %}
                                                <a href="/login">
                                                    <img ms-attr-src="/media/{its.user.head}" ms-attr-alt="{its.user.username}" style="width:36px;height:36px;border-radius: 50%"></a>
                                            {% endif %}

                                            <h3 style="color:#000;">{its.title.substr(0,24)}...</h3>
                                            <p>
                                                {its.content.match(/[\u4e00-\u9fa5]/g)?its.content.match(/[\u4e00-\u9fa5]/g).toString().replace(/\,/g,'').substr(0,26):''}...</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--  生殖医院推荐 -->

            <div class="szdoctorhot">
                <div class="cityhologe">
                    <a href="javascript:;"><img src="{% static 'img/07.jpg' %}" style="margin-left: 23px;"></a>
                    <p>病理性不孕 <a href="/taolun/"><span class="bybymore">更多</span></a></p>
                    <ul>
                        <li ms-repeat-as="blxbydata"><a ms-attr-href="/taolun/toposting/?pid={as.id}">{as.title.substr(0,24)}</a><abbr>></abbr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 热点回答 -->
    <div class="hotanwser" ms-controller="hotaskbq">
        <div class="hotanwsercont">
            <h3 class="h3frist">热点回答 <a href="/taolun/">更多>></a></h3>
            <p class="ppart">
                <abbr ms-repeat="navdata" isget='0' ms-click="goChange($index,el.id,this)"
                      ms-class="currpaitp:topicid==el.id">{el.name.substr(0,6)}</abbr>
            </p>
            <div class="wentiwa">
                <div class="titleanswer" ms-repeat-as="askdata">
                    <h3><a ms-attr-href="/taolun/toposting/?pid={as.id}">{as.title}</a></h3>
                    <p>{as.comment.comment|html}...</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 百科知识 11111111111111111-->
    <div class="shiguanyiner">
        <div class="sgyecontanather">
            <div class="sgyghhight" style="margin-right:20px;">
                <div class="hhightleft">
                    <h3>
                        <abbr>百科知识</abbr>
                        <a ms-repeat="bksonlmdara" ms-attr-href="/baike/baike_list?types={el.id}">{el.menu_name.substr(0,4)}</a>

                    </h3>
                </div>
                <div class="hhgihtlefth3">
                    <div class="lefth3list">
                        <ul>
                            <li ms-repeat-el="datasgyes" ms-class="currshequ:el.mid == b" isget="0" ms-click="changrightlm(el.mid,$index,this)">
                                {el.menu_name}
                            </li>
                        </ul>
                    </div>
                    <div class="leftcontinfo123">
                        <div class="baikelist" style="padding-top: 30px;">
                            <div class="fourpartg" ms-repeat-el="erjidatalist">
                                <div>
                                    <h3>{el.menu_name}</h3>
                                    <div class="yunqq">
                                        <a ms-repeat-sanji="el.children" ms-attr-href="/baike/article?aid={sanji.articleid}">{sanji.title}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  热门知识推荐 -->
            {% include 'mod_hotask.html' %}
        </div>
    </div>
    <!-- 底部 -->
    <div style="width: 1200px; margin: 0 auto; overflow: hidden;margin-bottom: 50px;" class="footeres">
        <p style="font-size: 14px; color: #333;">友情链接:申请合作</p>
        <div class="lianjieyq" style="margin-top: 30px;">
            {% for item in friendlink %}
                <a href="{{ link }}">{{ item.link_name }}</a> {% endfor %}
        </div>
    </div>
    {% include 'footer.html' %}
    <script>
        var locaStragenavdata = '';
        var vm_indexhedes = avalon.define({
            $id: 'indexhedes',
            navdata: [],
            lunbodata: [],
            curuent_pagees: [],
            navsShow: function (ev) {
                var _this = ev;
                $(_this).css("background-color", "#e2afd6");
                $(_this).find('.hidebox').show();
            },
            navsHide: function (ev) {
                var _this = ev;
                $(_this).css("background-color", "");
                $(_this).find('.hidebox').hide();
            },
            getGdt: function () {
                $.ajax({
                    url: '/luntan/goodmother/?aid=2&num=10&page=1',
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        vm_indexhedes.curuent_pagees = data.data.curuent_page
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })

                $.ajax({
                    url: '/webmanage/banner',
                    type: 'post',
                    data: {
                        'bannertype': 1,
                        'csrfmiddlewaretoken': glob_csrftoken
                    },
                    success: function (ajax) {
                        var lunbohtml = '';
                        for (var i = 0; i < ajax.data.length; i++) {
                            lunbohtml += '<div class="swiper-slide"><a href="' + ajax.data[i].banner_link + '" target="_blank"><img src="/media/' + ajax.data[i].cover + '" width="890" height="360"></a></div>';
                        }
                        $('.qiehuanimg .swiper-wrapper').html(lunbohtml);
                        var mySwiper = new Swiper('.swiper-container', {
                            loop: true,
                            autoplay: 3000,
                            pagination: '.pagination',
                            paginationClickable: true,
                        })
                        var lb_btn = $('.lb_btn');
                        $('.leftBtn').click(function () {
                            mySwiper.swipePrev();
                        });
                        $('.rightBtn').click(function () {
                            mySwiper.swipeNext();
                        });
                        $('.swiper-container').mousemove(function () {
                            lb_btn.each(function () {
                                $(this).addClass('yesShow');
                            });
                        }).mouseleave(function () {
                            lb_btn.each(function () {
                                $(this).removeClass('yesShow');
                            });
                        })
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
        })
        vm_indexhedes.getGdt();
        var api_indexhed = '/luntan/areas/',
            api_userActive = '/luntan/goodmother/?aid=2&num=10&page=1';
        $.ajax({
            url: api_indexhed,
            type: 'get',
            dataType: 'json',
            success: function (ajax) {
                localStorage.setItem("navdata", JSON.stringify(ajax.data));
                var newdata = [];
                for (var i = 0; i < ajax.data.length; i++) {
                    if (i != 1) {
                        newdata.push(ajax.data[i]);
                    }
                }
                for (var j = 0; j < newdata.length; j++) {
                    newdata[j].child = newdata[j].child.splice(0, 4);
                    newdata[j].allchild = JSON.parse(localStorage.getItem("navdata"))[j].child;
                }
                vm_indexhedes.navdata = newdata;
                vm_hotaskbq.init();
                vm_hysqctl.init();
                vm_sgyercrl.init();
            },
            error: function (error) {
                console.log(error);
            }
        });
        var vm_sgyercrl = avalon.define({
            $id: 'sgyercrl',
            sgyerdata: [],
            curid: '',
            imgdata: [],
            lisdata: [],
            init: function () {
                var navs = JSON.parse(localStorage.getItem('navdata'));
                if (navs[2]) {
                    $.ajax({
                        url: '/luntan/topics/?aid=' + navs[2].id,
                        type: 'get',
                        dataType: 'json',
                        success: function (ajax) {
                            var zzdata = [];
                            if(ajax.data.length>7){
                                for(var i=0;i<7;i++){
                                    zzdata.push(ajax.data[i]);
                                }
                            }else{
                                zzdata = ajax.data;
                            }
                            vm_sgyercrl.sgyerdata = zzdata;
                            vm_sgyercrl.curid = ajax.data[0].id;
                            vm_sgyercrl.getlidata();
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                }
            },
            goChange: function (id, ev) {
                if ($(ev).attr('isget') > 0) {
                    return;
                }
                $(ev).attr('isget', 1);
                vm_sgyercrl.curid = id;
                vm_sgyercrl.getlidata();
                setTimeout(function () {
                    $(ev).attr('isget', 0);
                }, 1000)
            },
            getlidata: function () {
                $.ajax({
                    url: '/luntan/articlelist/?tid=' + vm_sgyercrl.curid + '&num=7&page=1',
                    type: 'get',
                    dataType: 'json',
                    success: function (ajax) {
                        var data = ajax.data.curuent_page.splice(0, 2);
                        Toolfun.snimgzsClass(data);
                        vm_sgyercrl.imgdata = data;
                        vm_sgyercrl.lisdata = ajax.data.curuent_page;
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
        })

        var vm_hysqctl = avalon.define({
            $id: 'hysqctl',
            imgdata: [],
            lisdata: [],
            hotimg: [],
            beiydata: [],
            init: function () {
                var navs = JSON.parse(localStorage.getItem('navdata'));
                if (navs[3]) {
                    $.ajax({
                        url: '/luntan/articlelist/?tid=' + navs[3].child[0].id + '&num=8',
                        type: 'get',
                        dataType: 'json',
                        success: function (ajax) {
                            var imgdata = ajax.data.curuent_page.splice(0, 2);
                            Toolfun.snimgzsClass(imgdata);
                            vm_hysqctl.imgdata = imgdata;
                            vm_hysqctl.lisdata = ajax.data.curuent_page.splice(0, 5);
                            var hotdata = ajax.data.curuent_page;
                            Toolfun.snimgzsClass(hotdata)
                            vm_hysqctl.hotimg = hotdata;
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                }
                $.ajax({
                    url: '/luntan/hotarticles/',
                    type: 'get',
                    dataType: 'json',
                    success: function (ajax) {
                        vm_hysqctl.beiydata = ajax.data.splice(0, 8);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
        })

        var vm_bybyctl = avalon.define({
            $id: 'bybyctl',
            limgdata: [],
            rimgdata: [],
            llisdata: [],
            rlisdata: [],
            blxbydata: [],
            init: function () {
                $.ajax({
                    url: '/taolun/postinglist/?num=12',
                    type: 'get',
                    dataType: 'json',
                    success: function (ajax) {
                        var limgdata = ajax.data.splice(0, 2),
                            rimgdata = ajax.data.splice(0, 2),
                            llisdata = ajax.data.splice(0, 4),
                            rlisdata = ajax.data;
                        Toolfun.snimgzsClass(limgdata);
                        Toolfun.snimgzsClass(rimgdata);
                        vm_bybyctl.limgdata = limgdata;
                        vm_bybyctl.rimgdata = rimgdata;
                        vm_bybyctl.llisdata = llisdata;
                        vm_bybyctl.rlisdata = rlisdata;
                    },
                    error: function (error) {
                        console.log(error)
                    }
                });
                $.ajax({
                    url: '/taolun/hotarticles/',
                    type: 'get',
                    dataType: 'json',
                    success: function (ajax) {
                        vm_bybyctl.blxbydata = ajax.data.splice(0, 6);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
        })
        vm_bybyctl.init();
        var vm_hotaskbq = avalon.define({
            $id: 'hotaskbq',
            topicid: '',
            navdata: [], //存放栏目数据
            askdata: [], //存放问答数据
            init: function () {
                $.ajax({
                    url: '/taolun/gethotquestion/',
                    type: 'get',
                    dataType: 'json',
                    success: function (ajax) {
                        var zzdata = [];
                        if(ajax.data.length>7){
                            for(var i=0;i<7;i++){
                                zzdata.push(ajax.data[i]);
                            }
                        }else{
                            zzdata = ajax.data;
                        }
                        vm_hotaskbq.navdata = zzdata;
                        vm_hotaskbq.topicid = ajax.data[0].id;
                        vm_hotaskbq.askdata = ajax.data[0].child;
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            },
            goChange: function (index, id, ev) {
                if ($(ev).attr('isget') > 0) {
                    return;
                }
                $(ev).attr('isget', 1);
                vm_hotaskbq.topicid = id;
                vm_hotaskbq.askdata = vm_hotaskbq.navdata[index].child;
                setTimeout(function () {
                    $(ev).attr('isget', 0);
                }, 1000)
            }
        })

    </script>
    <script>
        $(function () {
            if ($('body').width() > 768) {
                var scroll1 = true,
                    scroll2 = true;
                (function () {
                    var _x = 0;
                    var _width = parseFloat($('#baoxi_scroll_ul1 li:first-child').css('width')) + 20;

                    function setTime() {
                        if (scroll1) {
                            _x--;
                            var fushu = _width * 1.0 * _width;
                            if (_x * _x * 1.0 >= fushu) {
                                _x = 0;
                                $("#baoxi_scroll_ul1 li:last-child").after($("#baoxi_scroll_ul1 li:first-child"));
                                _width = parseFloat($('#baoxi_scroll_ul1 li:first-child').css('width')) + 20;
                            }
                            $('#baoxi_scroll_ul1').css({
                                'left': _x
                            });
                        }
                    }

                    setInterval(setTime, 15);
                })();
                (function () {
                    var _x = 0;
                    var _width = parseFloat($('#baoxi_scroll_ul2 li:first-child').css('width')) + 20;

                    function setTime() {
                        if (scroll2) {
                            _x--;
                            var fushu = _width * 1.0 * _width;
                            if (_x * _x * 1.0 >= fushu) {
                                _x = 0;
                                $("#baoxi_scroll_ul2 li:last-child").after($("#baoxi_scroll_ul2 li:first-child"));
                                _width = parseFloat($('#baoxi_scroll_ul2 li:first-child').css('width')) + 20;
                            }
                            $('#baoxi_scroll_ul2').css({
                                'left': _x
                            });
                        }
                    }

                    setInterval(setTime, 10);
                })();
                $('#baoxi_scroll_ul1').mouseenter(function () {
                    scroll1 = false;
                }).mouseleave(function () {
                    scroll1 = true;
                });
                $('#baoxi_scroll_ul2').mouseenter(function () {
                    scroll2 = false;
                }).mouseleave(function () {
                    scroll2 = true;
                })
            }
        })
    </script>
</div>

</html>