{% load static %}
{% include 'config.html' %}
 <div class="hotwdtuijian strsub"  ms-controller="rmarcs" style="width: 315px;  padding: 0 6px; float: left; ">
         <ul>
           <li ms-repeat-item="getwendaese">
{#              <i class="iconfont">&#xe615;</i>#}
               <img src="{% static 'img/message.png' %}" alt="" width="20px" height="20px">
              <a ms-attr-href="/taolun/toposting/?pid={item.id}">{item.title }</a>
              <abbr>{item.commentnum}个问答</abbr>
           </li>
         </ul>
</div>

<script>
    var vm_rmarESc = avalon.define({
        $id: 'rmarcs',
        data: [],
        getwendaese:[],
        getwenda:function (){
            $.ajax({
              type: 'get',
              url: '/taolun/hotarticles/',
              data: {},
              dataType: "json",
              success: function (data) {
                  vm_rmarESc.getwendaese = data.data
              }
          });
        },
    })
   vm_rmarESc.getwenda();
</script>