{% load static %}
{% include 'config.html' %}
<div class="remenhuaties" ms-controller="hothospital">
    <h3>医院推荐 <a href="/hospital/">更多>></a></h3>
    <div class="hosadress">
        <p><i class="iconfont">&#xe61f;</i><span class="diqu">13131</span></p>
        <ul class="diqubox">
            <li ms-repeat-its="diqudata.child" ms-click="getSon(this,$index)">{its.name}</li>
        </ul>
        <ul >
            <li ms-repeat-as="diqudata.child[index].child" ms-click="diquSelect(as.id,this)">{as.name}</li>
        </ul>
    </div>
    <ul>
        <li>
            <a href="">我是医院名称</a>
        </li>
    </ul>
</div>
<script>
    var vm_hothospital = avalon.define({
        $id: 'hothospital',
        diqudata:[],
        index:0,
        hositaldata:[],
        diquid:7,
        init: function () {
            $('.hosadress>p').click(function(){
                $('.diqubox').show();
            })
            $.ajax({
                url:root_Domain+'/hospital/areas/',
                type:'get',
                dataType:'json',
                success:function(ajax){
                    vm_hothospital.diqudata = ajax.data[0];
                    console.log(vm_hothospital.diqudata,6666666)
                },error:function(error){
                    console.log(error);
                }
            })
        },
        gethosdata:function(){
            $.ajax({
                url:root_Domain+'/hospital/hospitallist/?cityarea='+vm_hothospital.diquid+'&hospitallv=3',
                type:'get',
                dataType: 'json',
                success:function(ajax){
                    vm_hothospital.hositaldata = ajax.data;
                },error:function (error){
                    console.log(error);
                }
            })
        },
        getSon:function(ev,index){
            var _this = ev;
            $(_this).parent().next().show();
            vm_hothospital.index = index;

        },
        diquSelect:function(id,ev){
            var _this = ev;
            vm_hothospital.gethosdata();
        }
    })
    vm_hothospital.init();
</script>