{% load static %}
{% include 'config.html' %}
 <div class="hotwdtuijian"  ms-controller="rmarcs" style="width: 320px; margin-top: 20px; padding: 0 20px; float: left; margin-left: 26px;">
         <ul>
           <li ms-repeat-item="getwendaese">
              <i class="layui-icon">&#xe615;</i>
              <a ms-attr-href="/taolun/toposting/?pid={item.id}">{item.title}</a>
              <abbr>{item.commentnum}个问答</abbr>
           </li>
         </ul>
</div>
<script>
    var vm_rmarESc = avalon.define({
        $id: 'rmarcs',
        data: [],
        getwendaese:[],
        getwenda:function (){
            $.ajax({
              type: 'get',
              url: '/taolun/hotarticles/',
              data: {},
              dataType: "json",
              success: function (data) {
                  vm_rmarESc.getwendaese = data.data
              }
          });
        },
    })
   vm_rmarESc.getwenda();
</script>