{% load static %}
{% include 'config.html' %}
<div class="hot_arc  hotarcs" ms-controller="rmarc">
    <div class="rgt_tit">
        <h4><span>热门文章</span></h4>
    </div>
    <ul class='clearfix'>
        <li ms-repeat-el="data" style="line-height: 15px;">
            <a ms-attr-href="/luntan/articles/?aid={el.article.id}">
                <span>{el.article.title | truncate(18,'...')}</span>
                <span style="float: right;">
{#                    <i class="iconfont">&#xe63a;</i>{el.thumb}#}
                   <img src="{% static 'img/result.png' %}" alt=""> {el.thumb}
                </span>
            </a>
        </li>
    </ul>
    <div class="sjchangebtn" isget="0" ms-click="goChange(this)">
        <span ><i class="iconfont" >&#xe615;</i>换一批</span>
    </div>
</div>

<script>
    var api_hotarticles =  '/luntan/hotarticles/',
        rmarc_num = 9;
    var vm_rmarc = avalon.define({
        $id: 'rmarc',
        data: [],
        goChange: function (e) {
            var _this = $(e);
            if(_this.attr('isget')>0){
                return;
            }
            _this.attr('isget',1);
            _this.addClass('sjchangebtnselect');
            {#$(e).css({'background-color':'#FF44AD','color':'#fff'})#}
            setTimeout(function(){
                _this.attr('isget',0);
                _this.removeClass('sjchangebtnselect');
            },2000)
            reshRmarc();
        }
    })
    function reshRmarc() {
        $.ajax({
            url: api_hotarticles,
            type: 'get',
            dataType: 'json',
            success: function (ajax) {
                var randomdata = [];
                for (var i = 0; i < rmarc_num; i++) {
                    randomdata.push(ajax.data[Math.floor(Math.random() * ajax.data.length)]);
                }
                vm_rmarc.data = randomdata;
            }, error: function (error) {
                console.log(error);
            }
        });
    }
    reshRmarc();//初始化热门新闻
</script>