<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <script src="../static/avalon.js"></script>-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'avalon.js' %}">
    <title>评论</title>
    <script>
         var vm = avalon.define({
             $id:'test',
             zhou:"beiyun",
             data:{
                contents:'',
                articleid:'',
                parentcommon:''
             },
             tijiaofunc:function(){
                console.log(vm.data);

             }
         })
    </script>
     <div ms-controller="test">
        <p>正文<input type="text" name="content" ms-duplex="data.contents"></p>{{data.contents}}
        <p>被评论的帖子id<input type="text" name="article_id" ms-duplex="data.articleid"></p>
        <p>被评论的评论id<input type="text" name="parent_common_id" ms-duplex="data.parentcommon"></p>
        <p ms-click="tijiaofunc" style="width:200px; background:red;">提交</p>
     </div>
</head>
<body>

</body>
</html>