<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/coment.css' %}">
    <link rel="stylesheet" href="{% static 'css/yuerlt.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
    <script src="{% static 'js/uitls/jquery.min.js' %}"></script>
    <script src="{% static 'ckeditor4/ckeditor.js' %}"></script>
    <script src="{% static 'js/uitls/avalon.js' %}"></script>
    <script src="{% static 'js/uitls/tool.js' %}"></script>
    <title>发帖</title>
</head>

<body>
    {% include 'config.html' %}
    {% include 'header.html' %}
    <section id="postMain" class='wid' style='margin-top:30px;' ms-controller="postart">
        <div class="currdis clearfix">
            <div class="dqwz">当前位置：</div>
            <div class="lmmbx">
                <a href="#">备孕交流圈</a>
                <span>></span>
                <a href="#">发帖</a>
            </div>
        </div>
        <div class="postBox">
            <p class="newPost">发新帖</p>
            <form>
                <label for="newTopic">话题：</label>
                <input type="text" name='newTopic'>
            </form>
            <div class="tjTopic">
                <p>推荐话题</p>
                <nav class="topic_as clearfix">
                    <a href="javascript:;">我是话题</a>
                    <a href="javascript:;">我是话题</a>
                    <a href="javascript:;">我是话题</a>
                    <a href="javascript:;">我是话题</a>
                    <a href="javascript:;">我是话题</a>
                    <a href="javascript:;">备孕交流圈的话题标签</a>
                    <a href="javascript:;">备孕交流圈的话题标签</a>
                    <a href="javascript:;">备孕交流圈的话题标签</a>
                    <a href="javascript:;">备孕交流圈的话题标签</a>
                </nav>
            </div>
            <div id="topicSelect">

                <div class="kindeitorbox">
                    <div class='fl'>内容：</div>
                    <div class='editorbox fl'>
                        <textarea id="editor_id" name="editor1">
                            &lt;strong&gt;我是输入的文章内容，可以插入图片和表情包等信息，可以调整输入框大小&lt;/strong&gt;
                        </textarea>
                        <div class="editor_footer clearfix">
                            <div class="yzm">
                                <input type="text" placeholder="输入右侧验证码">
                                <div class="data-yznum">
                                    9054
                                </div>
                            </div>
                            <div class="isFbtn fr">
                                <div id="noFbtn" class='fl'>取消发布</div>
                                <div id="yesFbtn" class='fl'>立即发布</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
{# 底部调用 #}
   {% include 'footer.html' %}
    <script>
        $(document).ready(function() {
            CKEDITOR.replace('editor_id');
            var mid = localStorage.getItem("Mid");
            var topicData = JSON.parse(localStorage.getItem("topicNavs"));
            var vm_postart = avalon.define({
                $id: 'postart',

            })
            console.log(mid,999999999999999999,topicData)
        })
    </script>
</body>

</html>