<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="试管婴儿">
    <meta name="keywords" content="试管婴儿">
    <link rel="stylesheet" href="{% static 'css/coment.css' %}">
    <link rel="stylesheet" href="{% static 'css/sgyer.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
    <script src="{% static 'js/uitls/jquery.min.js' %}"></script>
    <script src="{% static 'layui/layui.all.js' %}"></script>
    <script src="{% static 'js/uitls/avalon.js' %}"></script>
    <script src="{% static 'js/uitls/tool.js' %}"></script>
    <title>试管婴儿</title>
</head>

<body id='body'>
    <header style='width: 100%;height:150px;background-color:skyblue;position:absolute;top:0;'></header>
    <!-- 试管栏头部 -->
    <section class="sgyer_h wid clearfix" id='sgyer_h'>
        <p><span>当前位置：</span><a href="javascript:;">试管婴儿</a></p>
        <div class="sg_hot fl">
            <a href=""><img src="{% static 'images/sgyer/imgh.png' %}" alt="hot图片"></a>

            <h4>
                <a href="javascript:;">我是试管婴儿文章标题最多显示一行，多余的用...代替文案文案文案文案文案文案</a>
                </a>
            </h4>
            <p><a>近期因为龋齿的问题，几经波折终于在凌晨"抢到"口腔科的预约号。到医院后发现排队的人中有很多小年龄段的儿童，多数是因为夜奶、爱吃糖果、没有养成良好的刷牙习惯等原因问题造成乳牙/新</a></p>
        </div>
        <ul class="sg_hot_r fr">
            <li>
                <a href="#">
                    <img src="{% static 'images/sgyer/imgh1.png' %}" alt="">
                </a>
                <span>
                    <a href="">我是试管婴儿文章标题最多显示10个......</a>
                </span>
            </li>
            <li>
                <a href="#">
                    <img src="{% static 'images/sgyer/imgh1.png' %}" alt="">
                </a>
                <span>
                    <a href="">我是试管婴儿文章标题最多显示10个......</a>
                </span>
            </li>
            <li>
                <a href="#">
                    <img src="{% static 'images/sgyer/imgh1.png' %}" alt="">
                </a>
                <span>
                    <a href="">我是试管婴儿文章标题最多显示10个......</a>
                </span>
            </li>
            <li>
                <a href="#">
                    <img src="{% static 'images/sgyer/imgh1.png' %}" alt="">
                </a>
                <span>
                    <a href="">我是试管婴儿文章标题最多显示10个......</a>

                </span>
            </li>
        </ul>
    </section>
    <!-- 试管栏主体 -->
    <section id="sgyer_main" class='wid clearfix'>
        <div class="sgyer_main_l fl" ms-controller='mySingerCtrl'>
            <div class="sgbtn">
                <div class='sg_select'>国内试管婴儿</div>
                <div>海外试管婴儿</div>
            </div>
            <ul class="sginfo clearfix">
                <li>
                    <a href="javascript:;"><img src='{% static 'images/sgyer/img4.png' %}' alt=""></a>
                    <div class='sginfo_r fr'>
                        <h4><a href="javascript:;">只显示一行，文章标题和内容，评论，标签都可以点击至文章详情。</a></h4>
                        <p><a href="javascript:;">我是文章内容字段，最多显示2行，超过两行用...代替。我是文章内容字段，最多显示2行
                            超过两行用...代替。我是文章内容字段，最多显示2行，超过两行用...代替。</a></p>
                        <div class='sg_tag'>
                            <span><a href="javascript:;">标签文案</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                        </div>
                        <div class='sg_userinfo'>
                            <div class='fl'>
                                <span>我是用户名</span>
                                <span>2020.10.26</span>
                            </div>
                            <div class='fr'>
                                <a href="">
                                    <span class='iconfont'>&#xe605;</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:;"><img src='{% static 'images/sgyer/img4.png' %}' alt=""></a>
                    <div class='sginfo_r fr'>
                        <h4><a href="javascript:;">只显示一行，文章标题和内容，评论，标签都可以点击至文章详情。</a></h4>
                        <p><a href="javascript:;">我是文章内容字段，最多显示2行，超过两行用...代替。我是文章内容字段，最多显示2行
                            超过两行用...代替。我是文章内容字段，最多显示2行，超过两行用...代替。</a></p>
                        <div class='sg_tag'>
                            <span><a href="javascript:;">标签文案</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                        </div>
                        <div class='sg_userinfo'>
                            <div class='fl'>
                                <span>我是用户名</span>
                                <span>2020.10.26</span>
                            </div>
                            <div class='fr'>
                                <a href="">
                                    <span class='iconfont'>&#xe605;</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:;"><img src='{% static 'images/sgyer/img4.png' %}' alt=""></a>
                    <div class='sginfo_r fr'>
                        <h4><a href="javascript:;">只显示一行，文章标题和内容，评论，标签都可以点击至文章详情。</a></h4>
                        <p><a href="javascript:;">我是文章内容字段，最多显示2行，超过两行用...代替。我是文章内容字段，最多显示2行
                            超过两行用...代替。我是文章内容字段，最多显示2行，超过两行用...代替。</a></p>
                        <div class='sg_tag'>
                            <span><a href="javascript:;">标签文案</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                        </div>
                        <div class='sg_userinfo'>
                            <div class='fl'>
                                <span>我是用户名</span>
                                <span>2020.10.26</span>
                            </div>
                            <div class='fr'>
                                <a href="">
                                    <span class='iconfont'>&#xe605;</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:;"><img src='{% static 'images/sgyer/img4.png' %}' alt=""></a>
                    <div class='sginfo_r fr'>
                        <h4><a href="javascript:;">只显示一行，文章标题和内容，评论，标签都可以点击至文章详情。</a></h4>
                        <p><a href="javascript:;">我是文章内容字段，最多显示2行，超过两行用...代替。我是文章内容字段，最多显示2行
                            超过两行用...代替。我是文章内容字段，最多显示2行，超过两行用...代替。</a></p>
                        <div class='sg_tag'>
                            <span><a href="javascript:;">标签文案</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                        </div>
                        <div class='sg_userinfo'>
                            <div class='fl'>
                                <span>我是用户名</span>
                                <span>2020.10.26</span>
                            </div>
                            <div class='fr'>
                                <a href="">
                                    <span class='iconfont'>&#xe605;</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:;"><img src='{% static 'images/sgyer/img4.png' %}' alt=""></a>
                    <div class='sginfo_r fr'>
                        <h4><a href="javascript:;">只显示一行，文章标题和内容，评论，标签都可以点击至文章详情。</a></h4>
                        <p><a href="javascript:;">我是文章内容字段，最多显示2行，超过两行用...代替。我是文章内容字段，最多显示2行
                            超过两行用...代替。我是文章内容字段，最多显示2行，超过两行用...代替。</a></p>
                        <div class='sg_tag'>
                            <span><a href="javascript:;">标签文案</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                        </div>
                        <div class='sg_userinfo'>
                            <div class='fl'>
                                <span>我是用户名</span>
                                <span>2020.10.26</span>
                            </div>
                            <div class='fr'>
                                <a href="">
                                    <span class='iconfont'>&#xe605;</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:;"><img src='{% static 'images/sgyer/img4.png' %}' alt=""></a>
                    <div class='sginfo_r fr'>
                        <h4><a href="javascript:;">只显示一行，文章标题和内容，评论，标签都可以点击至文章详情。</a></h4>
                        <p><a href="javascript:;">我是文章内容字段，最多显示2行，超过两行用...代替。我是文章内容字段，最多显示2行
                            超过两行用...代替。我是文章内容字段，最多显示2行，超过两行用...代替。</a></p>
                        <div class='sg_tag'>
                            <span><a href="javascript:;">标签文案</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                        </div>
                        <div class='sg_userinfo'>
                            <div class='fl'>
                                <span>我是用户名</span>
                                <span>2020.10.26</span>
                            </div>
                            <div class='fr'>
                                <a href="">
                                    <span class='iconfont'>&#xe605;</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:;"><img src='{% static 'images/sgyer/img4.png' %}' alt=""></a>
                    <div class='sginfo_r fr'>
                        <h4><a href="javascript:;">只显示一行，文章标题和内容，评论，标签都可以点击至文章详情。</a></h4>
                        <p><a href="javascript:;">我是文章内容字段，最多显示2行，超过两行用...代替。我是文章内容字段，最多显示2行
                            超过两行用...代替。我是文章内容字段，最多显示2行，超过两行用...代替。</a></p>
                        <div class='sg_tag'>
                            <span><a href="javascript:;">标签文案</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                        </div>
                        <div class='sg_userinfo'>
                            <div class='fl'>
                                <span>我是用户名</span>
                                <span>2020.10.26</span>
                            </div>
                            <div class='fr'>
                                <a href="">
                                    <span class='iconfont'>&#xe605;</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:;"><img src='{% static 'images/sgyer/img4.png' %}' alt=""></a>
                    <div class='sginfo_r fr'>
                        <h4><a href="javascript:;">只显示一行，文章标题和内容，评论，标签都可以点击至文章详情。</a></h4>
                        <p><a href="javascript:;">我是文章内容字段，最多显示2行，超过两行用...代替。我是文章内容字段，最多显示2行
                            超过两行用...代替。我是文章内容字段，最多显示2行，超过两行用...代替。</a></p>
                        <div class='sg_tag'>
                            <span><a href="javascript:;">标签文案</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                        </div>
                        <div class='sg_userinfo'>
                            <div class='fl'>
                                <span>我是用户名</span>
                                <span>2020.10.26</span>
                            </div>
                            <div class='fr'>
                                <a href="">
                                    <span class='iconfont'>&#xe605;</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:;"><img src='{% static 'images/sgyer/img4.png' %}' alt=""></a>
                    <div class='sginfo_r fr'>
                        <h4><a href="javascript:;">只显示一行，文章标题和内容，评论，标签都可以点击至文章详情。</a></h4>
                        <p><a href="javascript:;">我是文章内容字段，最多显示2行，超过两行用...代替。我是文章内容字段，最多显示2行
                            超过两行用...代替。我是文章内容字段，最多显示2行，超过两行用...代替。</a></p>
                        <div class='sg_tag'>
                            <span><a href="javascript:;">标签文案</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                        </div>
                        <div class='sg_userinfo'>
                            <div class='fl'>
                                <span>我是用户名</span>
                                <span>2020.10.26</span>
                            </div>
                            <div class='fr'>
                                <a href="">
                                    <span class='iconfont'>&#xe605;</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:;"><img src='{% static 'images/sgyer/img4.png' %}' alt=""></a>
                    <div class='sginfo_r fr'>
                        <h4><a href="javascript:;">只显示一行，文章标题和内容，评论，标签都可以点击至文章详情。</a></h4>
                        <p><a href="javascript:;">我是文章内容字段，最多显示2行，超过两行用...代替。我是文章内容字段，最多显示2行
                            超过两行用...代替。我是文章内容字段，最多显示2行，超过两行用...代替。</a></p>
                        <div class='sg_tag'>
                            <span><a href="javascript:;">标签文案</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                            <span><a href="javascript:;">最多三个</a></span>
                        </div>
                        <div class='sg_userinfo'>
                            <div class='fl'>
                                <span>我是用户名</span>
                                <span>2020.10.26</span>
                            </div>
                            <div class='fr'>
                                <a href="">
                                    <span class='iconfont'>&#xe605;</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- 分页 -->
            <div id="test1"></div>
        </div>
        <div class="sger_main_r fl">
            <!-- 热点栏 -->
            <div id="hotinfo" class='clearfix rtglob'>
                <div class="tit_head">
                    <h3>热点新闻</h3>
                    <a href=""></a>
                </div>
                <div class="newinfo clearfix">
                    <a href=""><img src="{% static 'images/sgyer/img2.png' %}" alt=""></a>
                    <div>
                        <h4>
                            <a href=""> <span>官方</span>我是文章标题最多显示2行跳转至试管婴儿文章超出用...</a>
                        </h4>
                        <p><a href="">
                            我是文章正文内容，显示字段为文章正
部分开头截取内容，我最多显示三行，
案文案文案文案文案案文案案文案文案
                        </a></p>
                    </div>
                </div>
                <ul class='hotlist'>
                    <li><span></span><a href="">我是文章标题最多显示一行？</a></li>
                    <li><span></span><a href="">我是文章标题最多显示一行？</a></li>
                    <li><span></span><a href="">导致隐性流产的原因有哪些？</a></li>
                    <li><span></span><a href="">意外流产对孕妇的身心影响有多大？</a></li>
                    <li><span></span><a href="">女性黄体功能不足应该如何改善?</a></li>
                </ul>
            </div>
            <div id="hospitalinfo" class='rtglob'>
                <div class="tit_head">
                    <h3>生殖医院推荐</h3>
                    <a href=""></a>
                </div>
                <ul class='hostinbox'>
                    <li>
                        <div class="hostitle">
                            <a href="" class='titinfo fl'>我是医院名称，鼠标悬浮显示医院图片</a>
                            <a href="" class="you fr"></a>
                        </div>
                        <a href="" hostimg='show' class='imgshow'><img src="{% static 'images/sgyer/img1.png' %}" alt=""></a>
                    </li>
                    <li>
                        <div class="hostitle">
                            <a href="" class='titinfo fl'>我是医院名称</a>
                            <a href="" class="you fr"></a>
                        </div>
                        <a href="" hostimg='show'><img src="{% static 'images/sgyer/img1.png' %}" alt=""></a>
                    </li>
                    <li>
                        <div class="hostitle">
                            <a href="" class='titinfo fl'>武汉同济生殖医学专科医院</a>
                            <a href="" class="you fr"></a>
                        </div>
                        <a href="" hostimg='show'><img src="{% static 'images/sgyer/img1.png' %}" alt=""></a>
                    </li>
                    <li>
                        <div class="hostitle">
                            <a href="" class='titinfo fl'>武汉大学人民医院</a>
                            <a href="" class="you fr"></a>
                        </div>
                        <a href="" hostimg='show'><img src="{% static 'images/sgyer/img1.png' %}" alt=""></a>
                    </li>
                    <li>
                        <div class="hostitle">
                            <a href="" class='titinfo fl'>我是医院名称</a>
                            <a href="" class="you fr"></a>
                        </div>
                        <a href="" hostimg='show'><img src="{% static 'images/sgyer/img1.png' %}" alt=""></a>
                    </li>
                    <li>
                        <div class="hostitle">
                            <a href="" class='titinfo fl'>武汉同济生殖医学专科医院</a>
                            <a href="" class="you fr"></a>
                        </div>
                        <a href="" hostimg='show'><img src="{% static 'images/sgyer/img1.png' %}" alt=""></a>
                    </li>
                </ul>
            </div>
            <div id="doctorinfo" class='rtglob'>
                <div class="tit_head">
                    <h3>医生推荐</h3>
                    <a href=""></a>
                </div>
                <ul class="doctorlis">
                    <li class='clearfix'>
                        <a href=""><img src="{% static 'images/sgyer/doctor1.png' %}" alt=""></a>
                        <div class="r_info">
                            <div class="docname">
                                <h5>
                                    <a href="">医生名称</a>
                                </h5>
                                <span>医生职位</span>
                            </div>
                            <p>所在医院</p>
                            <p class="infolong">
                                <span>擅长：</span> 医生特长字段，显示一行字段信息
                            </p>
                            <p><a href="">
                                我是医生简介显示2行文案，点击名称和
医生简介跳转至医生详情页面。
                            </a></p>
                        </div>
                    </li>
                    <li class='clearfix'>
                        <a href=""><img src="{% static 'images/sgyer/doctor2.png' %}" alt=""></a>
                        <div class="r_info">
                            <div class="docname">
                                <h5>
                                    <a href="">医生名称</a>
                                </h5>
                                <span>医生职位</span>
                            </div>
                            <p>所在医院</p>
                            <p class="infolong">
                                <span>擅长：</span> 医生特长字段，显示一行字段信息
                            </p>
                            <p><a href="">
                                我是医生简介显示2行文案，点击名称和
医生简介跳转至医生详情页面。
                            </a></p>
                        </div>
                    </li>
                    <li class='clearfix'>
                        <a href=""><img src="{% static 'images/sgyer/doctor1.png' %}" alt=""></a>
                        <div class="r_info">
                            <div class="docname">
                                <h5>
                                    <a href="">医生名称</a>
                                </h5>
                                <span>医生职位</span>
                            </div>
                            <p>所在医院</p>
                            <p class="infolong">
                                <span>擅长：</span> 医生特长字段，显示一行字段信息
                            </p>
                            <p><a href="">
                                我是医生简介显示2行文案，点击名称和
医生简介跳转至医生详情页面。
                            </a></p>
                        </div>
                    </li>
                    <li class='clearfix'>
                        <a href=""><img src="{% static 'images/sgyer/doctor2.png' %}" alt=""></a>
                        <div class="r_info">
                            <div class="docname">
                                <h5>
                                    <a href="">医生名称</a>
                                </h5>
                                <span>医生职位</span>
                            </div>
                            <p>所在医院</p>
                            <p class="infolong">
                                <span>擅长：</span> 医生特长字段，显示一行字段信息
                            </p>
                            <p><a href="">
                                我是医生简介显示2行文案，点击名称和
医生简介跳转至医生详情页面。
                            </a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- 试管百科知识 -->
    <section id="sgbkbox" class='wid'>
        <div class="sgbkhead">
            <h5>试管百科</h5>
            <ul>
                <li><a href="">试管费用</a><span></span></li>
                <li><a href="">试管流程</a><span></span></li>
                <li><a href="">试管成功率</a><span></span></li>
                <li><a href="">试管技术</a><span></span></li>
            </ul>
        </div>
        <div class="bkinfobox">
            <div class="bkflbox">
                <div class="bkinfohead">
                    <img src="{% static 'images/sgyer/sgjs.png' %}" alt="">
                    <a href="" class="bkmetaname">试管技术</a>
                </div>
                <div class="bkmetalis">
                    <div>
                        <a href="">孕前期 </a>
                        <a href="">孕前期</a>
                        <a href="">孕前期</a>
                    </div>
                    <div>
                        <a href="">孕前期查询孕前期查询孕前期查询</a>
                        <a href="">孕前期查询</a>
                        <a href="">孕前期查询</a>
                    </div>
                    <div>
                        <a href="">孕后期</a>
                        <a href="">孕后期</a>
                        <a href="">孕后期</a>
                    </div>
                </div>
            </div>
            <div class="bkflbox">
                <div class="bkinfohead">
                    <img src="{% static 'images/sgyer/sgjs.png' %}" alt="">
                    <a href="" class="bkmetaname">试管技术</a>
                </div>
                <div class="bkmetalis">
                    <div>
                        <a href="">孕前期 </a>
                        <a href="">孕前期</a>
                        <a href="">孕前期</a>
                        <a href="">孕前期 </a>
                        <a href="">孕前期</a>
                        <a href="">孕前期</a>
                    </div>
                    <div>
                        <a href="">孕前期查询孕前期查询孕前期查询</a>
                        <a href="">孕前期查询</a>
                        <a href="">孕前期查询</a>
                    </div>
                    <div>
                        <a href="">孕后期</a>
                        <a href="">孕后期</a>
                        <a href="">孕后期</a>
                    </div>
                </div>
            </div>
            <div class="bkflbox">
                <div class="bkinfohead">
                    <img src="{% static 'images/sgyer/sgjs.png' %}" alt="">
                    <a href="" class="bkmetaname">试管技术</a>
                </div>
                <div class="bkmetalis">
                    <div>
                        <a href="">孕前期 </a>
                        <a href="">孕前期</a>
                        <a href="">孕前期</a>
                    </div>
                    <div>
                        <a href="">孕前期查询孕前期查询孕前期查询</a>
                        <a href="">孕前期查询</a>
                        <a href="">孕前期查询</a>
                    </div>
                    <div>
                        <a href="">孕后期</a>
                        <a href="">孕后期</a>
                        <a href="">孕后期</a>
                    </div>
                </div>
            </div>
            <div class="bkflbox">
                <div class="bkinfohead">
                    <img src="{% static 'images/sgyer/sgjs.png' %}" alt="">
                    <a href="" class="bkmetaname">试管技术</a>
                </div>
                <div class="bkmetalis">
                    <div>
                        <a href="">孕前期 </a>
                        <a href="">孕前期</a>
                        <a href="">孕前期</a>
                    </div>
                    <div>
                        <a href="">孕前期查询孕前期查询孕前期查询</a>
                        <a href="">孕前期查询</a>
                        <a href="">孕前期查询</a>
                    </div>
                    <div>
                        <a href="">孕后期</a>
                        <a href="">孕后期</a>
                        <a href="">孕后期</a>
                    </div>
                </div>
            </div>
            <div class="bkflbox">
                <div class="bkinfohead">
                    <img src="{% static 'images/sgyer/sgjs.png' %}" alt="">
                    <a href="" class="bkmetaname">试管技术</a>
                </div>
                <div class="bkmetalis">
                    <div>
                        <a href="">孕前期 </a>
                        <a href="">孕前期</a>
                        <a href="">孕前期</a>
                    </div>
                    <div>
                        <a href="">孕前期查询孕前期查询孕前期查询</a>
                        <a href="">孕前期查询</a>
                        <a href="">孕前期查询</a>
                    </div>
                    <div>
                        <a href="">孕后期</a>
                        <a href="">孕后期</a>
                        <a href="">孕后期</a>
                    </div>
                </div>
            </div>
            <div class="bkflbox">
                <div class="bkinfohead">
                    <img src="{% static 'images/sgyer/sgjs.png' %}" alt="">
                    <a href="" class="bkmetaname">试管技术</a>
                </div>
                <div class="bkmetalis">
                    <div>
                        <a href="">孕前期 </a>
                        <a href="">孕前期</a>
                        <a href="">孕前期</a>
                    </div>
                    <div>
                        <a href="">孕前期查询孕前期查询孕前期查询</a>
                        <a href="">孕前期查询</a>
                        <a href="">孕前期查询</a>
                    </div>
                    <div>
                        <a href="">孕后期</a>
                        <a href="">孕后期</a>
                        <a href="">孕后期</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 底部 -->
    <footer style='width: 100%;height:388px;background-color:skyblue;'></footer>
    <script>
        (function() {
            $(document).ready(function() {
                    var sgtbns = $('.sgbtn>div');
                    var pagelis = $('.pagelist>li>a');
                    var sz_lis = $('.hostinbox>li');
                    var img_as = $('[hostimg="show"]');
                    sgtbns.click(function() {
                        Toolfun.clearClass('sg_select', sgtbns);
                        $(this).addClass('sg_select');
                    });
                    pagelis.click(function() {
                        Toolfun.clearClass('pageSelect', pagelis);
                        $(this).addClass('pageSelect');
                    });
                    sz_lis.mouseover(function() {
                        Toolfun.clearClass('imgshow', img_as)
                        $(this).children(2).addClass('imgshow');
                    })
                })
                // 分页
            layui.use('laypage', function() {
                var laypage = layui.laypage;

                laypage.render({
                    elem: 'test1',
                    count: 50100,
                    limit: 10,
                    curr: location.hash.replace('#!fenye=', ''),
                    hash: 'fenye',
                    groups: 5,
                    prev: '上一页',
                    next: '下一页',
                    layout: ['prev', 'page', 'next', 'skip']
                });
            });

        })();
    </script>
</body>

</html>