<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="话题文章">
    <meta name="keywords" content="话题文章">
    <link rel="stylesheet" href="{% static 'css/coment.css' %}">
    <link rel="stylesheet" href="{% static 'css/yuerlt.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
    <script src="{% static 'js/uitls/jquery.min.js' %}"></script>
    <script src="{% static 'js/uitls/avalon.js' %}"></script>
    <script src="{% static 'js/uitls/tool.js' %}"></script>
    <script src="{% static 'js/uitls/jquery.emoji.js' %}"></script>
    <script src="{% static 'layui/layui.all.js' %}"></script>
    <title>{{ data.title }}</title>
</head>
<body>
{% include 'config.html' %}
{% include 'header.html' %}
<!-- 话题头部 -->
<section class="topicHead wid" style='margin-top:30px;' ms-controller="topicArc">
    <div class="currdis clearfix">
        <div class="dqwz">当前位置：</div>
        <div class="lmmbx">
            <a href="javascript:;">育儿论坛</a>
            <span>></span>
            <a href="javascript:;">{{ data.title }}</a>
        </div>
    </div>
    <div class="imgbox">
        <img src="{% static 'images/yuerlt/topic_bg.png' %}" alt="">
    </div>
</section>
<!-- 话题主体部分 -->
<section class="topicMain wid clearfix" ms-controller="topicArc">
    <div class="topic_l fl">
        <div class='clearfix'>
            {#                <p class="topictit">{{ data.title }}</p>#}
            <div class="userInfo">
                <div class="Mtx">
                    <a href="javascript:;">
                        <img src="/media/{{ data.user.head }}" alt="">
                    </a>
                </div>
                <div class="txInfo">
                    <span>{{ data.user.username }}</span>
                    <span>{{ data.publish_date.date }}</span>
                </div>
                <div class="isFollow" data-isFollow='flase'>
                    关注作者
                </div>
            </div>

            <p class='title'>{{ data.title }}</p>
            <div class="allInfo">
                <p commid="{{ data.id }}">
                    {{ data.content }}
                </p>
            </div>
            <div class="plbox fr">
                <div><span>评论</span><i>|</i><span>88</span></div>
                <div><span>点赞</span><i>|</i><span>88</span></div>
            </div>
        </div>
        <div class="plInpbox clearfix">
            <span>评论</span>
            <div class="pl_head" >
                <div class="bqBtn" style="position:relative;">
                    <div id="emoji">😄</div>
                </div>
                <textarea name="khlypl" id="khlypl" placeholder="这里输入内容"></textarea>
                <div name="result" contenteditable="true" style='display:none;'></div>
            </div>
            <div id="NopostBtn" class='fl'>取消评论</div>
            {% if request.user.is_active %}
                <span id="plintBtn" class="fr" onclick="goPostcomm(this)"><a href="javascript:;">发布</a></span>
            {% else %}
                <span id="plintBtn" style="margin-top:10px;" class="fr" ><a href="/login">发布</a></span>
            {% endif %}
        </div>
        <div class="pl_lis">
            <div class="pl_lis_h clearfix">
                <span class='fl'><em>99</em>条评论</span>
                <div class="fr">
                    <span><i class='iconfont'>&#xe7d5;</i>切换为时间排序</span><span><i
                        class='iconfont'>&#xe7d5;</i>切换为默认排序</span>
                </div>
            </div>
            <div class="pl_info" infobox="box">
                {#  这是递归开始#}

                {# 这是递归结束 #}
            </div>
        </div>

    </div>
    <div class="topic_r fl">
        {% include 'mod_tjjl.html' %}

        <div class="hotTopic">
            <div class="topic_Head">
                <h6>热门话题</h6>
            </div>
            <ul class="topicBox">
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
{% include 'footer.html' %}

<script>
    var vm_topicArc = avalon.define({
        $id: 'topicArc',
        comment: [],
        articles_id: 0,//帖子id
        parent_id: 0,//回帖对应的父id
    });

    vm_topicArc.articles_id = window.location.href.replace(/.*aid=/, '');
    var infoBox = $('div[infobox="box"].pl_info');//评论父级盒子

    initdataHtml();//初始化评论数据
    {#评论刷新#}
    function initdataHtml(){//评论数据局部渲染
        $.ajax({
            url: root_Domain + '/luntan/comment/?articles_id=' + vm_topicArc.articles_id,
            type: 'get',
            dataType: 'json',
            success: function (ajax) {
                var datalis = ajax.data;
                var comment = [];
                for (let i = 0; i < datalis.length; i++) {
                    if (datalis[i].parent == null) {
                        comment.push(datalis[i]);
                    } else {
                        Toolfun.diguiClass(datalis, comment);
                    }
                }
                infoBox.html(html(comment));
                readyClick();
            }, error: function (error) {
                console.log(error);
            }
        })
    }
    {#评论递归一层#}
    function html(comment) {//第一个为数据，第二个为递归体
        var htmldata = '';
        for (const a in comment) {
            var newstr = diguipilun(comment[a].child, comment[a],a);
            htmldata += '<div class="pl clearfix" ><div class="tx"><a href="javascript:;">';
            htmldata += '<img src="/media'+ comment[a].user.head + '" alt=""></a></div><p class="plbg">' + comment[a].user.username + '</p>';
            htmldata += '<ul class="plul"><p commid=' + comment[a].id + '>　　' + comment[a].comment + '</p><div class="date clearfix">';
            htmldata += '<span>' + comment[a].publish_date.replace(/\d+:.*/, '') + '</span><span btn="reply" dataInp="'+a+'" onclick="sonIfshow(this)">回复</span></div>';
            htmldata += newstr;
            htmldata += '<div class="pl_inpbox" dataInp="'+a+'"><div class="plinput"><div class="plinput-h" style="position:relative;"><div bq_btn="emoji">😄</div>';
            htmldata += '</div><textarea name="pl_Input"></textarea><div name="result" contenteditable="true" style="display:none;"></div>';
            htmldata += '</div><span name="qxplBtn" onclick="sonQxcomm(this)" class="fl">取消评论</span>';
            htmldata += '{% if request.user.is_active %}<span name = "plintBtn" class= "fr" onclick = "sonPostcomm(this)"> <a href = "javascript:;"> 发布 </a></span> {% else %}<span name = "plintBtn" class= "fr" onclick = ""> <a href = "/login"> 发布 </a></span>{% endif %}';
            htmldata += '</div></ul></div>';
        }
        return htmldata;
    }
    {#评论递归函数#}
    function diguipilun(comment, Mcomment,Mid) {//comment：子级所有数据，Mcomment单个父级数据，Mid父级元素的索引
        var diguistr = '';
        if (!comment) {
            return '　';
        }
        for (const a in comment) {
            diguistr += '<ul class="hfplbox"><div class="pl clearfix"><p class="plbg plbg2"><span class="afuser">' + comment[a].user.username + '</span>';
            diguistr += '<span>回复了</span><span class="befuser">' + Mcomment.user.username + '</span></p><ul class="plul">';
            diguistr += '<p commid="' + comment[a].id + '">　　' + comment[a].comment + '</p><div class="date"><span>' + comment[a].publish_date.replace(/\d+:.*/, '') + '</span>';
            diguistr += '<span btn="reply" dataInp="'+Mid+'" onclick="sonIfshow(this)">回复</span></div></ul></div>';
            if (comment[a].child) {
                for (const b in comment[a].child) {
                    diguistr += '<ul class="hfplbox"><div class="pl clearfix"><p class="plbg plbg2"><span class="afuser">' + comment[a].child[b].user.username + '</span>';
                    diguistr += '<span>回复了</span><span class="befuser">' + comment[a].user.username + '</span></p><ul class="plul">';
                    diguistr += '<p commid="' + comment[a].child[b].id + '">　　' + comment[a].child[b].comment + '</p><div class="date"><span>' + comment[a].child[b].publish_date.replace(/\d+:.*/, '') + '</span>';
                    diguistr += '<span btn="reply" dataInp="'+Mid+'" onclick="sonIfshow(this)">回复</span></div></ul></div>';
                    diguistr += diguipilun(comment[a].child[b].child, comment[a].child[b],Mid);
                    diguistr += '</ul>';
                }
            }
            diguistr += '</ul>';
        }
        return diguistr;
    }

    {#    文本输入框#}
   /*表情初始化
      content_el: 输入框的位置
            list: 下的属性详解
                name		-- 分类名称
                code 		-- 分类的表情编码，与其他分类不可重复
                path 		-- 图片路径
                suffix		-- 图片的后缀
                max_number	-- 图片的最大个数
*/
//表情包函数,绑定挂载
    function bqbaofunc(bqbtn, textbox) {//bqbtn为表情显示按钮，textbox为文本存储盒子
        bqbtn.emoji({
            content_el: textbox,
            list: [{
                name: "QQ表情",
                code: "qq_",
                path: "{% static "/face/emoji1/" %}",
                suffix: ".gif",
                max_number: 25
            }, {
                name: "emoji",
                code: "em_",
                path: "{% static "/face/emoji2/" %}",
                suffix: ".png",
                max_number: 22
            }, {
                name: "其他",
                code: "other_",
                path: "{% static "/face/emoji3/" %}",
                suffix: ".png",
                max_number: 1
            }]
        });
    }
    //表情格式替换
    function replace_em(str) {
        str = str.replace(/\</g, '&lt;');
        str = str.replace(/\>/g, '&gt;');
        str = str.replace(/\n/g, '<br/>');
        str = str.replace(/\[qq_([0-9]*)\]/g, "<img src='/static/face/emoji1/$1.gif' />");
        str = str.replace(/\[em_([0-9]*)\]/g, "<img src='/static/face/emoji2/$1.png'/>");
        str = str.replace(/\[other_([0-9]*)\]/g, "<img src='/static/face/emoji3/$1.png'/>");
        return str;
    }
    {#帖子内容判断#}
    function commIfpost(topicid,commid,comment,dom){
        var truedata = {};
        if(commid != ""){
            truedata ={
                "articles_id":topicid,
                "parent_id":commid,
                "comment":comment,
            }
        }else{
            truedata = {
                    "articles_id":topicid,
                    "comment":comment
                }
        }
        if(topicid&&comment.length<1000&&comment!=""){
            $.ajax({
                url: root_Domain+'/luntan/comment/',
                type:'post',
                data: truedata,
                success:function(ajax){
                   initdataHtml();
                   dom.hide();
                   layer.msg("评论成功");
                }
            })
        }else if(comment==""){
            layer.msg("请输入")
        }else{
            layer.msg('只能输入1000个字符,');
        }
    }
    {#点赞与评论#}
    $('.plbox>div').eq(0).click(function(){//评论
        $(this).parent().parent().next().show();
        $(this).addClass('commSelect');
    })
    $('.plbox>div').eq(1).click(function(){//点赞
        if(this.onSelect){
           return false;
        }else{
            this.onSelect = true;
            $.ajax({
                url:root_Domain +'/luntan/thumbup/?aid='+vm_topicArc.articles_id,
                type:'get',
                dataType:'text',
                success:function(ajax){
                    layer.msg(ajax)
                }
            })
        }
    })
    $('#NopostBtn').click(function(){
        $(this).parent().hide();
        $('.plbox>div').eq(0).removeClass('commSelect');
    })
    //评论事件处理
    var Mpostbox = $('#khlypl');
    var emoji = $('#emoji');
    bqbaofunc(emoji,Mpostbox);//主评论
    $("#plintBtn").click(function() {
        var content = $("#khlypl").val();
        content = replace_em(content);//解析表情
        $("div[name='result']").eq(0).html(content);
        $("#khlypl").val('');
    });

{# 父级一层回复#}
    function goPostcomm(ev){
        $('.plbox>div').eq(0).removeClass('commSelect');
        $(document).ready(function(){
            var _this = ev;
            var topicid = $(_this).parent().prev().find("div.allInfo p").attr("commid"),
                commid='',
                comment= $(_this).prev().prev().find("div[name='result']").html().replace(/\'/,"");
            commIfpost(topicid,commid,comment,$(_this).parent());
        })
    }
{#子级绑定的回复事件#}
    function sonIfshow(ev){//点击回复事件
        $(document).ready(function(){
            var that = ev;
            var index = $(that).attr("datainp");
            vm_topicArc.parent_id = $(that).parent().prev().attr("commid");
            $('.pl_info>div.pl').eq(index).find(".pl_inpbox").show();
        })
    }
    {# 给评论列表添加发布事件 #}
    function sonPostcomm(ev){
        $(document).ready(function(){
            var _this = ev;
            var textBox = $(_this).prev().prev().children("textarea");
            var plbox = $(_this).parent();
            var qxpl = $(_this).prev();
            var result = $(_this).prev().prev().children('div[name="result"]');
            var topicid = vm_topicArc.articles_id,
                commid = vm_topicArc.parent_id,
                comment = "";
            console.log(result,66666666666)
            var content = textBox.val();
            content = replace_em(content);
            result.html(content);
            comment = result.html().replace(/\'/,"");
            commIfpost(topicid,commid,comment,plbox);
            textBox.val("");
        })
    }
    {#取消评论事件#}
    function sonQxcomm(ev){
        $(document).ready(function(){
            var that=ev;
            $(that).prev().find("textarea").val('');
            $(that).prev().find("div[name='result']").html("");
            $(that).parent().hide();
        })
    }
    function readyClick(){//对渲染后的表情绑定事件
        $(document).ready(function(){
            var pls = $('.pl_info>div.pl');
            for (let i = 0; i < pls.length; i++) {
                var emibtn = pls.eq(i).find('div[bq_btn="emoji"]');
                var textBox = pls.eq(i).find('textarea[name="pl_Input"]');
                var result = pls.eq(i).find('div[name="result"]');
                bqbaofunc(emibtn, textBox);//表情事件挂载
            }
        })
    }

</script>
</body>

</html>