<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="话题文章">
    <meta name="keywords" content="话题文章">
    <link rel="stylesheet" href="{% static 'css/coment.css' %}">
    <link rel="stylesheet" href="{% static 'css/yuerlt.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
    <script src="{% static 'js/uitls/jquery.min.js' %}"></script>
    <script src="{% static 'js/uitls/avalon.js' %}"></script>
    <script src="{% static 'js/uitls/tool.js' %}"></script>
    <title>{{ data.title }}</title>
</head>
<body>
{% include 'config.html' %}
{% include 'header.html' %}
<!-- 话题头部 -->
<section class="topicHead wid" style='margin-top:30px;' ms-controller="topicArc">
    <div class="currdis clearfix">
        <div class="dqwz">当前位置：</div>
        <div class="lmmbx">
            <a href="javascript:;">育儿论坛</a>
            <span>></span>
            <a href="javascript:;">{{ data.title }}</a>
        </div>
    </div>
    <div class="imgbox">
        <img src="{% static 'images/yuerlt/topic_bg.png' %}" alt="">
    </div>
</section>
<!-- 话题主体部分 -->
<section class="topicMain wid clearfix" ms-controller="topicArc">
    <div class="topic_l fl">
        <div class='clearfix'>
            {#                <p class="topictit">{{ data.title }}</p>#}
            <div class="userInfo">
                <div class="Mtx">
                    <a href="javascript:;">
                        <img src="{{ data.user.head }}" alt="">
                    </a>
                </div>
                <div class="txInfo">
                    <span>{{ data.user.username }}</span>
                    <span>{{ data.publish_date.date }}</span>
                </div>
                <div class="isFollow" data-isFollow='flase'>
                    关注作者
                </div>
            </div>

            <p class='title'>{{ data.title }}</p>
            <div class="allInfo">
                <p>
                    {{ data.content }}
                </p>
            </div>
            <div class="plbox fr">
                <div><span>评论</span><i>|</i><span>88</span></div>
                <div><span>点赞</span><i>|</i><span>88</span></div>
            </div>
        </div>
        <div class="plInpbox clearfix">
            <span>评论</span>
            <div class="pl_head">
                <div class="bqBtn">
                    <span id="bqcjBtn" class='iconfont'>&#xe64d;</span>
                </div>
                <textarea name="khlypl" id="khlypl"></textarea>
            </div>
            <div id="NopostBtn" class='fl'>取消评论</div>
            {% if request.user.is_active %}
                <span id="plintBtn" class="fr" onclick="alert(1)"><a href="javascript:;">发布</a></span>
            {% else %}
                <span id="plintBtn" style="margin-top:10px;" class="fr" onclick=""><a href="/login">发布</a></span>
            {% endif %}
        </div>
        <div class="pl_lis">
            <div class="pl_lis_h clearfix">
                <span class='fl'><em>99</em>条评论</span>
                <div class="fr">
                    <span><i class='iconfont'>&#xe7d5;</i>切换为时间排序</span><span><i
                        class='iconfont'>&#xe7d5;</i>切换为默认排序</span>
                </div>
            </div>
            <div class="pl_info" infobox="box">
                {#  这是递归开始#}

                {# 这是递归结束 #}
            </div>
        </div>

    </div>
    <div class="topic_r fl">
        {% include 'mod_tjjl.html' %}

        <div class="hotTopic">
            <div class="topic_Head">
                <h6>热门话题</h6>
            </div>
            <ul class="topicBox">
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
                <li class='clearfix'>
                    <a href="javascript:;">
                        <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                    </a>
                    <div>
                        <p>
                            <a href="javascript:;">我是话题标题最多显示
                                两行，文章详情为论坛</a>
                        </p>
                        <span>2020.10.31</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
{% include 'footer.html' %}
<script>
    var vm_topicArc = avalon.define({
        $id: 'topicArc',
        comment: [],
        articles_id: 0,//帖子id
        parent_id: 0,//回帖对应的父
    });

    vm_topicArc.articles_id = window.location.href.replace(/.*aid=/, '');
    var infoBox = $('div[infobox="box"].pl_info');//评论父级盒子
    $.ajax({
        url: root_Domain + '/luntan/comment/?articles_id=' + vm_topicArc.articles_id,
        type: 'get',
        dataType: 'json',
        success: function (ajax) {
            var datalis = ajax.data;
            var comment = [];
            for (let i = 0; i < datalis.length; i++) {
                if (datalis[i].parent == null) {
                    comment.push(datalis[i]);
                } else {
                    Toolfun.diguiClass(datalis, comment);
                    vm_topicArc.comment = comment;
                }
            }
            infoBox.html(html(comment));

        }, error: function (error) {
            console.log(error);
        }
    })


    function html(comment) {//第一个为数据，第二个为递归体
        var htmldata = '';
        for (const a in comment) {
            var newstr = diguipilun(comment[a].child, comment[a]);
            htmldata += '<div class="pl clearfix" ><div class="tx"><a href="javascript:;">';
            htmldata += '<img src=' + comment[a].user.head + ' alt=""></a></div><p class="plbg">' + comment[a].user.username + '</p>';
            htmldata += '<ul class="plul"><p commid=' + comment[a].id + '>　　' + comment[a].comment + '</p><div class="date clearfix">';
            htmldata += '<span>' + comment[a].publish_date.replace(/\d+:.*/, '') + '</span><span btn="reply">回复</span></div>';
            htmldata += newstr;
            htmldata += '<div class="pl_inpbox"><div class="plinput"><div class="plinput-h"><span id="bqpl2" class="iconfont">&#xe64d;</span>';
            htmldata += '</div><textarea name="" id="pl_Input"></textarea></div><span id="qxplBtn" class="fl">取消评论</span>';
            htmldata += '{% if request.user.is_active %}<span id = "plintBtn" class= "fr" onclick = "alert(1)"> <a href = "javascript:;"> 发布 </a></span> {% else %}<span id = "plintBtn" class= "fr" onclick = ""> <a href = "/login"> 发布 </a></span>{% endif %}';
            htmldata += '</div></ul></div>';
        }
        return htmldata;
    }

    function diguipilun(comment, Mcomment) {
        var diguistr = '';
        if (!comment) {
            return '　';
        }
        for (const a in comment) {
            diguistr += '<ul class="hfplbox"><div class="pl clearfix"><p class="plbg plbg2"><span class="afuser">' + comment[a].user.username + '</span>';
            diguistr += '<span>回复了</span><span class="befuser">' + Mcomment.user.username + '</span></p><ul class="plul">';
            diguistr += '<p commid="' + comment[a].id + '">　　' + comment[a].comment + '</p><div class="date"><span>' + comment[a].publish_date.replace(/\d+:.*/, '') + '</span>';
            diguistr += '<span btn="reply">回复</span></div></ul></div>';
            if (comment[a].child) {
                for (const b in comment[a].child) {
                    diguistr += '<ul class="hfplbox"><div class="pl clearfix"><p class="plbg plbg2"><span class="afuser">' + comment[a].child[b].user.username + '</span>';
                    diguistr += '<span>回复了</span><span class="befuser">' + comment[a].user.username + '</span></p><ul class="plul">';
                    diguistr += '<p commid="' + comment[a].child[b].id + '">　　' + comment[a].child[b].comment + '</p><div class="date"><span>' + comment[a].child[b].publish_date.replace(/\d+:.*/, '') + '</span>';
                    diguistr += '<span btn="reply">回复</span></div></ul></div>';
                    diguistr += diguipilun(comment[a].child[b].child, comment[a].child[b]);
                    diguistr += '</ul>';
                }
            }
            diguistr += '</ul>';
        }
        return diguistr;
    }


</script>
</body>

</html>