<!DOCTYPE html>
<html>
<head>
  <title>首页</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta name=renderer content=webkit>
   {% load static %}
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/avalon.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.SuperSlide.2.1.1.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'layui/css/layui.css' %}">
<!--      <style type="text/css">
      body{ background: #029EE9; }
     </style>
 -->
</head>
  {% include 'header.html' %}
  <div class="imgs" style="width: 1200px; margin: 0 auto;"><img src="{% static 'img/zjthumb.png' %}"></div>
    <!--  <div class="topboxs">
            <div class="imgs"><img src="{% static 'img/yymc.png' %}"></div>
            <h3>我是医生名称</h3>
            <p>医生所在医院名称</p>
            <p style="margin: 15px 0;">
              <a href="">我是医院标签</a>
              <a href="">我是医院标签</a>
              <a href="">我是医院标签</a>
            </p>
            <p>简介：首都医科大学附属，北京朝阳医院建设于1958年，是首都医科大学第三临床医院，北京市呼吸疾病研究所所在医院，是北京市市属集医疗，教学，科研，预防为一体的三级甲等医院，北京市医疗保险A类定点医疗机构，医院先为一院两址，医院总部占地面积10.28万平方米，建筑面积21万平方米。职工4300于人。临床1900张。</p>
     </div> -->
         
    <div class="hzwdconts">
          
      <div class="hzwdlefts">

          <div class="hzwdcontslistes">

                    <h3>基本信息</h3>

                    <div class="ysinfo">
                         <div class="yishenginfo">
                             <p>姓名：{{ data.name }}</p>
                             <p>职位：{{ data.zhiwei }}</p>
                             <p>性别：{{ data.gender }}</p>
                             <p>擅长领域：{{ data.goodjob }}</p>
                             <p>地区：{{ data.area }}</p>
                             <p>任职医院：{{ data.hospital }}</p>
                             <p>所属科室：{{ data.keshi }}</p>
                             <p>荣誉称号：{{ data.title }}</p>
                         </div>
                    </div>
            </div>



<div class="hzwdcontslistes">

          <h3>详细介绍</h3>

           <p>{{ data.details }}</p>

  </div>





        <div class="hzwdcontslistes">

          <h3>擅长领域</h3>
          
          <div class="listyisheng">
              <ol>
                  <li>
                     <img src="{% static 'img/yyjj01.png' %}">
                     <p>输卵管问题</p>
                  </li> 
                  <li>
                     <img src="{% static 'img/yyjj02.png' %}">
                     <p>多卵巢问题</p>
                  </li>  
                  <li>
                     <img src="{% static 'img/yyjj03.png' %}">
                     <p>卵巢早衰</p>
                  </li>   
                  <li>
                     <img src="{% static 'img/yyjj04.png' %}">
                     <p>宫腔辽联</p>
                  </li>   
                  <li>
                     <img src="{% static 'img/yyjj05.png' %}">
                     <p>子宫问题</p>
                  </li>   
                  <li>
                     <img src="{% static 'img/yyjj06.png' %}">
                     <p>反复流产</p>
                  </li>        
              </ol>
          </div>
         </div>











  <!--        <div class="hzwdcontslistes">

          <h3>助孕案例</h3>
          
          <div class="listyisheng">
              <ul>
                <li>
                   <img src="{% static 'img/nys.png' %}">
                   <p>我是医生   <abbr>医生职位</abbr></p>
                   <p style="font-size: 12px; margin: 5px 0;">医生所在医院</p>
                   <p style="font-size: 12px; margin: 5px 0;">擅长：医生擅长领域信息文案显示两行</p>
                    
                    <div class="piaofubox">
                        <div style="margin-top: 30px; margin-left: 20px; font-size: 16px;">我是医院名称</div>
                        <div style=" margin-left: 20px; margin-top: 5px; font-size: 12px;">我是医院职位</div>
                        <div class="biaoqiannz"><abbr>技术标签</abbr><abbr>技术标签</abbr><abbr>技术标签</abbr><abbr>技术标签</abbr></div>
                        <div class="zixunzhuanjia">咨询专家</div>
                    </div>

                </li>
                <li>
                   <img src="{% static 'img/nys.png' %}">
                   <p>我是医生   <abbr>医生职位</abbr></p>
                   <p style="font-size: 12px; margin: 5px 0;">医生所在医院</p>
                   <p style="font-size: 12px; margin: 5px 0;">擅长：医生擅长领域信息文案显示两行</p>

                   <div class="piaofubox">
                        <div style="margin-top: 30px; margin-left: 20px; font-size: 16px;">我是医院名称</div>
                        <div style=" margin-left: 20px; margin-top: 5px; font-size: 12px;">我是医院职位</div>
                        <div class="biaoqiannz"><abbr>技术标签</abbr><abbr>技术标签</abbr><abbr>技术标签</abbr><abbr>技术标签</abbr></div>
                        <div class="zixunzhuanjia">咨询专家</div>
                      
                    </div>

                </li>
                <li>
                   <img src="{% static 'img/nys.png' %}">
                   <p>我是医生   <abbr>医生职位</abbr></p>
                   <p style="font-size: 12px; margin: 5px 0;">医生所在医院</p>
                   <p style="font-size: 12px; margin: 5px 0;">擅长：医生擅长领域信息文案显示两行</p>

                    <div class="piaofubox">
                        <div style="margin-top: 30px; margin-left: 20px; font-size: 16px;">我是医院名称</div>
                        <div style=" margin-left: 20px; margin-top: 5px; font-size: 12px;">我是医院职位</div>
                        <div class="biaoqiannz"><abbr>技术标签</abbr><abbr>技术标签</abbr><abbr>技术标签</abbr><abbr>技术标签</abbr></div>
                        <div class="zixunzhuanjia">咨询专家</div>
                      
                    </div>

                </li>
                <li>
                   <img src="{% static 'img/nys.png' %}">
                   <p>我是医生   <abbr>医生职位</abbr></p>
                   <p style="font-size: 12px; margin: 5px 0;">医生所在医院</p>
                   <p style="font-size: 12px; margin: 5px 0;">擅长：医生擅长领域信息文案显示两行</p>


                    <div class="piaofubox">
                        <div style="margin-top: 30px; margin-left: 20px; font-size: 16px;">我是医院名称</div>
                        <div style=" margin-left: 20px; margin-top: 5px; font-size: 12px;">我是医院职位</div>
                        <div class="biaoqiannz"><abbr>技术标签</abbr><abbr>技术标签</abbr><abbr>技术标签</abbr><abbr>技术标签</abbr></div>
                        <div class="zixunzhuanjia">咨询专家</div>
                      
                  </div>

                </li>
              </ul>
          </div>
         </div>
 -->
<!--  -->


 

         <div class="hzwdcontslistes">

          <h3>咨询评价</h3>
          
          <div class="listyishenges">
               <ol>
                {% for i in data.mail %}
                     <li>
                        <img src="{{ i.userhead }}" style="float: left; margin-right: 15px; width: 32px; height: 32px;">
                        <div style="float: left; width: 90%;">
                           <h4>{{ i.username }}   <abbr><img src="">徽章</abbr></h4>
                           <p>{{ i.mail }}</p>
                        </div>
                     </li>
                {% endfor %}
{#                 <li>#}
{#                    <img src="{% static 'img/xmao.png' %}" style="float: left; margin-right: 15px; width: 32px; height: 32px;">#}
{#                    <div style="float: left; width: 90%;">#}
{#                       <h4>用户名   <abbr><img src="">徽章</abbr></h4>#}
{#                       <p>我是用户评论信息文字信息。医德超赞，责任心超强，本人倍当地医院宣判了生育‘死刑’对于生育的问题已经放弃了八年之久，后经朋友极力推荐找到了高琴主任，给的第一印象忙碌中透着温柔，超喜欢他的善良，医者父母心在她身上妥妥的，自己子宫黏连，还有两个囊宝宝，和赵主任接触的这半年多中，我是第一次觉得医生的医德也可以如此高尚，无法用语言来形容，感受是心理的，本人在从事司法工作前也读过医，看到后来的医患关系紧张，中国多这样的医生，多一些患者可以换位思考，何来医患纠纷！最后给赵主任点个赞。</p>#}
{#                    </div>#}
{#                 </li>#}
               </ol> 
          </div>
         </div>



      </div>



      <div class="hzwdrights">
          <img src="{% static 'img/yyjjtop.png' %}">
          <div class="pjjyy"><img src="{%  static 'img/yyjj.png' %}" style="margin-bottom: 15px;">我是医院简介文字显示字数有为文本框范围内人字数。首都医科大学附属北京朝阳医院建于1958年。是首都医科大学第三临床医学院，北京市呼吸疾病研究所所在医院，是北京市市属集医疗，教学，科研，预防为一体的三级甲等医院，北京市医疗保险A类定点医疗机构，医院现...</br></br><a href="">查看详情>></a></div>

   <div class="szzhuanjia">
              <h3><abbr>相关医院推荐</abbr> <a href="###">更多>></a></h3>
              <div class="hotwdtuijianes_new">
                 <ol>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                 </ol>
              </div>
          </div>



          <div class="szzhuanjia">
              <h3><abbr>专业问答推荐</abbr> <a href="###">更多>></a></h3>
              <div class="hotwdtuijian">
                 <ul>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题标签话题标签话题标签话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题标签话题标签话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题话题标签话题标签话题标签话题标签标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题话题标签话题标签标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题话题标签标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                 </ul>
              </div>
          </div>






   <div class="szzhuanjia">
              <h3><abbr>热点论坛推荐</abbr> <a href="###">更多>></a></h3>
              <div class="hotwdtuijianes_new">
                 <ol>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                 </ol>
              </div>
          </div>





        










      </div>
    </div>



   


     <!-- 底部 -->
  {% include 'footer.html' %}
     
      <script>
    var vm = avalon.define({
        $id: "bodyconts",
        name:"医院",
        intopages:function(){
            layui.use(['laypage', 'layer'], function(){
              var laypage = layui.laypage
              ,layer = layui.layer;
              laypage.render({
                elem: 'pagers'
                ,count: 100
                ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                ,jump: function(obj){
                  console.log(obj)
                }
              });
            });
        },
        showxiala:function(){
            var _this = $(this);
            if(_this.next('ul').hasClass('hites')){
                _this.next('ul').removeClass('hites');
            }else{
                _this.next('ul').addClass('hites');
            }
        },
        changeSearch:function(els){
            vm.name = '';
            vm.name = els;
            $(this).parent().addClass('hites');
        },
    })
    vm.intopages();
</script>
</body>
</html>