<!DOCTYPE html>
<html>
<head>
  <title>首页</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta name=renderer content=webkit>
   {% load static %}
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/avalon.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/coment.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'layui/css/layui.css' %}">
<style type="text/css">
      .hzwdconts{ width: 1200px; margin: 0 auto;}
</style>

</head>
  {% include 'header.html' %}
     
    <div class="hzwdconts"   ms-controller="hzwdcontses">
      <div class="hzwdlefts">

 
        <a href=""><img src="{% static 'img/hzwdbanner.png' %}" width="835" height="150" style="margin-top: 20px;"></a>

         <h3 style="font-size: 16px; margin: 20px 0; border-left:2px solid #ff44ad; padding-left: 20px;">国内试管婴儿推荐医院</h3>
         <div class="fenleiallswd">
             <p>地区：</p>
             <p ms-repeat="arear" ms-class="allcurr:$index == a" ms-click="getcurreone($index)">{el.name}</p>
         </div>
          <div class="fenleiallswd">
             <p style="float: left;" ms-click="clearShengfen">省份：</p>
             <div>
{#               <p class="allcurr" ms-click="clearSf">全部</p>#}
               <p ms-repeat="erjidatas" ms-class="allcurr:$index == b" ms-click="getcurcitys($index)">{el.name}</p>
             </div>
         </div>

<div ms-if="a == 0">
          <div class="fenleiallswd">
             <p>城市：</p>
             <p class="allcurr">
{#                <select name="" id="" ms-duplex="chengshi" data-duplex-changed="selectchange">#}
                 <select name="" id="" ms-duplex="chengshi" data-duplex-changed="selectchange">
                   <option value="">请选择城市</option>
                   <option ms-repeat="citys"  ms-attr-value="el.id">{el.name}</option>
               </select>
             </p>
         </div>


        <div class="fenleiallswd">
             <p>等级：</p>
{#             <p class="allcurr">全部</p>#}
             <p ms-repeat="dengjis" ms-class="allcurr:$index == c"  ms-click="dengjiFun($index)">{el.name}</p>
         </div>


       <div class="fenleiallswd">
         <p>技术：</p>
{#         <p class="allcurr">全部</p>#}
         <p ms-repeat="jishus" ms-class="allcurr:$index == d"  ms-click="jishuFun($index)">{el.name}</p>
      </div>
</div>
      <div class="hzwdcontslist" >


         <div class="tjyylists" ms-repeat="getYYlist">
              <div class="leftyytj">
                  <a ms-attr-href="/hospital/hindex/?item={el.id}"><img ms-attr-src="el.thumb" width="147" height="92" alt="" style="float: left; margin-right: 25px;"></a>
                 <h3><a ms-attr-href="/hospital/hindex/?item={el.id}">{el.title}</a>     <abbr title="">{el.hospitallv}</abbr></h3>
                 <p>地址：{el.address}</p>
                 <p>电话：{el.phone}</p>
              </div>
              <div class="rightyytj">
                 <p><img src="{% static 'img/alltuxiang.png' %}" alt=""></p>
                 <p>累计{el.doctornum}名医生</p>
                 <p><abbr title=""><a href="###">在线咨询</a></abbr></p>
              </div>
         </div>

        <div class="tjyylists" ms-if="!getYYlist || getYYlist.length == 0">
             <div class="leftyytjes" style="text-align: center; padding: 50px 0;">暂无数据</div>
        </div>


         <div id="pagers"></div>

     </div>
      </div>
      <div class="hzwdrights yytjclass">
          <div class="szzhuanjia">
              <h3><abbr>推荐百科</abbr> <a href="/baike">更多>></a></h3>
              <div class="doctorbox" ms-repeat="getrmbaike">
                 <a ms-attr-href="/baike/article?aid={el.id}">
                   <img ms-attr-src="'/media/' + el.thumb" style="float: left; margin: 20px 15px 0 0; width: 80px; height: 80px;">
                   <h4 style="margin-top: 20px; font-size: 14px; padding-right: 15px;">{el.title}</h4>
                   <p style=" font-size: 12px; margin-top: 10px; padding-right: 15px;">{el.excerpt | truncate(33,'...')}</p>
                 </a>
              </div>
          </div>

          <div class="szzhuanjia">
              <h3><abbr>专业问答推荐</abbr> <a href="###">更多>></a></h3>
              <div class="hotwdtuijian">
                  {% include 'mod_hotwenda.html' %}
             </div>






   <div class="szzhuanjia">

          {% include "mod_hotarticle.html" %}

      </div>
     </div>
   </div>

     <!-- 底部 -->
    {% include 'footer.html' %}

      <script>
        avalon.config({
            interpolate: ["{", "}"]
        });  
       var vmw = avalon.define({
        $id: "hzwdcontses",
        arear:[],
        citys:[],
        chengshi:'',
        a:'',//地区
        b:'',//省份
        c:'',//等级
        d:'',//技术
        erjidatas:[],
        dengjis:[],
        jishus:[],
        dataslist:{
            page:1,//当前页码
            num:10,//一页显示多少条
            worldarea:'',//区域
            privincearea:'',//省份
            cityarea:'',//城市
            hospitallv:'',//医院
            hospitaltype:""//医院类型
        },
        dataslistout:{
            worldarea:'',//区域
            privincearea:'',//省份
            page:1,//当前页码
            num:10,//一页显示多少条
        },
        getwendaes:[],
        getwenda:function (){//获取问答数据
            $.ajax({
              type: 'get',
              url: '/taolun/hottopics/',
              data: {},
              dataType: "json",
              success: function (data) {
                  vmw.getwendaes = data.data
              }
          });
        },
        getcurreone:function (el){
            var dataes ={
                        id:'',
                        name:'全部'
                    }
            vmw.a = el;
            vmw.dataslist.page = 1;
            vmw.dataslistout.page = 1;
            vmw.dataslist.worldarea = vmw.arear[el].id;
            vmw.dataslistout.worldarea = vmw.arear[el].id;
            vmw.erjidatas = vmw.arear[el].child;
            vmw.erjidatas.unshift(dataes);
            vmw.getDatas();
        },
        getcurcitys:function (el){//获取当前省的城市
            vmw.dataslist.page = 1;
            vmw.dataslistout.page = 1;
            vmw.b = el;
            if (el == '' || !el){
                vmw.chengshi = ''
            }
            vmw.dataslist.privincearea =vmw.erjidatas[el].id;
            vmw.dataslistout.privincearea =vmw.erjidatas[el].id;
            vmw.citys = vmw.erjidatas[el].child;
            vmw.getDatas();
        },
        getAllcity:function (){//获取地区省份城市
            vmw.dataslist.page = 1;
            vmw.dataslistout.page = 1;
             $.ajax({
                type: 'get',
                url: '/hospital/areas/',
                data: {},
                dataType: "json",
                success: function (data) {

                    vmw.arear = data.data;
                    vmw.getcurreone(0);
                    // vmw.getcurcitys(0);
                }
            });
        },
        getDengji:function (){ //获取等级数据
             $.ajax({
                type: 'get',
                url: '/hospital/hospitallv/',
                data: {},
                dataType: "json",
                success: function (data) {
                    vmw.dengjis = data.data;
                    var data ={
                        id:'',
                        name:'全部'
                    }
                    vmw.dengjis.unshift(data);
                }
            });
        },
        dengjiFun:function (el){ //等级点击事件
            vmw.c = el;
            vmw.dataslist.page = 1;
            vmw.dataslistout.page = 1;
            vmw.dataslist.hospitallv = vmw.dengjis[el].id;
            vmw.getDatas();
        },
        getJishu:function (){  //获取技术数据
                   var dataes ={
                        id:'',
                        name:'全部'
                    }
                $.ajax({
                type: 'get',
                url: "/hospital/hospitaltype/",
                data: {},
                dataType: "json",
                success: function (data) {
                    vmw.jishus = data.data;
                    vmw.jishus.unshift(dataes);
                }
            });
        },
        jishuFun:function (el){  //技术点击事件
            vmw.d = el;
            vmw.dataslist.page = 1;
            vmw.dataslistout.page = 1;
            vmw.dataslist.hospitaltype = vmw.jishus[el].id;
            vmw.getDatas();
        },
        intopages:function(count){  //分页初始化
            layui.use(['laypage', 'layer'], function(){
              var laypage = layui.laypage
              ,layer = layui.layer;
              laypage.render({
                elem: 'pagers'
                ,count:count
                ,limit:9
                ,limits:[9,20,30,40]
                ,layout: ['count', 'prev', 'page', 'next', 'limit'],
                jump: function(obj,first){
                  vmw.dataslist.page = obj.curr;
                  vmw.dataslist.num = obj.limit;
                  vmw.dataslistout.page = obj.curr;
                  vmw.dataslistout.num = obj.limit;
                  if (vmw.a == 0){
                     var datas = vmw.dataslist;
                  }else if (vmw.a == 1){
                     var datas = vmw.dataslistout;
                  }
                   $.ajax({
                      type: 'get',
                      url: '/hospital/hospitallist/',
                      data: datas,
                      dataType: "json",
                      // timeout: 10000,
                      success: function (data) {
                          vmw.getYYlist = [];
                         vmw.getYYlist = data.data;
                         vmw.allnum = data.allnum;
                         console.log(vmw.getYYlist,'vmw.getYYlist');
                      }
                  });

                }
              });
            });
        },
        getYYlist:[],
        allnum:'',//数据总条数
        getDatas:function (){
            if (vmw.a == 0){
               var datas = vmw.dataslist;
            }else if (vmw.a == 1){
               var datas = vmw.dataslistout;
            }
             $.ajax({
                type: 'get',
                url: '/hospital/hospitallist/',
                data: datas,
                dataType: "json",
                // timeout: 10000,
                success: function (data) {
                   vmw.getYYlist = [];
                   vmw.getYYlist = data.data;
                   vmw.allnum = data.allnum;
                   vmw.intopages(vmw.allnum);
                }
            });
            console.log(datas,'发送请求');
        },
        selectchange:function(data){  //城市列 事件监控
            vmw.dataslist.cityarea = data;
            vmw.getDatas();
        },
        getrmbaike:[],
        get_rm_baike: function () { //获取热门百科列表
            var count = {
                count: 10,
                'csrfmiddlewaretoken':glob_csrftoken
            }
            $.ajax({
                type: 'post',
                url: '/baike/api/articlecommend',//推荐文章
                data: count,
                dataType: "json",
                success: function (data) {
                    vmw.getrmbaike = data.data
                }
            });
        }

    })
    vmw.getAllcity();//获取城市
    vmw.getDengji();//获取等级
    vmw.getJishu();//获取技术
    //vmw.getDatas();//获取数据
    vmw.get_rm_baike();//获取热门百科
    vmw.getwenda();//获取问答数据
    vmw.intopages(vmw.allnum);//初始化分页
</script>
</body>
</html>