<!DOCTYPE html>
<html>
<head>
  <title>首页</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta name=renderer content=webkit>
   {% load static %}
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/avalon.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'layui/css/layui.css' %}">
<!--      <style type="text/css">
      body{ background: #029EE9; }
     </style>
 -->
</head>

  {% include 'header.html' %}
     <div class="topboxs">
            <div class="imgs"><img src="{% static 'img/yymc.png' %}"></div>
            <h3>我是医院名称</h3>
            <p>地址：我是医院地址字段信息</p>
            <p>电话：020 6989888</p>
            <p style="margin: 15px 0;">
              <a href="">我是医院标签</a>
              <a href="">我是医院标签</a>
              <a href="">我是医院标签</a>
            </p>
            <p>简介：首都医科大学附属，北京朝阳医院建设于1958年，是首都医科大学第三临床医院，北京市呼吸疾病研究所所在医院，是北京市市属集医疗，教学，科研，预防为一体的三级甲等医院，北京市医疗保险A类定点医疗机构，医院先为一院两址，医院总部占地面积10.28万平方米，建筑面积21万平方米。职工4300于人。临床1900张。</p>
     </div>
         
    <div class="hzwdconts">
          
      <div class="hzwdlefts">

         <div class="hzwdcontslistes">

          <h3>医院内推专家</h3>

         </div>

      </div>



      <div class="hzwdrights">
          <a href=""><img src="{% static 'img/zixuntai.png' %}"></a>
          <div class="szzhuanjia">
              <h3><abbr>相关报道新闻</abbr> <a href="###">更多>></a></h3>
              <div class="doctorbox">
                 <img src="{% static 'img/doctor.png' %}" style="float: left; margin: 20px 15px 0 0; width: 80px; height: 80px;">
                 <h4 style="margin-top: 20px;">医生名称</h4>
                 <p style=" font-size: 14px; margin-top: 10px;">医院介绍文案，点击查看医生详情，只能显示二行多的...</p>
              </div>
              <div class="doctorbox">
                 <img src="{% static 'img/doctor.png' %}" style="float: left; margin: 20px 15px 0 0; width: 80px; height: 80px;">
                 <h4 style="margin-top: 20px;">医生名称</h4>
                 <p style=" font-size: 14px; margin-top: 10px;">医院介绍文案，点击查看医生详情，只能显示二行多的...</p>
              </div>
              <div class="doctorbox">
                 <img src="{% static 'img/doctor.png' %}" style="float: left; margin: 20px 15px 0 0; width: 80px; height: 80px;">
                 <h4 style="margin-top: 20px;">医生名称</h4>
                 <p style=" font-size: 14px; margin-top: 10px;">医院介绍文案，点击查看医生详情，只能显示二行多的...</p>
              </div>
              <div class="doctorbox">
                 <img src="{% static 'img/doctor.png' %}" style="float: left; margin: 20px 15px 0 0; width: 80px; height: 80px;">
                 <h4 style="margin-top: 20px;">医生名称</h4>
                 <p style=" font-size: 14px; margin-top: 10px;">医院介绍文案，点击查看医生详情，只能显示二行多的...</p>
              </div>
          </div>


   <div class="szzhuanjia">
              <h3><abbr>海外医院推荐</abbr> <a href="###">更多>></a></h3>
              <div class="hotwdtuijianes_new">
                 <ol>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                   <li>
                     <a href="###">我是论坛文章标题，只能显示第一行</a>
                   </li>
                 </ol>
              </div>
          </div>



          <div class="szzhuanjia">
              <h3><abbr>专业问答推荐</abbr> <a href="###">更多>></a></h3>
              <div class="hotwdtuijian">
                 <ul>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题标签话题标签话题标签话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题标签话题标签话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题话题标签话题标签话题标签话题标签标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题话题标签话题标签标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题话题标签标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                   <li>
                    <i class="layui-icon">&#xe615;</i>
                     <a href="###">话题标签</a>
                     <abbr>999个问答</abbr>
                   </li>
                 </ul>
              </div>
          </div>












        










      </div>
    </div>



   


     <!-- 底部 -->
  {% include 'footer.html' %}
     
      <script>
    var vm = avalon.define({
        $id: "bodyconts",
        name:"医院",
        intopages:function(){
            layui.use(['laypage', 'layer'], function(){
              var laypage = layui.laypage
              ,layer = layui.layer;
              laypage.render({
                elem: 'pagers'
                ,count: 100
                ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                ,jump: function(obj){
                  console.log(obj)
                }
              });
            });
        },
        showxiala:function(){
            var _this = $(this);
            if(_this.next('ul').hasClass('hites')){
                _this.next('ul').removeClass('hites');
            }else{
                _this.next('ul').addClass('hites');
            }
        },
        changeSearch:function(els){
            vm.name = '';
            vm.name = els;
            $(this).parent().addClass('hites');
        },
    })
    vm.intopages();
</script>
</body>
</html>