<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="育儿论坛">
    <meta name="keywords" content="育儿论坛">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/coment.css' %}">
    <link rel="stylesheet" href="{% static 'css/idangerous.swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/yuerlt.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
    <script src="{% static 'js/uitls/jquery.min.js' %}"></script>
    <script src="{% static 'js/uitls/idangerous.swiper2.7.6.min.js' %}"></script>
    <script src="{% static 'layui/layui.all.js' %}"></script>
    <script src="{% static 'js/uitls/avalon.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/uitls/tool.js' %}"></script>

    <title>育儿论坛</title>
</head>

{% include 'header.html' %}
<!-- 育儿论坛头部板块 -->
<section id="yuerhead" ms-controller='yuerltctr' class='wid yuerhead'>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ms-repeat-as="lunbodata">
                <a ms-attr-href="{as.lunbolink}" class='yu_h_imgbox fl' target="_blank">
                    <img ms-attr-src="/media/{as.lunboimg}" ms-attr-alt="{as.name}">
                </a>
                <div class="yu_h_info fl">
                    <h3>
                        <a href="javascript:;">{as.name}</a>
                    </h3>
                    <p class='stitle'>
                        <a ms-attr-href="/luntan/articles/?aid={as.article.id}">{as.article.title.substr(0,15)}</a>
                    </p>
                    <p class="info">
                        <a ms-attr-href="/luntan/articles/?aid={as.article.id}">
                            {as.article.content.match(/[\u4e00-\u9fa5]/g).toString().replace(/\,/g,'').substr(0,100)}
                        </a>
                    </p>
                    <div class="userinfo">
                        <a href="javascript:; " class='fl'><i class='iconfont'>&#xe604;</i><span>{as.article.user.username}</span></a>
                        <a href="javascript:;" class='fr'><i class='iconfont' style='color:#ccc;'>&#xe66a;</i><span>{as.article.count}</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 导航按钮 -->
        <div class="leftBtn iconfont lb_btn">&#xe609;</div>
        <div class="rightBtn iconfont lb_btn">&#xe60a;</div>
        <!-- 分页器 -->
        <div class="pagination"></div>
    </div>

    <div class="jlquan">
        <div class="jlqunClass" ms-repeat-el="yuerlt_data">
            <div class="quanTitle">
                <a href="javascript:;"><img ms-attr-src="{el.child[0].thumb}" alt=""></a>
                <div class="quaninfo">
                    <h5>
                        <a ms-attr-href="/luntan/articlelist/?tid={el.child[0].id}&all=1&Mid={el.id}">{el.name}</a>
                    </h5>
                    <p><span>785</span>篇备孕交流帖子</p>
                    <p><span>123</span>条评论</p>
                </div>
            </div>
            <div class="quanmeta">
                <a ms-attr-href="/luntan/articlelist/?tid={as.id}&all=1&Mid={el.id}"
                   ms-repeat-as="el.child">{as.name}</a>
            </div>
        </div>
    </div>
</section>
<!-- 育儿论坛主体板块 -->
<section id="yuermain" class='wid clearfix'>
    <!--备孕热点  -->
    <div class="hotcontent clearfix">
        <div class="byhot fl" ms-controller="byhot">
            <div class="yuermeta_h clearfix">
                <h3><a href="javascript:;">备孕热点</a></h3>
                <p>
                    <a ms-attr-href="/luntan/articlelist/?tid={mainid}&all=1&Mid={Mid}"></a>
                </p>
            </div>
            <div class="byinfobox">
                <div class="box_byinfo" ms-repeat-el="data">
                    <a ms-attr-href="/luntan/articles/?aid={el.id}">
                        <img ms-attr-src="{el.snimg}" alt=""></a>
                    <div class="byinfo_r">
                        <p class="bytit"><a ms-attr-href="/luntan/articles/?aid={el.id}">{el.title.substr(0,15)}</a></p>
                        <p>
                            <a ms-attr-href="/luntan/articles/?aid={el.id}">
                                {el.content|html}
                            </a>
                        </p>
                        <div class="byuser">
                            <div>
                                {% if request.user.is_active %}
                                    <a ms-attr-href="/users/centerhim/{el.user.id}"><img ms-attr-src="/media/{el.user.head}" style="width: 20px;height: 20px;border-radius: 50%;" alt=""></a>
                                {% else %}
                                    <a href="/login"><img ms-attr-src="/media/{el.user.head}" style="width: 20px;height: 20px;border-radius: 50%;" alt=""></a>
                                {% endif %}
                                <span>{el.user.username}</span>
                            </div>
                            <a href="javascript:;">
                                <i class='iconfont icon-pinglun'
                                   style='color:#CCC;'></i><span>{el.commentnum}</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="byhot_r fl" ms-controller="hymm">
            <div class="rgt_tit">
                <h4><span>好孕妈妈榜</span></h4>
            </div>
            <ul class="rgt_infobox">
                <li ms-attr-class="$index==pageNow?'rgt_select':''" ms-repeat="data" ms-attr-dataid="{$index}"
                    ms-mouseover="mouser()">
                    <div>
                        <div class='fl'>
                            {% if request.user.is_active %}
                                <a ms-attr-href="/users/centerhim/{el.user.id}"><img ms-attr-src="/media/{el.user.head}" alt=""></a>
                            {% else %}
                                <a href="/login"><img ms-attr-src="/media/{el.user.head}" alt=""></a>
                            {% endif %}

                            <span>{el.user.username}</span>
                        </div>
                        <span class='fr'>{el.topicname[Math.floor(Math.random()*(el.topicname.length))].name}</span>
                    </div>
                    <div>
                        {% if request.user.is_active %}
                            <a ms-attr-href="/users/centerhim/{el.user.id}"><img ms-attr-src="/media/{el.user.head}" alt=""></a>
                        {% else %}
                            <a href="/login"><img ms-attr-src="/media/{el.user.head}" alt=""></a>
                        {% endif %}

                        <div class='fl userinfo'>
                            <p class="rgt_t">{el.user.username}</p>
                            <p class='rgt_info'><a ms-attr-href="/luntan/articles/?aid={el.id}">{el.title}</a></p>
                            <div><span>{el.topicname[Math.floor(Math.random()*(el.topicname.length))].name}</span><span><i
                                    class='iconfont icon-pinglun1'></i>{el.commentnum}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="sjchangebtn"  isget="0" ms-click="goChange(this)">
                <span><i class="iconfont">&#xe615;</i>换一批</span>
            </div>
        </div>
    </div>
    <!-- 难孕治疗，试管婴儿主体 -->
    <div class="mainbox wid clearfix">
        <div class="main_f fl">
            <div class="nyzlbox" ms-controller="nyzl">
                <div class="yuermeta_h clearfix">
                    <h3><a href="javascript:;">难孕治疗</a></h3>
                    <p>
                        <a ms-attr-href="/luntan/articlelist/?tid={mainid}&all=1&Mid={Mid}"></a>
                    </p>
                </div>
                <ul class="metalist">
                    <li ms-repeat-as="metadata" isget='0' ms-click="goChange(as.id,this)" ms-attr-dataid="{as.id}"
                        ms-attr-class="as.id==pageNo?'yesSelect':''">
                        <a href="javascript:;">{as.name}</a>
                    </li>

                </ul>
                <div class="nyinfo">
                    <div class="info_l fl">
                        <div class="info_h clearfix">
                            <img src="{% static 'images/yuerlt/hot.png' %}" alt="">
                            <div ms-repeat-hot="hotTitle">
                                <p><a ms-attr-href="/luntan/articles/?aid={hot.id}">{hot.title}</a></p>
                                <p>
                                    <a ms-attr-href="/luntan/articles/?aid={hot.id}">
                                        {hot.content|html}
                                    </a>
                                </p>
                            </div>
                        </div>
                        <ul class="info_lis" ms-repeat-lis="data">
                            <li>
                                <a ms-attr-href="/luntan/articles/?aid={lis.id}"><i class='iconfont icon-wenhao'></i>{lis.title}</a>
                            </li>

                        </ul>
                    </div>
                    <div class="info_r fl">
                        <div class="r_imgbox">
                            <a ms-attr-href="/luntan/articles/?aid={ims.id}" ms-repeat-ims="imgTitle">
                                <img ms-attr-src="{ims.snimg}" alt="">
                                <span>{ims.title}</span>
                            </a>
                        </div>

                        <div class="r_list">
                            <a ms-attr-href="/luntan/articles/?aid={as.id}" ms-repeat-as="lisTitle"><i
                                    class='iconfont icon-dot'></i><span>{as.title}</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sgyerbox" ms-controller="sgyer">
                <div class="yuermeta_h clearfix">
                    <h3><a href="javascript:;">试管婴儿</a></h3>
                    <p>
                        <a ms-attr-href="/luntan/articlelist/?tid={mainid}&all=1&Mid={mainid}"></a>
                    </p>
                </div>
                <ul class="sgyer-h fl">
                    <li ms-attr-class="el.id==pageNo?'lisSelect':''" ms-attr-dataid="el.id" ms-repeat-el="menudata"
                        isget='0' ms-click="goChange(el.id,this) ">{el.name}
                    </li>
                </ul>
                <div class="sgyer-infolis fl">
                    <div class='clearfix' ms-repeat-el="hotdata">
                        <a href="#">
                            <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                        </a>
                        <div class='infolis-b'>
                            <h6>
                                <a ms-attr-href="/luntan/articles/?aid={el.id}">{el.title}</a>
                            </h6>
                            <p>
                                <a ms-attr-href="/luntan/articles/?aid={el.id}">
                                    {el.content|html}
                                </a>
                            </p>
                        </div>
                    </div>
                    <ul class="sgyer-lis">
                        <li ms-repeat-el="lisdata"><a
                                ms-attr-href="/luntan/articles/?aid={el.id}"><span>{el.title}</span><span><i class='iconfont icon-pinglun1'></i>{el.commentnum}</span></a></li>
                    </ul>
                </div>

            </div>
        </div>


        <div class="main_r fl">
            <div class="quick_ask" ms-controller="freeAsk">
                <div class="head">
                    <i class='iconfont'>&#xe640;</i>
                    <p>快速提问</p>
                </div>
                <textarea name="quick_ask" id="quick_ask" cols="1" rows="3">
                </textarea>
                <div class="lis-select" ms-each-items="data">
                    <select ms-click="onChange()">
                        <option ms-attr-value="el.id" ms-repeat-el="items.child">{el.name}</option>
                    </select>
                </div>

                <div class="lis-foot">
                    <span>今日66位提问</span>
                    {% if request.user.is_active %}
                        <a href="javascript:;" ms-click="goAsk">免费提问</a>
                    {% else %}
                        <a href="/login">免费提问</a>
                    {% endif %}
                </div>
            </div>
            {#热点文章#}
            {% include 'mod_hotarticle.html' %}
            {# 热门标签 #}
            {% include 'mod_hotbq.html' %}
        </div>
    </div>
</section>
<!-- 底部 -->
{% include 'footer.html' %}
<!-- 底部 -->
<script type="text/javascript">
    {#数据请求渲染相关#}
    (function () {
        var api_mainmenu = '/luntan/areas/',
            api_articlelist = '/luntan/articlelist/?tid=',
            api_hotarticles = '/luntan/hotarticles/',
            api_goodmother = '/luntan/goodmother/?aid=',
            api_ksAsk = '/luntan/articles/',
            api_articles = '/luntan/articles/?aid=';
        var nyzl_num = 17,//控制难孕治疗帖子展示条数
            hymm_num = 8,//好孕妈妈的文章展示条数
            rmarc_num = 9;//热门文章展示条数
        var vm_areas = avalon.define({
            $id: "yuerltctr",
            yuerlt_data: [],
            lunbodata: [],
            lunboinfo: function () {
                $.ajax({
                    url: '/luntan/getlunbo/',
                    type: 'get',
                    dataType: 'json',
                    success: function (ajax) {
                        var lunbodata = ajax.data;
                        $.ajax({
                            url: '/webmanage/banner',
                            type: 'post',
                            data: {
                                'bannertype': 2,
                                'csrfmiddlewaretoken': glob_csrftoken
                            }, success: function (ajax) {
                                for (var i = 0; i < ajax.data.length; i++) {
                                    lunbodata[i].lunboimg = ajax.data[i].cover;
                                    lunbodata[i].lunbolink = ajax.data[i].yuerbanner_link;
                                }
                                vm_areas.lunbodata = lunbodata.splice(0, ajax.data.length);
                                var mySwiper = new Swiper('.swiper-container', {
                                    loop: true,
                                    autoplay: 5000,
                                    pagination: '.pagination',
                                    paginationClickable: true,
                                })
                                var lb_btn = $('.lb_btn');
                                $('.leftBtn').click(function () {
                                    mySwiper.swipePrev();
                                });
                                $('.rightBtn').click(function () {
                                    mySwiper.swipeNext();
                                });
                                $('.swiper-container').mousemove(function () {
                                    lb_btn.each(function () {
                                        $(this).addClass('yesShow');
                                    });
                                }).mouseleave(function () {
                                    lb_btn.each(function () {
                                        $(this).removeClass('yesShow');
                                    });
                                })
                                $('.rgt_infobox>li').mouseover(function () {

                                    Toolfun.clearClass('rgt_select', $('.rgt_infobox>li'))
                                    $(this).addClass('rgt_select');
                                })
                                $('.headerNav-ul ul li').hover(function () {
                                    $(this).find('.xialabox').show();
                                }, function () {
                                    $(this).find('.xialabox').hide();
                                })
                            }, error: function (error) {
                                console.log(error);
                            }
                        })
                    }, error: function (error) {
                        console.log(error);
                    }
                });

            }
        });
        vm_areas.lunboinfo();
        var vm_byhot = avalon.define({
            $id: 'byhot',
            Mid: 0,
            mainid: 0,
            data: [],
        });
        var vm_nyzl = avalon.define({
            $id: 'nyzl',
            data: [],
            Mid: 0,
            mainid: 0,
            hotTitle: [],
            imgTitle: [],
            lisTitle: [],
            pageNo: 0,
            metadata: [],
            goChange: function (menu_id, ev) {
                if ($(ev).attr('isget') > 0) {
                    return;
                }
                vm_nyzl.pageNo = $(this).attr('dataid');
                $(ev).attr('isget', 1);
                $.ajax({
                    url: api_articlelist + menu_id + '&num=' + nyzl_num,
                    type: 'get',
                    dataType: 'json',
                    success: function (ajax) {
                        vm_nyzl.hotTitle = ajax.data.curuent_page.slice(0, 1);
                        vm_nyzl.data = ajax.data.curuent_page.slice(1, 7);
                        vm_nyzl.imgTitle = ajax.data.curuent_page.slice(7, 11);
                        Toolfun.snimgzsClass(vm_nyzl.imgTitle);
                        vm_nyzl.lisTitle = ajax.data.curuent_page.slice(11, 17);
                        setTimeout(function () {
                            $(ev).attr('isget', 0);
                        }, 4000)
                    }, error: function (error) {
                        console.log(error)
                    }
                })
            }
        });
        var vm_sgyer = avalon.define({
            $id: 'sgyer',
            mainid: 0,
            Mid: 0,
            pageNo: 0,
            menudata: [],
            hotdata: [],
            lisdata: [],
            goChange: function (currentid, ev) {
                if ($(ev).attr('isget') > 0) {
                    return;
                }
                vm_sgyer.pageNo = $(this).attr('dataid');
                $(ev).attr('isget', 1);
                $.ajax({
                    url: api_articlelist + currentid,
                    type: 'get',
                    dataType: 'json',
                    success: function (ajax) {
                        vm_sgyer.hotdata = ajax.data.curuent_page.slice(0, 1);
                        Toolfun.snimgzsClass(vm_sgyer.hotdata);
                        vm_sgyer.lisdata = ajax.data.curuent_page.slice(1, 9);
                        setTimeout(function () {
                            $(ev).attr('isget', 0);
                        }, 4000)
                    }, error: function (error) {
                        console.log(error);
                    }
                })
            }
        })
        var vm_hymm = avalon.define({
            $id: 'hymm',
            data: [],
            pageOn: 1,
            pageAll: 0,
            topicname: 0,
            pageNow: 0,
            aid: 0,
            goChange: function (e) {
                var _this = $(e);
                if (_this.attr('isget') > 0) {
                    return;
                }
                _this.attr('isget', 1);
                _this.addClass('sjchangebtnselect');
                setTimeout(function () {
                    _this.attr('isget', 0);
                    _this.removeClass('sjchangebtnselect');
                }, 2000)
                vm_hymm.pageOn++;
                if (vm_hymm.pageOn > vm_hymm.pageAll) {
                    vm_hymm.pageOn = 1;
                }
                reshHymm(vm_hymm.aid, hymm_num, vm_hymm.pageOn);
            },
            mouser: function () {
                vm_hymm.pageNow = $(this).attr('dataid');
            }
        });

        var vm_freeAsk = avalon.define({
            $id: 'freeAsk',
            data: [],
            selecid: '',
            onChange: function () {
                vm_freeAsk.selecid = $(this).find('option:selected').val();
                var items = $('.lis-select>select');
                Toolfun.clearClass('askSelect', items);
                $(this).addClass('askSelect');
            },
            goAsk: function () {
                var textval = $('#quick_ask').val().trim();
                if (textval == '') {
                    layer.msg("请输入发送完整的信息！！")
                    return false;
                } else if (vm_freeAsk.selecid == "") {
                    layer.msg('请选择要提问的所属栏目！！')
                    return false;
                }
                $.ajax({
                    url: api_ksAsk,
                    type: 'POST',
                    data: {
                        'title': textval,
                        'topics': vm_freeAsk.selecid,
                        'content': textval,
                        'csrfmiddlewaretoken': glob_csrftoken
                    },
                    success: function (msg) {
                        alert('提交成功');
                    }
                })
            }
        })

        {#好孕妈妈数据请求#}

        function reshHymm(aid, num, page) {

            $.ajax({
                url: api_goodmother + aid + '&num=' + num + '&page' + page,
                type: 'get',
                dataType: 'json',
                success: function (ajax) {
                    vm_hymm.pageAll = ajax.data.page_num;
                    vm_hymm.pageOn = page;
                    vm_hymm.data = ajax.data.curuent_page;

                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

        {#论坛轮播图请求#}
        localStorage.removeItem('navdata');
        localStorage.removeItem('Mgroup');
        localStorage.removeItem('sonGroup');
        {#话题第一层的请求#}
        $.ajax({
            url: api_mainmenu,
            type: 'get',
            dataType: 'json',
            success: function (ajax) {
                {#全局栏目数据#}
                vm_areas.yuerlt_data = ajax.data;
                {#备孕热点#}
                vm_byhot.mainid = ajax.data[0].child[0].id;
                vm_byhot.Mid = ajax.data[0].id;

                $.ajax({
                    url: api_articlelist + vm_byhot.mainid,
                    type: 'get',
                    dataType: 'json',
                    success: function (ajax) {
                        var newdata = ajax.data.curuent_page.slice(0, 6);
                        Toolfun.snimgzsClass(newdata);
                        vm_byhot.data = newdata;
                    }, error: function (error) {
                        console.log(error)
                    }
                })

                {#难孕治疗#}
                vm_nyzl.metadata = ajax.data[3].child.slice(0, 8);
                vm_nyzl.Mid = ajax.data[3].id;
                vm_nyzl.pageNo = vm_nyzl.metadata[0].id;
                vm_nyzl.mainid = ajax.data[3].id;
                $.ajax({//初始化数据
                    url: api_articlelist + vm_nyzl.metadata[0].id + '&num=' + nyzl_num,
                    type: 'get',
                    dataType: 'json',
                    success: function (ajax) {
                        var imgdata = ajax.data.curuent_page.slice(7, 11);
                        vm_nyzl.hotTitle = ajax.data.curuent_page.slice(0, 1);
                        vm_nyzl.data = ajax.data.curuent_page.slice(1, 7);
                        Toolfun.snimgzsClass(imgdata);
                        vm_nyzl.imgTitle = imgdata;
                        vm_nyzl.lisTitle = ajax.data.curuent_page.slice(11, 17);
                    }, error: function (error) {
                        console.log(error);
                    }
                });
                {# 试管婴儿部分 #}
                vm_sgyer.mainid = ajax.data[2].id;
                vm_sgyer.menudata = ajax.data[2].child.slice(0, 6);
                vm_sgyer.pageNo = vm_sgyer.menudata[0].id;
                $.ajax({
                    url: api_articlelist + ajax.data[2].child[0].id,
                    type: 'get',
                    dataType: 'json',
                    success: function (ajax) {
                        var imgdata = ajax.data.curuent_page.slice(0, 1);
                        Toolfun.snimgzsClass(imgdata);
                        vm_sgyer.hotdata = imgdata;
                        vm_sgyer.lisdata = ajax.data.curuent_page.slice(1, 9);
                    }, error: function (error) {
                        console.log(error);
                    }
                })
                {# 好孕妈妈部分#}
                vm_hymm.aid = ajax.data[1].id;
                reshHymm(vm_hymm.aid, hymm_num, 1);//初始化好孕妈妈数据
                {# 免费提问 #}
                vm_freeAsk.data = ajax.data;
            }
        });
    })()
</script>

</body>

</html>