<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="育儿论坛">
    <meta name="keywords" content="育儿论坛">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/coment.css' %}">
    <link rel="stylesheet" href="{% static 'css/idangerous.swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/yuerlt.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
    <script src="{% static 'js/uitls/jquery.min.js' %}"></script>
    <script src="{% static 'js/uitls/idangerous.swiper2.7.6.min.js' %}"></script>
    <script src="{% static 'js/uitls/avalon.js' %}"></script>
    <script src="{% static 'js/uitls/tool.js' %}"></script>

    <title>育儿论坛</title>
</head>

<body id='body' ms-controller='yuerltctr'>
{% include 'header.html' %}
<!-- 育儿论坛头部板块 -->
<section id="yuerhead" class='wid yuerhead'>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="javascript:;" class='yu_h_imgbox fl'><img src="{% static 'images/yuerlt/img01.png' %}" alt=""></a>
                <div class="yu_h_info fl">
                    <h3>
                        <a href="javascript:;">备孕交流圈</a>
                    </h3>
                    <p class='stitle'>
                        <a href="javascript:;">我是文章标题我是文章标题</a>
                    </p>
                    <p class="info">
                        <a href="javascript:;">
                            我是文章内容显示文章备孕交流圈文章开头部分，最多显
                            示三行。文案文案文案文案文案文案文案案文案文案文案
                            文案案文案文案文案文案
                        </a>
                    </p>
                    <div class="userinfo">
                        <a href="javascript:; " class='fl'><i class='iconfont'>&#xe604;</i><span>啦啦啦</span></a>
                        <a href="javascript:;" class='fr'><i class='iconfont'
                                                             style='color:#ccc;'>&#xe66a;</i><span>88</span></a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style='background-color:orange;'>Slide 2</div>
            <div class="swiper-slide" style='background-color:skyblue;'>Slide 3</div>
        </div>
        <!-- 导航按钮 -->
        <div class="leftBtn iconfont lb_btn">&#xe609;</div>
        <div class="rightBtn iconfont lb_btn">&#xe60a;</div>
        <!-- 分页器 -->
        <div class="pagination"></div>
    </div>
    <div class="jlquan">
        <div class="jlqunClass" ms-repeat-el="yuerlt_data">
            <div class="quanTitle">
                <a href="javascript:;"><img src="{% static 'images/yuerlt/zhiliao.png' %}" alt=""></a>
                <div class="quaninfo">
                    <h5>
                        <a href="javascript:;">{el.name}</a>
                    </h5>
                    <p><span>785</span>篇备孕交流帖子</p>
                    <p><span>123</span>条评论</p>
                </div>
            </div>
            <div class="quanmeta">
                <a href="javascript:;" ms-repeat-as="el.child">{as.name}</a>
            </div>
        </div>
    </div>
</section>
<!-- 育儿论坛主体板块 -->
<section id="yuermain" class='wid clearfix'>
    <!--备孕热点  -->
    <div class="hotcontent clearfix" ms-controller="byhot">
        <div class="byhot fl">
            <div class="yuermeta_h clearfix">
                <h3><a href="javascript:;">备孕热点</a></h3>
                <p>
                    <a href="javascript:;"></a>
                </p>
            </div>
            <div class="byinfobox">
                <div class="box_byinfo" ms-repeat-el="data">
                    <a href="javascript:;"><img src="{% static 'images/yuerlt/img02.png' %}" alt=""></a>
                    <div class="byinfo_r">
                        <p class="bytit"><a href="javascript:;">{el.title}</a></p>
                        <p>
                            <a href="javascript:;">
                                {el.content}
                            </a>
                        </p>
                        <div class="byuser">
                            <div><img src="{% static 'images/yuerlt/user01.png' %}"
                                      alt=""><span>{el.user.username}</span></div>
                            <a href="javascript:;">
                                <i class='iconfont icon-pinglun'
                                   style='color:#CCC;'></i><span>{el.commentnum}</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="byhot_r fl">
            <div class="rgt_tit">
                <h4><span>好孕妈妈榜</span></h4>
            </div>
            <ul class="rgt_infobox">
                <li class='rgt_select'>
                    <div>
                        <div class='fl'><img src="{% static 'images/yuerlt/user02.png' %}" alt=""><span>小猪仔</span></div>
                        <span class='fr'>胎心发芽</span>
                    </div>
                    <div>
                        <img src="{% static 'images/yuerlt/user03.png' %}" alt="">
                        <div class='fl userinfo'>
                            <p class="rgt_t"><a href="">我是用户名</a></p>
                            <p class='rgt_info'><a href="">我是论坛文章文字，只显示两行，超出
                                部分用...代替。鼠标移动显示下一个</a></p>
                            <div><span>胎心发芽</span><span><i class='iconfont icon-pinglun1'></i>183697</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class=''>
                    <div>
                        <div class='fl'><img src="{% static 'images/yuerlt/user02.png' %}" alt=""><span>小猪仔</span></div>
                        <span class='fr'>胎心发芽</span>
                    </div>
                    <div>
                        <img src="{% static 'images/yuerlt/user03.png' %}" alt="">
                        <div class='fl userinfo'>
                            <p class="rgt_t"><a href="">我是用户名</a></p>
                            <p class='rgt_info'><a href="">我是论坛文章文字，只显示两行，超出
                                部分用...代替。鼠标移动显示下一个</a></p>
                            <div><span>胎心发芽</span><span><i class='iconfont icon-pinglun1'></i>183697</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class=''>
                    <div>
                        <div class='fl'><img src="{% static 'images/yuerlt/user02.png' %}" alt=""><span>小猪仔</span></div>
                        <span class='fr'>胎心发芽</span>
                    </div>
                    <div>
                        <img src="{% static 'images/yuerlt/user03.png' %}" alt="">
                        <div class='fl userinfo'>
                            <p class="rgt_t"><a href="">我是用户名</a></p>
                            <p class='rgt_info'><a href="">我是论坛文章文字，只显示两行，超出
                                部分用...代替。鼠标移动显示下一个</a></p>
                            <div><span>胎心发芽</span><span><i class='iconfont icon-pinglun1'></i>183697</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class=''>
                    <div>
                        <div class='fl'><img src="{% static 'images/yuerlt/user02.png' %}" alt=""><span>小猪仔</span></div>
                        <span class='fr'>胎心发芽</span>
                    </div>
                    <div>
                        <img src="{% static 'images/yuerlt/user03.png' %}" alt="">
                        <div class='fl userinfo'>
                            <p class="rgt_t"><a href="">我是用户名</a></p>
                            <p class='rgt_info'><a href="">我是论坛文章文字，只显示两行，超出
                                部分用...代替。鼠标移动显示下一个</a></p>
                            <div><span>胎心发芽</span><span><i class='iconfont icon-pinglun1'></i>183697</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class=''>
                    <div>
                        <div class='fl'><img src="{% static 'images/yuerlt/user02.png' %}" alt=""><span>小猪仔</span></div>
                        <span class='fr'>胎心发芽</span>
                    </div>
                    <div>
                        <img src="{% static 'images/yuerlt/user03.png' %}" alt="">
                        <div class='fl userinfo'>
                            <p class="rgt_t"><a href="">我是用户名</a></p>
                            <p class='rgt_info'><a href="">我是论坛文章文字，只显示两行，超出
                                部分用...代替。鼠标移动显示下一个</a></p>
                            <div><span>胎心发芽</span><span><i class='iconfont icon-pinglun1'></i>183697</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class=''>
                    <div>
                        <div class='fl'><img src="{% static 'images/yuerlt/user02.png' %}" alt=""><span>小猪仔</span></div>
                        <span class='fr'>胎心发芽</span>
                    </div>
                    <div>
                        <img src="{% static 'images/yuerlt/user03.png' %}" alt="">
                        <div class='fl userinfo'>
                            <p class="rgt_t"><a href="">我是用户名</a></p>
                            <p class='rgt_info'><a href="">我是论坛文章文字，只显示两行，超出
                                部分用...代替。鼠标移动显示下一个</a></p>
                            <div><span>胎心发芽</span><span><i class='iconfont icon-pinglun1'></i>183697</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class=''>
                    <div>
                        <div class='fl'><img src="{% static 'images/yuerlt/user02.png' %}" alt=""><span>小猪仔</span></div>
                        <span class='fr'>胎心发芽</span>
                    </div>
                    <div>
                        <img src="{% static 'images/yuerlt/user03.png' %}" alt="">
                        <div class='fl userinfo'>
                            <p class="rgt_t"><a href="">我是用户名</a></p>
                            <p class='rgt_info'><a href="">我是论坛文章文字，只显示两行，超出
                                部分用...代替。鼠标移动显示下一个</a></p>
                            <div><span>胎心发芽</span><span><i class='iconfont icon-pinglun1'></i>183697</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class=''>
                    <div>
                        <div class='fl'><img src="{% static 'images/yuerlt/user02.png' %}" alt=""><span>小猪仔</span></div>
                        <span class='fr'>胎心发芽</span>
                    </div>
                    <div>
                        <img src="{% static 'images/yuerlt/user03.png' %}" alt="">
                        <div class='fl userinfo'>
                            <p class="rgt_t"><a href="">我是用户名</a></p>
                            <p class='rgt_info'><a href="">我是论坛文章文字，只显示两行，超出
                                部分用...代替。鼠标移动显示下一个</a></p>
                            <div><span>胎心发芽</span><span><i class='iconfont icon-pinglun1'></i>183697</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="sjchangebtn">
                <img src="{% static 'images/yuerlt/change.png' %}" alt="">
            </div>
        </div>
    </div>
    <!-- 难孕治疗，试管婴儿主体 -->
    <div class="mainbox wid clearfix" ms-controller="nyzl">
        <div class="main_f fl">
            <div class="nyzlbox">
                <div class="yuermeta_h clearfix">
                    <h3><a href="javascript:;">难孕治疗</a></h3>
                    <p>
                        <a href="javascript:;"></a>
                    </p>
                </div>
                <ul class="metalist">
                    <li ms-repeat-as="metadata" ms-click="goChange(as.id)" ms-attr-dataid="{as.id}"
                        ms-attr-class="as.id==pageNo?'yesSelect':''">
                        <a href="javascript:;">{as.name}</a>
                    </li>

                </ul>
                <div class="nyinfo">
                    <div class="info_l fl">
                        <div class="info_h clearfix">
                            <img src="{% static 'images/yuerlt/hot.png' %}" alt="">
                            <div ms-repeat-hot="hotTitle">
                                <p><a href="#">{hot.title}</a></p>
                                <p>
                                    <a href="#">
                                        {hot.content}
                                    </a>
                                </p>
                            </div>
                        </div>
                        <ul class="info_lis" ms-repeat-lis="data">
                            <li>
                                <a href="#"><i class='iconfont icon-wenhao'></i>{lis.title}</a>
                            </li>

                        </ul>
                    </div>
                    <div class="info_r fl">
                        <div class="r_imgbox">
                            <a ms-attr-href="{ims.id}.html" ms-repeat-ims="imgTitle">
                                <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                                <span>{ims.title}</span>
                            </a>
                        </div>
                        <div class="r_list" >
                            <a ms-attr-href="{as.id}.html" ms-repeat-as="lisTitle"><i class='iconfont icon-dot'></i><span>{as.title}</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sgyerbox">
                <div class="yuermeta_h clearfix">
                    <h3><a href="javascript:;">试管婴儿</a></h3>
                    <p>
                        <a href="javascript:;"></a>
                    </p>
                </div>
                <ul class="sgyer-h fl">
                    <li class='lisSelect'>人工授精</li>
                    <li>试管成功率</li>
                    <li>宫外孕试管</li>
                    <li>取精取卵</li>
                    <li>试管移植后</li>
                    <li>保胎</li>
                </ul>
                <div class="sgyer-infolis fl">
                    <div class='clearfix'>
                        <a href="#">
                            <img src="{% static 'images/yuerlt/img02.png' %}" alt="">
                        </a>
                        <div class='infolis-b'>
                            <h6>
                                <a href="#">试管婴儿准备：做试管去哪里做更好呢？</a>
                            </h6>
                            <p>
                                <a href="#">我是预览文案做多显示四行。我想做试管婴儿，在中国这样做比较方便，但恐怕不会成功。 出国成功率较高，但费用昂贵且不便。谁能帮助我分析我应该如何选择！
                                    文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案案文案文案文案文
                                </a>
                            </p>
                        </div>
                    </div>
                    <ul class="sgyer-lis">
                        <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i
                                class='iconfont icon-pinglun1'></i>236</span></a></li>
                        <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i
                                class='iconfont icon-pinglun1'></i>236</span></a></li>
                        <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i
                                class='iconfont icon-pinglun1'></i>236</span></a></li>
                        <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i
                                class='iconfont icon-pinglun1'></i>236</span></a></li>
                        <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i
                                class='iconfont icon-pinglun1'></i>236</span></a></li>
                        <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i
                                class='iconfont icon-pinglun1'></i>236</span></a></li>
                        <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i
                                class='iconfont icon-pinglun1'></i>236</span></a></li>
                        <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i
                                class='iconfont icon-pinglun1'></i>236</span></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="main_r fl">
            <div class="quick_ask">
                <div class="head">
                    <i class='iconfont'>&#xe640;</i>
                    <p>快速提问</p>
                </div>
                <textarea name="quick_ask" id="" cols="1" rows="3">
                    </textarea>
                <div class="lis-select">
                    <select>
                        <option value="volvo">备孕</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                    <select>
                        <option value="volvo">备孕</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                    <select>
                        <option value="volvo">试管</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                    <select>
                        <option value="volvo">不孕不育</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                    <select>
                        <option value="volvo">其他</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
                <div class="lis-foot">
                    <span>今日1128位提问</span>
                    <a href="">免费提问</a>
                </div>
            </div>
            <div class="hot_arc">
                <div class="rgt_tit">
                    <h4><span>热门文章</span></h4>
                </div>
                <ul class='clearfix'>
                    <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i class='iconfont icon-pinglun1'></i>236</span></a>
                    </li>
                    <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i class='iconfont icon-pinglun1'></i>236</span></a>
                    </li>
                    <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i class='iconfont icon-pinglun1'></i>236</span></a>
                    </li>
                    <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i class='iconfont icon-pinglun1'></i>236</span></a>
                    </li>
                    <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i class='iconfont icon-pinglun1'></i>236</span></a>
                    </li>
                    <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i class='iconfont icon-pinglun1'></i>236</span></a>
                    </li>
                    <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i class='iconfont icon-pinglun1'></i>236</span></a>
                    </li>
                    <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i class='iconfont icon-pinglun1'></i>236</span></a>
                    </li>
                    <li><a href="#"><span>做试管婴儿哪家医院最好？泰国做试管</span><span><i class='iconfont icon-pinglun1'></i>236</span></a>
                    </li>
                </ul>
                <div class="sjchangebtn">
                    <img src="{% static 'images/yuerlt/change.png' %}" alt="">
                </div>
            </div>
            <div class="hot_bq">
                <div class="rgt_tit">
                    <h4><span>热点标签</span></h4>
                </div>
                <ul class='hot_bqbox'>
                    <li><a href="#">试管婴儿</a></li>
                    <li><a href="#">试管婴儿</a></li>
                    <li><a href="#">试管婴儿</a></li>
                    <li><a href="#">试管婴儿而非个人各</a></li>
                    <li><a href="#">试管婴儿</a></li>
                    <li><a href="#">试管婴儿</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<script>
    (function () {
        var mySwiper = new Swiper('.swiper-container', {
            loop: true,
            autoplay: 5000,
            pagination: '.pagination',
            paginationClickable: true,
        })
        var lb_btn = $('.lb_btn');
        $('.leftBtn').click(function () {
            mySwiper.swipePrev();
        });
        $('.rightBtn').click(function () {
            mySwiper.swipeNext();
        });
        $('.swiper-container').mousemove(function () {
            lb_btn.each(function () {
                $(this).addClass('yesShow');
            });
        }).mouseleave(function () {
            lb_btn.each(function () {
                $(this).removeClass('yesShow');
            });
        })
        $('.rgt_infobox>li').mouseover(function () {
            Toolfun.clearClass('rgt_select', $('.rgt_infobox>li'))
            $(this).addClass('rgt_select');
        })
        $('.headerNav-ul ul li').hover(function () {
            $(this).find('.xialabox').show();
        }, function () {
            $(this).find('.xialabox').hide();
        });
    })();
    {#数据请求渲染相关#}
    (function () {
        avalon.config({
            interpolate: ["{", "}"]
        });

        var vm_areas = avalon.define({
            $id: "yuerltctr",
            yuerlt_data: [],
        });
        var vm_byhot = avalon.define({
            $id: 'byhot',
            data: [],
        });
        var vm_nyzl = avalon.define({
            $id: 'nyzl',
            data: [],
            hotTitle: [],
            imgTitle: [],
            lisTitle: [],
            pageNo: 0,
            metadata: [],
            goChange: function (menu_id) {
                var lis = $('.metalist>li');
                Toolfun.clearClass('yesSelect', lis);
                $(this).addClass('yesSelect');
                $.ajax({
                    url: 'http://127.0.0.1:8000/luntan/articlelist/?tid=' + menu_id + '',
                    type: 'get',
                    dataType: 'json',
                    success: function (ajax) {
                        vm_nyzl.pageNo = this.dataid;
                        vm_nyzl.data = ajax.data.curuent_page.splice(1, 6);
                        vm_nyzl.hotTitle = ajax.data.curuent_page.splice(0, 1);
                        $.ajax({
                            url: 'http://127.0.0.1:8000/luntan/articlelist/?tid=' + menu_id + '&page=' + 2 + '',
                            type: 'get',
                            dataType: 'json',
                            success: function (ajax) {
                                vm_nyzl.imgTitle = ajax.data.curuent_page.splice(0, 4);
                                vm_nyzl.lisTitle = ajax.data.curuent_page.splice(5, 10);
                                console.log(vm_nyzl.imgTitle, 111, ajax.data.curuent_page,)
                            }, error: function (error) {
                                console.log(error);
                            }
                        })
                    }, error: function (error) {
                        console.log(error)
                    }
                })
            }
        });

        function arcAjax(tid, vm_arc) {//栏目对应文章列表数据
            $.ajax({
                url: 'http://127.0.0.1:8000/luntan/articlelist/?tid=' + tid + '',
                type: 'get',
                dataType: 'json',
                success: function (ajax) {
                    if (vm_arc.hotTitle) {
                        vm_arc.hotTitle = ajax.data.curuent_page.splice(0, 1);
                        vm_arc.data = ajax.data.curuent_page.splice(1, 6);
                    } else {
                        vm_arc.data = ajax.data.curuent_page.splice(0, 6);
                    }
                }, error: function (error) {
                    console.log(error)
                }
            })
        }

        {#热点推荐数据的请求#}
        $.ajax({
            url: 'http://127.0.0.1:8000/luntan/hotarticles/',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                {#console.log(data,333)#}
            }, error: function (error) {
                console.log(error);
            }
        });
        {#话题第一层的请求#}
        $.ajax({
            url: 'http://127.0.0.1:8000/luntan/areas/',
            type: 'get',
            dataType: 'json',
            success: function (ajax) {
                {#全局栏目数据#}
                vm_areas.yuerlt_data = ajax.data;
                {#备孕热点#}
                byrdid = ajax.data[0].child[0].id;
                arcAjax(byrdid, vm_byhot)
                {#难孕治疗#}
                vm_nyzl.metadata = ajax.data[3].child.splice(0, 8);
                vm_nyzl.pageNo = vm_nyzl.metadata[0].id;
                arcAjax(vm_nyzl.metadata[0].id, vm_nyzl);
                {#初始化难孕治疗右侧数据#}
                $.ajax({
                    url: 'http://127.0.0.1:8000/luntan/articlelist/?tid=' + vm_nyzl.metadata[0].id + '&page=' + 2 + '',
                    type: 'get',
                    dataType: 'json',
                    success: function (ajax) {
                        vm_nyzl.imgTitle = ajax.data.curuent_page.splice(0, 4);
                        vm_nyzl.lisTitle = ajax.data.curuent_page.splice(5, 10);
                    }, error: function (error) {
                        console.log(error);
                    }
                })
            }
        });
    })()
    {#    vm#}


</script>
{#    {% include 'footer.html' %}#}

</body>

</html>