*{ padding: 0; margin: 0; list-style: none; }
body{ position: relative; }
.allbox{ width: 100%;  overflow: hidden; min-height: 50vh; background: #fff; margin-top: 15px; }
.boxleft{ width: 27%; float: left; min-height: 200px; background: green; }
.boxright_z{ width: 71%; padding: 1%; float: right; min-height: 200px; }
.boxleft ul{ overflow: hidden; width: 100%; }
.boxleft ul li{ overflow: hidden; width: 100%; background: #F6F7F8; padding-bottom: 15px; padding-top: 0px; }
.boxleft ul li img{ margin:0 auto; }
.boxleft ul li.colrochange{ background: #fff; }
.boxleft ul li p{ font-size: 14px; }
.imgse_z{ width: 100%; overflow: hidden;}
.imgse_z img{ width: 98%; margin-left: 1%; }
.boxright_z{   }
.beiyunzn_z{width: 100%;overflow:hidden; padding: 15px 0 0 0; font-size: 14px;}

.beiyunzn_z h3{ border-bottom: 1px solid #333; overflow: hidden; margin-bottom: 10px; padding: 5px 0;}
.beiyunzn_z h3 span{ display: block;font-size: 18px; font-weight: 400; float: left;  width: 100px;text-align: center; }
.beiyunzn_z h3 abbr{float: right; color: #999; font-size: 12px;}
.beiyunzn_z h3 a:hover{ color: #ff44ad; }
.beiyunzn_z ul{ overflow: hidden; width: 92%; padding:0 4%; }
.beiyunzn_z ul li{ overflow: hidden; width: 50%; float: left; margin:8px 0; }
.benyun_z ul li{ overflow: hidden; width: 100%; margin:8px 0; }
.benyun_z ul li:before{content: '';}
.askdf_z ul li:before{ content: '▪'; color: #ff44ad; margin-right: 5px; }
.beiyunzn_z ul li img{ float: left; margin-right: 15px; margin-bottom: 5px;}
.beiyunzn_z ul li h5{ width: 100%; font-size: 14px; font-weight: 400; margin-bottom: 4px;}
.beiyunzn_z ul li h5 a:hover{ color: #ff44ad; }
.beiyunzn_z ul li p{ font-size: 12px; }

.banners_z{ width: 100%; overflow: hidden; }
.banners_z img{ width: 96%; height: auto; margin-left: 2%; }
.beiyunzn_z{ width: 100%; overflow: hidden; }
.beiyunzn_z h4{ width: 90%; margin-bottom: 15px; margin-left: 3%; background: #fff; padding: 10px 0; font-weight: 400; padding-left: 15px; font-size: 18px; }
.beiyunzn_z h4 span{ float: right; font-weight: 400; margin-right: 15px; font-size: 14px;}
.contents_z{ overflow: hidden; width: 100%; margin-bottom: 30px; }
.pre,.next{ padding: 0 15px; width: 100%；}
.pre{ margin-bottom: 15px; }
.next { margin-bottom: 35px; }

.banandsearch_z{ width: 100%; position: relative; }
.banandsearch_z img{ width: 100%; height: auto; }
.banandsearch_z input{ width: 80%;  height: 44px; padding-left: 5px; border-radius: 5px; position: absolute; left: 10%; bottom: -15px;box-shadow: none; border: 1px solid #f1f1f1;  background:#fff url('skins/img/search.png') 20px center no-repeat;}
.titltetae_z{ width: 100%; overflow: hidden;}
.jiaoliuquantitle_z{ width: 100%; overflow: hidden; background: #fff;}
.jiaoliuquantitle_z h3{ font-size: 18px; color: #333; width: 100%; text-align: center; font-weight: 400; margin: 30px 0 0px 0; background: #fff; }
.jiaoliuquantitle_z ul{ overflow-y:auto;/*可滑动*/ padding-top: 20px;  white-space: nowrap;  width: 100%; height: 30px; background: #fff;  }
.jiaoliuquantitle_z ul::-webkit-scrollbar{ display: none;}
.jiaoliuquantitle_z ul li{display: inline-block; color: #828282; font-size: 14px; padding: 5px 10px; }
.jiaoliuquantitle_z ol{overflow: hidden; padding:0 15px; background: #fff;}
.jiaoliuquantitle_z ol li{ width: 100%; overflow: hidden;  margin: 15px 0;}
.jiaoliuquantitle_z ol li p{ font-size: 14px; }

.yqjc_z{width: 100%; overflow: hidden; background: #fff;}
.yqjc_z h3{ width: 91%; margin-bottom: 15px; overflow: hidden; height: 40px; border-bottom: 1px solid #f1f1f1; line-height: 40px; padding-left: 4%; font-size: 18px; font-weight: 400; }
.yqjc_z h3:hover{ color: #ff44ad; }
.yqjc_z h3 .span2{ float: right; font-size: 14px; margin-right: 2%; }
.yqjc_z h3 .span1{ display: block; height: 39px; float: left; line-height: 40px; width: 80px; border-bottom: 1px solid #ff44ad; }

.yqjc_z ul{ overflow: hidden; width: 96%; margin-left: 2%; }
.yqjc_z ul li{ width: 44%; float: left; padding-left: 6%; margin-bottom: 8px;}
.yqjc_z ul li:before{ content: "▪"; margin-right: 8px; color: #ff44ad; }
.yqjc_z ul li a{ font-size: 14px;  }
.yqjc_z ul li a:hover{ color: #ff44ad; }

.footer_z{ width: 100%; overflow: hidden; }
.fotnav_z{ width: 100%; text-align: center; overflow: hidden; }
.fotnav_z a{ color: #ff44ad; font-size: 14px; margin-left: 5px; margin-right: 5px; }

.topchanges_z,.toplist{ width: 100%; height: auto; }
.toplist ul { padding-top: 25px; padding-bottom: 20px; width: 100%； margin-bottom:15px; overflow: hidden; }
.toplist ul li{ float: left; width:20%; text-align: center; font-size: 14px; cursor:pointer; }
.toplist ul li a:hover{ color: #ff44ad; }
.listbosax_z{width: 100%; overflow: hidden; padding: 15px;}
.listbosax_z img{ float: left; margin-right: 15px; }
.listbosax_z h3{ font-size: 16px; font-weight: 400; }
.listbosax_z p{ font-size: 14px; color: #333; padding: 0 15px; }
.lskadfh{ margin-bottom:25px; }

.lunbobox_z{margin-top: 15px;}
.lunbobox_z,.box_z{ width:100%; overflow: hidden; background: #fff; padding-bottom: 15px;}
.lunbobox_z h3{ font-size: 14px; font-weight: 400; padding: 15px 15px 0 0px; overflow: hidden; color: #333;}
.lunbobox_z p{ width: 85%; padding: 7px 0 0 5px; overflow: hidden;  font-size: 12px; color: #666;}

.wendaBox_z ul{overflow: hidden; width: 100%; padding-bottom:20px;}
.wendaBox_z ul li{ width: 100%; margin-bottom: 20px; overflow: hidden; padding: 0 15px; }
.wendaBox_z,.asdf_z{width: 100%; overflow: hidden; background: #fff;}
.asdf_z{ width: 77%; float: left;}
.asdf_z h4{ font-size: 14px; color: #16161f; }
.asdf_z h5 { font-size: 18px;  color: #16161f; font-weight: 400; padding: 8px 0; }
.asdf_z p{ font-size: 12px; color: #434343; }
.wendaBox_z h3{ width: 100%; margin: 15px 0; text-align: center; font-weight: 400; font-size: 18px; color: #333; }
.wendaBox_z img{ float: left; width: 10%; margin-right: 10px;}

.baikezs_z{ width: 100%; overflow: hidden; background: #fff; padding-bottom: 20px;}
.baikezs_z h3{ width: 100%; overflow: hidden; text-align: center; font-size: 18px; color: #333; font-weight: 400; padding-bottom:20px; }
.baikelistBoxes_z{ width: 100%; overflow: hidden; }
.sadflghksd_z{overflow: hidden; width: 100%; margin-bottom: 20px;}
.sadflghksd_z h4{ width: 100%; font-size: 16px; font-weight: 400; padding: 0 15px;}
.sadflghksd_z ul{ overflow: hidden; width: 100%; }
.sadflghksd_z ul li{ width: 40%; float: left; margin: 5px 8px; padding-left: 4%; }
.sadflghksd_z ul li:before{content:'▪'; color: #ff44ad; margin-right: 8px;}
.showboxmuen{ width: 100vw; height: 100vh; position: fixed; left: 0 ; top: 0; background: rgba(0,0,0,0.6); z-index: 9999; }
.thinmeBox{ width: 70vw; float: right; height: 100vh; background: #fff;z-index: 99999; }
.indexsy_z{ padding: 20px 10px; }
.indexsy_z span{ float: right; margin-right: 20px; }

.showboxmuen h3{ font-size: 16px; font-weight: 400; margin: 20px 0 10px 0; }
.showboxmuen p{ width: 100%; overflow: hidden; }
.showboxmuen p a{ display: block; width: 100%; padding-left:15px; font-size: 14px; line-height: 30px; }
.showboxmuen p a:hover{ color: #ff44ad; }

.denlgubox_z{width: 100%; overflow: hidden; min-height: 200px; background: #fff; text-align: center;}
.topimgs{ width: 100%; text-align: center; overflow: hidden; }
.topimgs,.inputformses_z{ overflow: hidden; width: 100%}
.topimgs img {margin-top: 40px;}

.denglus_z{width: 100%； overflow:hidden; background: #fff;}
.loginfrome{ width: 80%; margin-left: 10%; margin-top: 30px; }
.loginfrome1{ width: 80%; margin-left: 10%; margin-top: 10px; }
.loginfrome input{ border: none; outline: none; background: #fff; height: 30px; line-height: 30px; border-bottom: 1px solid #f1f1f1; width: 80%;}

#buttons_z{ width:90%; margin-left: 5%; background: grey; height: 50px; line-height: 50px; text-align: center;  border-radius: 50px; color: #fff;}
.loginfrome1 .span1{ float: left; }
.loginfrome1 .span2{ float: right; }
.loginfrome1 span{ font-size: 14px; }