<!DOCTYPE html>
<html>

<head>
    <meta name="randerer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="width=device-width,user-scale=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>首页</title>
    <script type="text/javascript" src="skins/js/jquery.js"></script>
    <script type="text/javascript" src="skins/js/avalon.js"></script>
    <script type="text/javascript" src="skins/js/rem.js"></script>
    <script type="text/javascript" src="skins/js/TouchSlide.1.1.js"></script>
    <link rel="stylesheet" href="skins/css/coment.css">
    <link rel="stylesheet" href="skins/css/css.css">
    <link rel="stylesheet" href="skins/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="skins/css/swiper.min.css">
    <script type="text/javascript" src="skins/js/swiper.min.js"></script>
    <script type="text/javascript" src="skins/js/zpto.min.js"></script>
</head>

<body style="background: #F6F7F8;"  ms-controller="indexbox">
    <header id="header" class="">
        <h1>
            <a href="###"><img src="skins/img/logo.svg" alt="网站logo"></a>
            <span id="menuicon" class="iconfont" ms-click="showmunelist(2)">&#xe611;</span>
        </h1>
        <div class="showboxmuen" ms-if="aa==2">
             <div class="thinmeBox">
                 <div class="indexsy_z">
                    <a href="###">首页</a>  <span ms-click="showmunelist(1)">x</span>
                    <ul>
                      <li>
                          <h3>育儿论坛</h3>
                          <p>
                             <a href="###">备孕交流圈</a>
                             <a href="###">好孕妈妈交流圈</a>
                             <a href="###">难孕交流圈</a>
                             <a href="###">试管婴儿交流圈</a>
                          </p>
                      </li>
                      <li>
                          <h3>互助问答</h3>
                          <p>
                             <a href="###">试管婴儿</a>
                             <a href="###">不孕不育</a>
                             <a href="###">备孕</a>
                             <a href="###">怀孕</a>
                          </p>
                      </li>
                      <li>
                          <h3>百科知识</h3>
                          <p>
                             <a href="###">备孕</a>
                             <a href="###">怀孕</a>
                             <a href="###">育儿</a>
                             <a href="###">试管婴儿</a>
                             <a href="###">不孕不育</a>
                          </p>
                      </li>
                      <li>
                          <h3>个人中心</h3>
                          <p>
                             <a href="###">我的资料</a>
                             <a href="###">我的消息</a>
                          </p>
                      </li>
                    </ul>
                 </div>
             </div>
        </div>
    </header>
    <div class="banandsearch_z">
        <img src="skins/img/511.png">
        <input type="" name="" placeholder="请输入关键词">
    </div>
    <div class="titltetae_z">
        <div class="jiaoliuquantitle_z">
            <h3>育儿论坛</h3>
            <ul>
                <li>备孕交流圈</li>
                <li>好孕妈妈交流圈</li>
                <li>难孕交流圈</li>
                <li>试管婴儿交流圈</li>
            </ul>
            <ol>
                <li>
                     <p style="margin-bottom: 10px;"><a href="###" style="font-size: 16px; margin-bottom: 15px;">我是文章标题最多显示一行，超出部分...</a></p>
                   <p style="float: left; font-size: 15px; color: #828282;"><img src="skins/img/Ellipse.png" style="vertical-align: middle; width: 20px;height: 20px;">黄求燕</p>
                   <p style="float: right; font-size: 15px; color: #828282;"><span class="iconfont">&#xe626;</span>999  <span class="iconfont" style="margin-left: 15px;">&#xe64c;</span>999</p>
                </li>
                <li>
                   <p style="margin-bottom: 10px;"><a href="###" style="font-size: 16px; margin-bottom: 15px;">我是文章标题最多显示一行，超出部分...</a></p>
                   <p style="float: left; font-size: 15px; color: #828282;"><img src="skins/img/Ellipse.png" style="vertical-align: middle; width: 20px;height: 20px;">黄求燕</p>
                   <p style="float: right; font-size: 15px; color: #828282;"><span class="iconfont">&#xe626;</span>999  <span class="iconfont" style="margin-left: 15px;">&#xe64c;</span>999</p>
                </li>                <li>
                     <p style="margin-bottom: 10px;"><a href="###" style="font-size: 16px; margin-bottom: 15px;">我是文章标题最多显示一行，超出部分...</a></p>
                   <p style="float: left; font-size: 15px; color: #828282;"><img src="skins/img/Ellipse.png" style="vertical-align: middle; width: 20px;height: 20px;">黄求燕</p>
                   <p style="float: right; font-size: 15px; color: #828282;"><span class="iconfont">&#xe626;</span>999  <span class="iconfont" style="margin-left: 15px;">&#xe64c;</span>999</p>
                </li>
            </ol>
        </div>
    </div>
     <style type="text/css">
            .focus{ width:100%;   margin:0 auto; position:relative; overflow:hidden;   }
            .focus .hd{ width:100%; height:11px;  position:absolute; z-index:1; bottom:5px; text-align:center;  }
            .focus .hd ul{ display:inline-block; height:5px; padding:3px 5px; background-color:rgba(255,255,255,0.7); 
                -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;
            }
            .focus .hd ul li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#8C8C8C; margin:0 5px;  vertical-align:top; overflow:hidden;   }
            .focus .hd ul .on{ background:#FE6C9C;  }
            .focus .bd{ position:relative; z-index:0; padding: 15px; }
            .focus .bd li img{ width:100%;  height:140px; background:url(images/loading.gif) center center no-repeat;  }
            .focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }
        </style>
    <div class="lunbobox_z">
       
           <div id="focus" class="focus">
                <div class="hd">
                    <ul></ul>
                </div>
                <div class="bd">
                    <ul>
                            <li>
                              <div class="box_z">
                                  <h3>育儿论坛文章标题最多显示一行超出部分隐藏...</h3>
                                  <p>育儿论坛文章标题最多显示一行超出部分隐藏育儿论坛文章标题最多显示一行超出部分隐藏...</p>
                               </div>
                              <a href="#"><img _src="skins/img/491.jpg" src="skins/img/491.jpg" /></a>
                            </li>
                            <li>
                              <div class="box_z">
                                  <h3>育儿论坛文章标题最多显示一行超出部分隐藏...</h3>
                                  <p>育儿论坛文章标题最多显示一行超出部分隐藏育儿论坛文章标题最多显示一行超出部分隐藏...</p>
                               </div><a href="#"><img _src="skins/img/491.jpg" src="skins/img/491.jpg"/></a></li>
                            <li>
                              <div class="box_z">
                                  <h3>育儿论坛文章标题最多显示一行超出部分隐藏...</h3>
                                  <p>育儿论坛文章标题最多显示一行超出部分隐藏育儿论坛文章标题最多显示一行超出部分隐藏...</p>
                               </div><a href="#"><img _src="skins/img/491.jpg" src="skins/img/491.jpg"/></a></li>
                    </ul>
                </div>
            </div>
            <script type="text/javascript">
                TouchSlide({ 
                    slideCell:"#focus",
                    titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
                    mainCell:".bd ul", 
                    effect:"left", 
                    autoPlay:true,//自动播放
                    autoPage:true, //自动分页
                    switchLoad:"_src" //切换加载，真实图片路径为"_src" 
                });
            </script>
    </div>

    <div class="wendaBox_z">
       <h3>热门问答</h3>
       <ul>
         <li>
           <a href="###"><img src="skins/img/elli.png"></a>
           <div class="asdf_z">
             <h4>吴紫新</h4>
             <h5>问答标题位子只显示一行...</h5>
             <p>我是回答的摘要部分，只展示一行超出部分用...代替</p>
           </div>
         </li>
         <li>
           <a href="###"><img src="skins/img/elli.png"></a>
           <div class="asdf_z">
             <h4>吴紫新</h4>
             <h5>问答标题位子只显示一行...</h5>
             <p>我是回答的摘要部分，只展示一行超出部分用...代替</p>
           </div>
         </li>
         <li>
           <a href="###"><img src="skins/img/elli.png"></a>
           <div class="asdf_z">
             <h4>吴紫新</h4>
             <h5>问答标题位子只显示一行...</h5>
             <p>我是回答的摘要部分，只展示一行超出部分用...代替</p>
           </div>
         </li>
         <li>
           <a href="###"><img src="skins/img/elli.png"></a>
           <div class="asdf_z">
             <h4>吴紫新</h4>
             <h5>问答标题位子只显示一行...</h5>
             <p>我是回答的摘要部分，只展示一行超出部分用...代替</p>
           </div>
         </li>
       </ul>
       <div style="width: 100%; text-align: center; margin: 0 0 20px 0;">查看更多>></div>

    </div>



    <div class="baikezs_z">
       <h3>百科知识</h3>
       <div class="baikelistBoxes_z">

          <div class="sadflghksd_z">
             <h4>二级分类标题</h4>
             <ul>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
             </ul>
          </div>

<div class="sadflghksd_z">
             <h4>二级分类标题</h4>
             <ul>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
             </ul>
          </div>

          <div class="sadflghksd_z">
             <h4>二级分类标题</h4>
             <ul>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
               <li><a href="###">文章内容详情</a></li>
             </ul>
          </div>




       </div>
    </div>


    <!-- /header -->
      <div class="footer_z" style="background: #fff; margin-top: 20px;">
            <p style="width: 100%; text-align: center; margin-top: 20px;"><img src="skins/img/footlogo.png" style="margin: 0 auto;"></p>
             <div class="fotnav_z">
                 <a href="###">首页</a> | <a href="###">育儿论坛</a> | <a href="###">热门问答</a> | <a href="###">百科知识</a>
             </div>
             <p style="text-align: center; color: #333; margin-bottom:25px; font-size: 12px; line-height: 25px; margin-top: 30px;">copyright @ 2000-2020 yuer.com ALL Right Reserved <br>
                鄂ICP备 16007708号-3<br>
                鄂公网安备 42011102004256号<br>
                友情链接：<a>友链1</a><a>友链2</a><a>友链3</a><a>友链4</a>
             </p>
        </div>
    <script type="text/javascript">
        avalon.config({
          interpolate: ["{", "}"]
        });
        var mva = avalon.define({
            $id:'indexbox',
            aa:2,
            showmunelist:function(res){
                  mva.aa = res;
            }
        });
    </script>
</body>

</html>