body,
ul,
img,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.ms-controller {
    visibility: hidden
}

body {
    background-color: #F9F9F9;
}

textarea {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

img {
    border: none;
}

body .wid {
    width: 1200px;
}

a {
    text-decoration: none;
    color: #333;
}

input,
button {
    padding: 0;
    margin: 0;
    border: 1px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    /*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
    /*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}

#body a:hover {
    color: #FF44AD;
}

.header {
    height: 150px;
    width: 100%;
    border-bottom: 1px solid #f8eaea;
    background: #fff;
}

.headerNav {
    height: 150px;
    width: 1200px;
    margin: 0 auto;
    background: #fff;
}

.headerNav .logos {
    width: 289px;
    height: 150px;
    float: left;
}

.headerNav-ul {
    float: left;
}

.headerNav-ul ul {
    margin-top: 65px;
}

.headerNav-ul ul li {
    float: left;
    margin: 5px 17px;
    position: relative;
}

.xialabox {
    position: absolute;
    z-index: 999;
    left: -16px;
    top: 20px;
    background: #f2f2f2;
    width: 140px;
    padding: 10px 0;
    border-radius: 5px;
}

.xialabox p {
    padding: 5px 5px 5px 14px;
}

.xialabox p a {
    text-decoration: none;
    color: #333;
}

.shownone {
    display: none;
}

.headerNav-ul ul li a.acolor {
    text-decoration: none;
    color: #666;
    border-width: blod;
    font-family: 'Î¢ÈíÑÅºÚ';
    display: block;
    padding-right: 27px;
    background: url('../img/xjt.png') 70px center no-repeat;
}

.headerNav-ul ul li a.nava {
    color: #ff44ad;
}

.headerNav-ul ul li a:hover {
    color: #ff44ad;
}

.denglu {
    float: right;
    position: relative;
}

.denglu .pps {
    width: 162px;
    height: 32px;
    border-radius: 5px;
    color: #ff44ad;
    background: url('../img/searchbg.png') no-repeat;
    padding-left: 54px;
}

/*.denglu p input{ width: 162px; height: 32px;  border-radius: 5px; outline: none;}*/
/*border: 1px solid #ff44ad; */
.denglu .pps input {
    width: 110px;
    height: 30px;
    margin-top: 1px;
    margin-left: 14px;
}

.denglu .pps i {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 0px;
    cursor: pointer;
}

.denglu .pps a {
    color: #ff44ad;
    margin-left: 5px;
    text-decoration: none;
}

.denlgu p a {
    color: #F94479£»
}


.yiyuansearch { /*background-image: url(../img/searchxl.jpg);*/
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 35px center;
    position: absolute;
    left: 0;
    font-size: 14px;
    font-family: "Î¢ÈíÑÅºÚ";
    width: 55px;
    padding-left: 5px;
    height: 32px;
    line-height: 32px;
    color: #666;
    cursor: pointer;
}

.hites {
    display: none;
}

.yiyuansearch ul li {
    text-align: center;
}

.yiyuansearch ol {
    width: 100%;
    overflow: hidden;
    background: #f1f1f1;
}

.yiyuansearch ol li {
    float: left;
    width: 48%;
    height: 30px;
    margin-left: 2%;
    line-height: 30px;
    text-align: center;
}

#sgyer_main .sg_select {
    background-color: #FF44AD;
    border-radius: 5px;
    color: #FFD7ED;
}

/* hotinfo  热点新闻调用 */

.rtglob {
    padding: 0 20px 0 10px;
    background-color: #fff;
    border-radius: 10px;
    width: 365px;
}

#hotinfo {
    height: 479px;
}

.tit_head {
    height: 43px;
    padding-top: 25px;
    margin-bottom: 33px;
    border-bottom: 1px solid #DCDCDC;
}

.tit_head h3 {
    float: left;
    height: 31px;
    font-weight: normal;
    padding-bottom: 12px;
    font-family: Microsoft YaHei;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0px;
    color: #333333;
    border-bottom: 1px solid #FF44AD;
}

.tit_head a {
    float: right;
    width: 54px;
    margin-top: 10px;
    height: 21px;
    background-image: url('../images/sgyer/more.png');
}

.newinfo > a,
.newinfo > div {
    float: left;
}

.newinfo img {
    width: 133px;
    height: 108px;
    background-image: linear-gradient(90deg,);
    border-radius: 5px;
}

.newinfo > div {
    width: 220px;
    margin-left: 12px;
}

.newinfo h4 {
    width: 220px;
    height: 54px;
    font-family: Microsoft YaHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0px;
    color: #333333;
}

.newinfo h4 > a span {
    display: inline-block;
    width: 32px;
    height: 20px;
    padding: 2px;
    color: #FF44AD;
    margin-right: 10px;
    text-align: center;
    background-color: #FFE8F5;
    border-radius: 3px;
    line-height: 20px;
}

.newinfo h4 > a {
    font-family: Microsoft YaHei;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #333333;
}

.newinfo p a {
    width: 204px;
    height: 48px;
    font-family: Microsoft YaHei;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: 0px;
    color: #999999;
}

.hotlist {
    margin-top: 2px;
}

#hotinfo .hotlist > li {
    width: 100%;
    height: 21px;
    margin-top: 26px;
    line-height: 21px;
}

.hotlist > li > span {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-right: 8px;
    width: 17px;
    height: 17px;
}

.hotlist > li:nth-of-type(1) > span {
    background-image: url('../images/sgyer/s1.png');
}

.hotlist > li:nth-of-type(2) > span {
    background-image: url('../images/sgyer/s2.png');
}

.hotlist > li:nth-of-type(3) > span {
    background-image: url('../images/sgyer/s3.png');
}

.hotlist > li:nth-of-type(4) > span {
    background-image: url('../images/sgyer/s4.png');
}

.hotlist > li:nth-of-type(5) > span {
    background-image: url('../images/sgyer/s5.png');
}

.hotlist > li a {
    letter-spacing: 0px;
    color: #333333;
    font-family: Microsoft YaHei;
    font-size: 16px;
}


/* hospitalinfo  */

#hospitalinfo {
    height: 510px;
    margin-top: 30px;
}

#hospitalinfo ul {
    width: 352px;
    margin-left: 15px;
}

#hospitalinfo ul .hostitle {
    width: 100%;
    margin: 15px 0 20px 0;
    height: 21px;
    font-size: 16px;
    line-height: 21px;
}

.hostitle a:nth-of-type(1) {
    font-family: Microsoft YaHei;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #333;
}

.hostitle a:nth-of-type(2) {
    width: 20px;
    height: 20px;
    background-image: url('../images/sgyer/xyou.png');
}

.hostinbox li > a[hostimg='show'] {
    display: none;
}

.hostinbox li > a[hostimg='show'] > img {
    width: 355px;
    height: 140px;
}

#hospitalinfo .imgshow {
    display: block;
}


/* doctorinfo  */

#doctorinfo {
    height: 685px;
    margin-top: 27px;
}

#doctorinfo .doctorlis {
    width: 348px;
    height: 569px;
}

.doctorlis li {
    margin-bottom: 30px;
}

.doctorlis li > a,
.doctorlis li .r_info {
    float: left;
}

.doctorlis li > a img {
    width: 113px;
    height: 113px;
    margin-right: 18px;
    background-color: #eaeaea;
    border-radius: 10px;
}

.doctorlis li .r_info {
    width: 217px;
}

.doctorlis li .r_info h5 {
    float: left;
    width: 100%;
    height: 21px;
    font-family: Microsoft YaHei;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #333333;
}

.doctorlis li .docname > span {
    width: 56px;
    height: 19px;
    font-family: Microsoft YaHei;
    font-size: 14px;
    line-height: 19px;
    /*margin-left: 18px;*/
    letter-spacing: 0px;
    color: #666666;
}

.doctorlis li p:nth-of-type(1) {
    width: 131px;
    height: 16px;
    font-family: Microsoft YaHei;
    font-size: 12px;
    margin-top: 10px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #999999;
}

.infolong {
    width: 211px;
    height: 16px;
    font-family: Microsoft YaHei;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 6px 0 14px 0;
    letter-spacing: 0px;
    color: #999;
}

.infolong > span {
    color: #666;
}

.doctorlis li p:nth-of-type(3) {
    width: 211px;
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* yuerlt---育儿论坛板块 */

html body .yesShow {
    display: block;
}

.yuermeta_h {
    width: 815px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #EDEDED;
}

.yuermeta_h > h3 {
    float: left;
    display: inline;
}

.yuermeta_h > h3 > a {
    display: block;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #ff44ad;
}

.yuermeta_h > h3 {
    max-width: 150px;
    height: 31px;
    padding-bottom: 8px;
    border-bottom: 1px solid #FF44AD;
}

.yuermeta_h > p {
    float: right;
    margin-top: 10px;
    height: 21px;
}

.yuermeta_h > p a {
    display: block;
    width: 52px;
    height: 21px;
    background-image: url(../images/yuerlt/more.png);
}

body .rgt_tit {
    margin: 0 auto;
    margin-top: 25px;
    width: 296px;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 10px;
}

body .rgt_tit > h4 > span {
    display: inline-block;
    height: 31px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 8px;
    border-bottom: 1px solid #FF44AD;
}

body .sjchangebtn {
    position: absolute;
    bottom: 21px;
    left: 50%;
    transform: translateX(-50%);
    width: 84px;
    height: 27px;
    cursor: pointer;
}


/* hot_bq */

.hot_bq {
    margin-top: 17px;
    padding: 0 20px 0 27px;
    width: 292px;
    height: 255px;
    background-color: #fff;
    border-radius: 5px;
}

.hot_bq .rgt_tit {
    padding-top: 20px;
}

.hot_bq .hot_bqbox {
    width: 292px;
    max-height: 180px;
    margin: 0 auto;
    margin-top: 26px;
}

.hot_bqbox > li {
    float: left;
    margin: 0 20px 20px 0;
    padding: 0 10px 0 10px;
    height: 25px;
    background-color: #fba2d4;
    border-radius: 5px;
    line-height: 24px;
    opacity: 0.81;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hot_bqbox > li a {
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
}


/* layui */

#test1 .layui-laypage a {
    padding: 0 10px;
}


/* tjjlq */

.tjjlq {
    width: 296px;
    height: 402px;
    padding: 25px 10px 0 17px;
    margin-top: 18px;
    background-color: #fff;
    border-radius: 5px;
}

.tjjl-h {
    border-bottom: 1px solid #EDEDED;
}

.tjjl-h h3 {
    width: 120px;
    height: 31px;
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px solid #FF44AD;
    line-height: 31px;
    letter-spacing: 0px;
    color: #333;
    padding-bottom: 10px;
}

.tjjlbox {
    margin-top: 20px;
}

.tjjlbox li {
    height: 60px;
    margin-bottom: 30px;
}

.tjjlbox li a {
    display: block;
}

.tjjlbox > li div {
    float: left;
}

.tjjlbox > li div > a > img {
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 35px;
}

.tjjlbox > li div > a > span {
    position: relative;
    float: left;
    max-width: 126px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    top: 7px;
}

.tjjlbox > li > div:nth-of-type(2) {
    float: left;
    margin-left: 41px;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0px;
}


/* swiper  style */

.pagination {
    position: absolute;
    z-index: 20;
    right: 154px;
    bottom: 42px;
    width: 100px;
    height: 11px;
    text-align: center;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #F2F2F2;
    margin: 0 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}

.swiper-active-switch {
    background: #FF44AD;
}

body .leftBtn {
    position: absolute;
    display: none;
    z-index: 20;
    left: 0;
    font-size: 40px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
}

body .rightBtn {
    position: absolute;
    z-index: 20;
    display: none;
    right: 0;
    font-size: 40px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
}

body .lis-select .askSelect {
    border: 1px solid #FF44AD;
    color: #FF44AD;
}

/*luntanhot topic*/
body .hotTopic {
    width: 293px;
    height: 920px;
    padding: 20px 10px 0 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: solid 1px rgba(237, 237, 237, 0.5);
}

body .hotTopic .topic_Head {
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 10px;
}

body .hotTopic .topic_Head > h6 {
    max-width: 120px;
    height: 31px;
    font-size: 24px;
    padding-bottom: 8px;
    border-bottom: 1px solid #FF44AD;
    line-height: 28px;
    color: #333;
}

body .topicBox {
    width: 278px;
    height: 864px;
}

body .topicBox li {
    height: 68px;
    margin-bottom: 20px;
}

body .topicBox li > a, body .topicBox li > div {
    float: left;
}

body .topicBox li > div {
    width: 140px;
    margin-left: 20px;
}

body .topicBox li > div > span {
    width: 62px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #999;
}

body .topicBox li > div > p > a {
    display: block;
    font-size: 14px;
    height: 42px;
    line-height: 21px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

body .topicBox li img {
    width: 102px;
    height: 68px;
    border-radius: 5px;
}

/*biaoqingbao yangshi */
#chatbox {
    margin: 200px auto 0px;
    width: 50%;
}

#emoji {
    width: 50px;
    font-size: 2em;
    cursor: pointer;
    float: left;
}

#send {
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #66f3f1;
    color: #fff;
    float: right;
    cursor: pointer;
    padding: 0px;
    margin-right: -6px;
}

#result {
    clear: both;
    min-height: 50px;
    padding-top: 30px;
}

/*下面是表情的一些样式，可自行修改*/

.emoji-box {
    overflow: hidden;
    width: 50%;
    position: absolute;
    border: 1px solid #ccc;
    z-index: 9998;
    background: #fff;
    border-radius: 5px;
}

em.tip {
    content: '';
    width: 0px;
    height: 0px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
    position: absolute;
    z-index: 99999;
}

em.tip2 {
    content: '';
    width: 0px;
    height: 0px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    z-index: 99999;
}

.emoji-box > .emoji-btn-box {
    border-bottom: 1px solid #ccc;
}

.emoji-box > .emoji-btn-box > span {
    min-width: 50px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 2px 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: #ccc;
}

.emoji-box > ul.emoji-ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.emoji-box > ul.emoji-ul > li.emoji-li {
    border: 1px solid #fff;
    list-style: none;
    float: left;
}

.emoji-box > ul.emoji-ul > li.emoji-li:HOVER {
    border: 1px solid blue;
}

/*biaoqingbao yangshi jieshu*/


/* hot_arc */

.hot_arc {
    position: relative;
    width: 296px;
    height: 480px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 18px 0 2px;
}

.hot_arc > ul {
    margin-top: 16px;
}

.hot_arc > ul li {
    height: 24px;
    margin-bottom: 18px;
}

.hot_arc > ul li > a span:nth-child(odd) {
    float: left;
    max-width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
}

.hot_arc > ul li > a {
    display: block;
    height: 26px;
}

.hot_arc > ul li > a span:nth-child(even) {
    float: right;
    height: 14px;
    font-size: 12px;
    margin-left: 30px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #bebebe;
}

.hot_arc > ul li > a span:nth-of-type(2) i {
    position: relative;
    margin-right: 4px;
    top: 2px;
}

/*遮罩样式*/
.mainzz {
    position:absolute;
    top:0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color:#000;
    opacity: 0.1;
    z-index:999;
}

.mainzz a {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: 200px;
}

.mainzz .loading {
    position:absolute;
    width: 80px;
    height: 40px;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);

}

.mainzz .loading span {
    display: inline-block;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background: lightgreen;
    -webkit-animation: load 1s ease infinite;
    animation: load 1s ease infinite;
}

@-webkit-keyframes load {
    0%,
    100% {
        height: 40px;
        background: lightgreen;
    }
    50% {
        height: 70px;
        margin: -15px 0;
        background: lightblue;
    }
}

.mainzz .loading span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.mainzz .loading span:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.mainzz .loading span:nth-child(4) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.mainzz .loading span:nth-child(5) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

