.listswenda li > div > a > img {
    width: 36px;
    height: 36px;
}

/*列表样式*/

.listswenda > ul li {
    padding: 19px 0;
    border-bottom: 1px dashed #E4E4E4;
    max-height:176px;
    margin: 0 20px;
}

.listswenda > ul li .topicbox {
    max-height: 137px;
}

.listswenda ul li > a {
    float: left;
}

.listswenda ul li > a > img {
    margin-right: 20px;
    border-radius: 8px;
    width: 206px !important;
    height: 137px !important;
}

.listswenda > ul li .topicbox h3{
    height:21px;
    font-size:16px;
    font-weight:bold;
    color:#333;
    margin-bottom: 10px;
}
.listswenda > ul li .topicbox p{
    max-height: 64px;
    padding-right:10px;
    text-indent: 2em;
    font-size:14px;
    line-height:21px;
    color:#666;
    overflow: auto;
}
.listswenda .topicbox>a{
    display:block;
   margin-bottom: 19px;
}
.listswenda .topicbox .userleft img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right:10px;
}
.userleft span:nth-of-type(1){
    font-size:12px;
    color:#999;
    margin-right:30px;
}
.userright span{
    float:left;
    padding-right: 10px;
    color:#999;
}
.userright>span:nth-of-type(1){
    margin-right:54px;
}
.userright span i{
    position:relative;
    top:4px;
    font-size:20px;
    margin-right:8px;
}
/*列表样式结束*/
.floafright > a:nth-of-type(2) > p {
    overflow: auto;
}

.floafright > a img {
    float: left;
    margin: 0 auto;
    margin-right: 8px;
    max-width: 242px;
    max-height: 150px;
}

#pagers {
    margin-left: 50px;
    margin-top: 20px;
}

.hzwdleftse > ol > li {
    padding: 30px;
    width: 324px;
    height: 175px;
    margin: 0;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.hzwdleftse h3 {
    font-weight: bold;
    margin-bottom: 12px;
}

.hzwdleftse > ol > li:nth-child(odd) {
    margin-right: 62px;
}

.hzwdleftse > ol > li > p:nth-of-type(1) {
    height: 19px;
    overflow: hidden;
}

.hzwdleftse > ol > li > p:nth-of-type(2) {
    margin-bottom: 18px;
}

.hzwdleftse > ol > li > img {
    width: 60px;
    height: 60px;
    margin-top: 30px;
    border-radius: 50%;
}

.partwdone > img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.partwdone > h3 {
    margin-bottom: 10px;
}

.partwdone > p > i {
    margin-left: 15px;
}

#postMain .postBox .newPost {
    width: 50%;
}

.partwdone > p > a.isthumbup {
    color: red;
}

.fuwenda > p > abbr {
    float: right;
    cursor: pointer;
    display: block;
    padding: 5px 15px;
    border-radius: 4px;
    background: #ff44ad;
    color: #fff;
}

.hzwdleftse {
    /*margin-top: 28px;*/
}

.Muserinfo > img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.Muserinfo > p:nth-of-type(2) {
    margin-top: 22px;
    text-indent: 2em;
    max-height: 500px;
    color: #aaa;
    overflow: auto;
}

.Muserinfo > p img {
    display: block;
    margin: 10px auto;
    width: 484px !important;
    height: 300px !important;
    border-radius: 10px;
}

.Muserinfo > p:nth-of-type(2) > img {
    max-width: 600px;
    max-height: 800px;
}

.Muserinfo > h3 {
    margin-bottom: 20px;
}

.Muserinfo > p > i {
    display: inline-block;
    font-size: 20px;
}

.Muserinfo > p > i:nth-of-type(2) {
    margin-left: 36px;
}

.Muserinfo > p > abbr > i {
    display: inline-block;
    margin-right: 13px;
    font-size: 20px;
}


.fuwenben > p > a {
    float: right;
}

.plinfobox .isShow > span i {
    margin-right: 30px;
    font-size: 18px;
}

.plinfobox > li > img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.fuwenben > p .same {
    float: left;
    max-width: 100px;
    padding: 0 10px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
    background-color: #FF44AD;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fuwenben > p > span {
    float: left;
}

.plbox {
    margin-top: 100px;
}

.plbox .plhead {
    padding-top: 10px;
    height: 27px;
    background-color: #C9C9C9;
    opacity: 0.5;
}

.plbox .plhead > select {
    background-color: #C9C9C9;
}

#hzwdinfo .plinfobox > li {
    margin: 0;
    width: 100%;
    margin-bottom: 48px;
}

.plinfobox > li > img {
    float: left;
    margin-right: 12px;
}

.userinfo > p:nth-of-type(1) {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 14px;
}

.userinfo > p:nth-of-type(2) {
    margin-bottom: 20px;
    font-size: 14px;
}

.userinfo .plinfobox > div > p {
    float: left;
    width: 90%;
    font-size: 14px;
    height: 24px;
    margin-right: 30px;
    line-height: 20px;
    overflow: auto;
}

.userinfo .plinfobox > div > span i {
    font-size: 18px;
}

.userinfo .plinfobox > span {
    float: right;
}

.plinfobox > p {
    float: left;
    height: 20px;
    width: 100%;
    background-color: #d2d2d2;
    opacity: 0.5;
}

.plinfobox .isShow {
    display: none;
}

.plinfobox .isShow > span {
    display: block;
    height: 20px;
    width: 20%;
    margin: 0 auto;
    color: #000;
}

.plinfobox .isShow > span i {
    margin-right: 30px;
    font-size: 18px;
}

#hzwdinfo .isthumb {
    color: red;
}

#postMain .tjTopic {
    position: relative;
    max-width: 200px;
    z-index: 999;
    height: 30px;
    padding: 0;
    margin-left: 48px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #E2E2E2;
}

#postMain .tjTopic > ul:nth-of-type(1) {
    position: absolute;
    width: 100%;
    display: none;
    background-color: #0C0C0C;
    opacity: 0.5;
    color: #fff;
    z-index: 99;
}

#postMain .tjTopic > ul:nth-of-type(2) {
    position: absolute;
    display: none;
    left: 100%;
    height: 300px;
    color: #fff;
    overflow: auto;
    opacity: 0.8;
    background-color: #787878;
    width: 600px;
}

#postMain .tjTopic > ul:nth-of-type(2) li {
    float: left;
    padding: 10px;
    font-size: 14px;
}

#postMain .tjTopic > ul > li {
    height: 30px;
}

.tjTopic > ul li:hover {
    background-color: #F94479;
}

.remenhuati > ol > li img {
    width: 50px;
    height: 50px;
}
